<!doctype html>
<html lang="en">
<head>
	<title>Wizixo | Creative Multipurpose Bootstrap Template</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Webestica.com">
	<meta name="description" content="Creative Multipurpose Bootstrap Template">

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/images/favicon.ico">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900%7CPlayfair+Display:400,400i,700,700i%7CRoboto:400,400i,500,700" rel="stylesheet">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="assets/vendor/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="assets/vendor/themify-icons/css/themify-icons.css" />
	<link rel="stylesheet" type="text/css" href="assets/vendor/animate/animate.min.css" />

	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="assets/css/style.css" />

</head>

<body>
	<div class="preloader">
		<img src="assets/images/preloader.svg" alt="Pre-loader">
	</div>

	<!-- =======================
	maintenance mode -->
	<section>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mx-auto text-center">
					<h1 class="display-4 font-weight-bold text-grad">Something exciting is coming your way!</h1>
					<p>A Full package Digital Creative Agency Specializing in: Video Production, Web Design, Branding, Brand Strategy, Content Marketing and Aerial Cinematography. We are an insight and behavior driven creative marketing agency.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 mx-auto text-center">
					<div class="skill skill-text-in skill-grad mb-0 mb-md-4">
						<div class="skill-wrap">
							<!-- Skill item -->
							<div class="skill-item">
								<p>Launch Progress</p>
								<div class="progress">
									<div class="progress-bar wow fadeInLeft" data-wow-duration="3s" data-wow-delay="1s" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%"><span class="skill-percent">85%</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- subscribe form-->
					<form class="mt-4">
						<p>Please subscribe to newsletter to get updates from us.</p>
						<div class="input-group">
							<input class="form-control bg-transparent border-radius-3 mr-2 py-0" type="text" placeholder="Enter your email...">
							<button class="btn btn-dark align-self-center m-0">Notify me!</button>
						</div>
					</form>
					<!-- social icons -->
					<ul class="social-icons round light si-colored-bg-on-hover text-center mt-5">
						<li class="social-icons-item social-facebook"><a class="social-icons-link" href="#"><i class="fa fa-facebook"></i></a></li>
						<li class="social-icons-item social-instagram"><a class="social-icons-link" href="#"><i class="fa fa-instagram"></i></a></li>
						<li class="social-icons-item social-twitter"><a class="social-icons-link" href="#"><i class="fa fa-twitter"></i></a></li>
						<li class="social-icons-item social-youtube"><a class="social-icons-link" href="#"><i class="fa fa-youtube"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- =======================
	maintenance mode -->


	<!--Global JS-->
	<script src="assets/vendor/jquery/jquery.min.js"></script>
	<script src="assets/vendor/popper.js/umd/popper.min.js"></script>
	<script src="assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!--Vendors-->
	<script src="assets/vendor/wow/wow.min.js"></script>

	<!--Template Functions-->
	<script src="assets/js/functions.js"></script>

</body>
</html>