<include src="mint-section-header.html"/>
<include src="mint-section-title.html" title="Our Brand"/>
<link rel="stylesheet" type="text/css" href="css/brand.css"/>

<section class="py-4">
    <div class="container">
        <div class="mx-auto">
            <h2 class="mb-4 text-primary">Our Logos</h2>

            <include src="mint-section-brand-logos.html"/>

        </div>
    </div>
</section>

<section class="py-4">
    <div class="container">
        <h2 class="mb-4 text-primary">Palette</h2>
        <p>We provide two different themes within Linux Mint, Mint-Y and Mint-X. </p>

        <include src="mint-section-brand-palettes.html"/>

    </div>
</section>

<section class="py-4">
    <div class="container">
        <h2 class="mb-4 text-primary">Merchandise</h2>
        <p>From T-shirts to Linux Mint branded computers, you can find our range of Linux Mint branded merchandise in our official store.</p>
        <p class="text-center"><a href="./mint-store.html" class="btn btn-grad">View our Store</a></p>

    </div>
</section>

<section class="py-4">
    <div class="container">
        <h2 class="mb-4 text-primary">Brand Usage</h2>
        <p>Linux Mint is copyrighted 2006 and trademarked through the Linux Mark Institute. All rights reserved.</p>
    </div>
</section>

<section class="py-4">
    <div class="container">
        <h2 class="mb-4 text-primary">Find our Brand on GitHub</h2>
        <p>Click the link below to view our Brand and Assets on GitHub</p>
        <p class="text-center"><a href="https://github.com/linuxmint/brand-logo" class="btn btn-grad">View on GitHub</a></p>
    </div>
</section>

<include src="mint-section-sponsors.html"/>
<include src="mint-section-footer.html"/>
