<include src="mint-section-header.html"/>

	<include src="mint-section-title.html" title="Privacy and cookies"/>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 mb-4">
					<p>The Linux Mint Privacy and Cookie Policy was last updated on Aug 3rd, 2021.</p>

					<h4>Philosophy</h4>

						<p>Your privacy is very important to us. At Linux Mint Team we are committed to gathering as little personal data as possible, ideally and in mosts cases, no data at all, and when data is gathered to protecting and respecting it.</p>

						<h5>Guiding Principles</h5>

							<p>Here are our key principles when it comes to privacy:
								<ul>
								<li>Your data belongs to you.</li>
								<li>We respect your rights, in particular your rights to access and modification of your data.</li>
								<li>We do not look at personal data as an asset, but as a liability.</li>
								<li>We only store personal data when it is needed, either for our services to operate properly, or to comply with the law.</li>
								<li>We want as little of your personal data as possible. For most of the services and products we provide, we do not need to know anything personal about you. We try to reduce the amount of data we gather as much as possible.</li>
								<li>We are transparent about data collection and use. If anything isn't clear or satisfactory, please contact us and we'll help and/or fix the issue.</li>
								<li>We protect data via strong security, encryption and anonymizing techniques.</li>
								<li>We do not store contact information for marketing purposes.</li>
								</ul>
							</p>

					<h4>Privacy Policy</h4>

						<h5>Introduction</h5>

							<p>What is herein referred to as "products" is a set of Internet websites, products and services operated by Linux Mint Ltd. (“Linux Mint”, “we” or “us”), a company registered in the Republic of Ireland. This privacy policy describes what information we collect, how we use that information, and what options you have to control your personal information.</p>

							<p>We sometimes need to process your personal information in order to provide our products. By using our products you confirm that you have read and understood this privacy policy. If you do not want us to collect or process your personal information as described herein, you have several choices including limiting the information we collect on you, or not using our products.</p>

							<p>By using these products, you acknowledge that Linux Mint will use your information in the Republic of Ireland and in any country where Linux Mint operates. This privacy policy complies with the EU’s General Data Protection Regulation (GDPR). Please be aware that the privacy laws and standards in certain countries, including the rights of authorities to access your personal information, may differ from those that apply in the country in which you reside. We will transfer personal information only to countries to which we are permitted by law to transfer personal information and we will continue to ensure that your personal information is appropriately safeguarded.</p>

						<h5>Collected Data</h5>

							<p>This section details what data is gathered and how it is collected.</p>

							<h6>Account Registration</h6>

								<p>Although the websites and products provide for anonymous and pseudonymous participation, in some instances in order to use certain features, we require account registration. This requires a unique nickname associated with your account, an email address, and in some cases, additional information including, an IP address and a password to help secure your personal information.</p>

							<h6>Profile Information</h6>

								<p>When setting up a public “profile” or a signature, you may share information that is not required but will be displayed publicly at your election.</p>

							<h6>Server and Website Information</h6>

								<p>Linux Mint uses server software such as Apache, Wordpress, Akismet, PHPBB which receive and record networking information sent by your computer and your browser or mobile device when you visit our websites. This information may include your Internet Protocol (IP) address or unique device identifier. This information is stored in secure logs and is collected automatically.</p>

							<h6>OAuth</h6>

								<p>In an effort to reduce the amount of data we gather and to no longer store email addresses and passwords, we offer single sign-on solutions for account login on some of our websites. As a result, third-parties including Github, Facebook and Google may receive information when you elect to use them. When Linux Mint shares your personal information and other collected information with third party service providers, we require that they use your information only for the purpose of providing services to us and that their terms are consistent with this privacy policy.</p>

							<h6>Google Adsense</h6>

								<p>Authorized third parties such as Google Adsense place cookies as described in our <a href="#cookies-policy">Cookies Policy</a>. We use this information to serve you certain advertising content.</p>

							<h6>Google Analytics</h6>

								<p>Linux Mint uses Google Analytics for pages which URL starts with linuxmint.com/start/. The information collected is anonymized and is used by Linux Mint to have a rough idea of how successful each particular release is.</p>

							<h6>Paypal</h6>

								<p>When you make a donation we receive personal information from Paypal. Transaction dates, amounts and county of origin are kept and shared with accountants and the Irish tax authorities. Although your full name and your postal address are kept by Paypal and accessible by us via Paypal, we do not store, copy or share this information.</p>

								<p>We keep a record of your email address to be able to identify future donations from being associated with you and to provide you with information and access to the list of donations you sent us.</p>

						<h5>Your Rights</h5>

							<p>You may change or correct your account settings. Most of the data we collect is voluntary and your choice entirely to provide us or not. You may remove certain optional information that you no longer wish to be publicly displayed. You may also request the permanent deletion of your account, in which case all personal information collected on you will be removed (except, in some cases your IP address required for security purposes, site maintenance, and spam protection).</p>

							<p>In accordance with the GDPR, you also have the right to data access and portability (including the right to obtain and download a copy of the personal data you provided to Linux Mint), data correction (the ability to update the personal data we collect and display on you, in many cases via your account settings), data deletion (where Linux Mint will delete personal information stored on you, which we are not required by necessity to maintain), and the ability to have us stop processing your personal data (with certain exceptions as may be necessary). Please also be aware that in order to provide some of these data choices to you, we may need to first verify your identity. We will make reasonable efforts to verify your identity, however if we are unable to do so, we reserve the right to refuse such a request in keeping with data privacy and information security principles.</p>

						<h5>Data Security</h5>

							<p>Security is important to us and we know it is important to you. Linux Mint follows generally accepted standards to protect your personal information when processing, transferring, and storing your personal information including Transport Layer Security (“TLS”), by restricting your personal data when we do not need to access it and by keeping your personal data only as necessary.</p>

							<p>As the data provider, you too have an important role to play in helping us protect your personal information. We encourage you to protect yourself against unauthorized access to your personal information by choosing a password carefully and in accordance with industry best standards. Do not share your password with anyone you do not trust, and make sure your computer accesses Linux Mint via a secure network and that you do not leave your personal information vulnerable to hackers and other bad actors by leaving your computer unattended or by failing to logout of your account when you have ended your session activity.</p>

							<p>All records containing personal information are considered to be proprietary and are afforded confidential treatment at all times. Linux Mint is committed to the safety and security of your personal data and the information that you share with us and with the public. We treat your personal safety and safety from harassment as top organizational priorities. At Linux Mint we consider it necessary to pursue these legitimate interests in order to keep our community, you and your information safe from spam, harassment, intellectual property infringement, identity theft, and the scraping and unlawful collection of your information.</p>

					<h4 id="cookies-policy">Cookies Policy</h4>

						<h5>How Does Linux Mint Use Cookies?</h5>

							<p>A cookie is a small piece of text that allows a website to recognize your device and maintain a consistent, cohesive experience throughout multiple sessions. If you use the our websites, both Linux Mint and third parties will use cookies to track and monitor some of your activities, and store and access some data about you, your browsing history, and your usage of the Linux Mint websites.</p>

							<p>This policy describes how both Linux Mint and other third parties use cookies and how you can exercise a greater degree of control over cookies. Please keep in mind that this may alter your experience with our platform, and may limit certain features (including being logged in as a user).</p>

							<h6>Cookie banners</h6>

								<p>We use cookie banners to warn you about the fact that our websites use cookies. These banners themselves set a cookie when you dismiss them. Without this cookie, the cookie banners could not remember that you dismissed them and would constantly appear every time you load a new web page.</p>

							<h6>Session cookies</h6>

								<p>We use session cookies for account registrations and log ins. These cookies are generated and necessary for our web software to authenticate you and log you in your account correctly.</p>

							<h6>Advertising</h6>

								<p>We use Google Adsense to provide advertising and help fund our project.</p>

								<p>On all websites using Adsense, including Linux Mint's, Google use cookies to track your web activity and to guess what commercial products you're most likely to be interested in. This information is then used by Adsense to provide personalized adverts to you.</p>

							<h6>Analytics</h6>

								<p>On URLs which start with linuxmint.com/start, we use Google Analytics to measure the number of visits and have a rough idea of how successful new releases are.</p>

								<p>Google Analytics use cookies to provide us with this information.</p>

						<h5>What information is collected on me via cookies?</h5>

							<p>In general, we collect most data from you via form submission. However, there are cases when visiting our site and/or using our platforms in which we may receive certain information through the use of cookies. This data will generally not include personally identifying information about you.
								<ul>
									<li>Unique identification tokens (this is used to know when/if you already logged in)</li>
									<li>Cookie dismissals (this is used to know if you already dismissed the cookie banner)</li>
								</ul>
							</p>

							<h6>Third Party Cookies</h6>

								<p>Third party services such as Google Adsense and Analytics provide their own policies:
									<ul>
										<li><href="https: policies.google.com="" privacy"="">Google Privacy Policy</href="https:></li>
										<li><href="https: support.google.com="" analytics="" answer="" 6004245"="">Information about Google Analytics</href="https:></li>
										<li><href="https: support.google.com="" dfp_premium="" answer="" 2839090?hl="en&quot;">How Doubleclick uses Cookies</href="https:></li>
									</ul>
								</p>

						<h5>How do I restrict cookies?</h5>

							<p>You can adjust the settings on your internet browser and choose from the available Cookies setting to best meet your preferences. While setting options may vary from browser to browser, you can generally choose to reject some or all cookies, or instead to receive a notification when a cookie is being placed on your device. For more information, please refer to the user help information for your browser of choice. Please keep in mind that cookies may be required for certain functionalities, and by blocking these cookies, you may limit your access to certain parts or features of our sites and platforms.</p>

							<p>You can opt out of personalised advertising from Google by visiting <a href="https://www.google.com/settings/ads">Ads Settings</a> and <a href="http://www.aboutads.info/choices">aboutads.info</a>.</p>

							<p>Finally, while cookies are set for varying durations on your device, you can manually delete them at any time. However, deleting cookies will not prevent the site from setting further cookies on your device unless you adjust the settings discussed above.</p>

					<h4>Contact Us</h4>

						<p>Please contact us if you have any questions, comments, or concerns regarding privacy, personal data, policies or cookies.</p>

						<p>Our representative for all data privacy matters is Ms Lisa Rushe, Linux Mint Ltd, Athlone, County Westmeath, privacy (at) linuxmint (dot) com.</p>
				</div>
			</div>	<!-- row end -->
		</div>
	</section>



<include src="mint-section-footer.html"/>
