<include src="mint-section-header.html"/>
<include src="mint-section-title.html" title="Screenshots"/>

<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 mb-4">

                <ul class="nav nav-tabs tab-line">
                    <li class="nav-item"> <a class="nav-link gallery-tab active" onclick="switchToTab('cinnamon-gallery', this)" href="#"> CINNAMON </a> </li>
                    <li class="nav-item"> <a class="nav-link gallery-tab" onclick="switchToTab('mate-gallery', this)" href="#"> MATE </a> </li>
                    <li class="nav-item"> <a class="nav-link gallery-tab" onclick="switchToTab('xfce-gallery', this)" href="#"> XFCE </a> </li>
                </ul>
                <div class="tab-content">
                    <div class="gg-container">
                        <div class="gg-box" id="cinnamon-gallery">
                            <img src="img/screenshots/c1.png">
                            <img src="img/screenshots/c2.png">
                            <img src="img/screenshots/c3.png">
                            <img src="img/screenshots/c4.png">
                            <img src="img/screenshots/c5.png">
                            <img src="img/screenshots/c6.png">
                            <img src="img/screenshots/c7.png">
                            <img src="img/screenshots/c8.png">
                            <img src="img/screenshots/c9.png">
                            <img src="img/screenshots/c10.png">
                            <img src="img/screenshots/c11.png">
                            <img src="img/screenshots/c12.png">
                            <img src="img/screenshots/c13.png">
                            <img src="img/screenshots/c14.png">
                            <img src="img/screenshots/c15.png">
                            <img src="img/screenshots/c16.png">
                        </div>
                        <div class="gg-box d-none" id="mate-gallery">
                            <img src="img/screenshots/m1.png">
                            <img src="img/screenshots/m2.png">
                            <img src="img/screenshots/m3.png">
                            <img src="img/screenshots/m4.png">
                            <img src="img/screenshots/m5.png">
                            <img src="img/screenshots/m6.png">
                            <img src="img/screenshots/m7.png">
                            <img src="img/screenshots/m8.png">
                            <img src="img/screenshots/m9.png">
                            <img src="img/screenshots/m10.png">
                            <img src="img/screenshots/m11.png">
                            <img src="img/screenshots/m12.png">
                            <img src="img/screenshots/m13.png">
                        </div>
                        <div class="gg-box d-none" id="xfce-gallery">
                            <img src="img/screenshots/x1.png">
                            <img src="img/screenshots/x2.png">
                            <img src="img/screenshots/x3.png">
                            <img src="img/screenshots/x4.png">
                            <img src="img/screenshots/x5.png">
                            <img src="img/screenshots/x6.png">
                            <img src="img/screenshots/x7.png">
                            <img src="img/screenshots/x8.png">
                            <img src="img/screenshots/x9.png">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="js/grid-gallery.min.js"></script>
<script>
    
    gridGallery({
        selector: "#cinnamon-gallery",
        layout: "square"
    });
    gridGallery({
        selector: "#mate-gallery",
        layout: "square"
    });
    gridGallery({
        selector: "#xfce-gallery",
        layout: "square"
    });

    function switchToTab(id, clickedElement) {
        $('.gallery-tab').removeClass("active");
        $(clickedElement).addClass("active");
        $('.gg-box').addClass("d-none");
        $("#" + id).removeClass('d-none');
    }

    
</script>

<include src="mint-section-sponsors.html"/>
<include src="mint-section-footer.html"/>
