<!doctype html>
<html lang="en">
<head>
	<title>Linux Mint</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Webestica.com">
	<meta name="description" content="Creative Multipurpose Bootstrap Template">

	<!-- Favicon -->
	<link rel="shortcut icon" href="img/favicon.ico">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900%7CPlayfair+Display:400,400i,700,700i%7CRoboto:400,400i,500,700" rel="stylesheet">

	<!-- Plugins CSS -->
	<script src="https://kit.fontawesome.com/bc12959002.js" crossorigin="anonymous"></script>
	<!-- <link rel="stylesheet" type="text/css" href="assets/vendor/font-awesome/css/font-awesome.min.css" /> -->
	<link rel="stylesheet" type="text/css" href="assets/vendor/themify-icons/css/themify-icons.css" />
	<link rel="stylesheet" type="text/css" href="assets/vendor/animate/animate.min.css" />
	<link rel="stylesheet" type="text/css" href="assets/vendor/fancybox/css/jquery.fancybox.min.css" />
	<link rel="stylesheet" type="text/css" href="assets/vendor/owlcarousel/css/owl.carousel.min.css" />

	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="assets/css/style.css" />

	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="css/grid-gallery.css"/>
	<link rel="stylesheet" type="text/css" href="css/mint.css" />

</head>

<body>

	<!-- =======================
	header Start-->
	<header class="navbar-transparent navbar-sticky navbar-primary">

		<div class="navbar-top d-none d-lg-block">
			<div class="container">
				<div class="d-flex justify-content-between align-items-center">
					<!-- navbar top Left-->
					<div class="d-flex align-items-center">
						<!-- Language -->
						<div class="dropdown">
						  <a class="dropdown-toggle" href="#" role="button" id="dropdownLanguage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <img class="dropdown-item-icon" src="assets/images/flags/uk.svg" alt=""> English </a>
						  <div class="dropdown-menu mt-2 shadow" aria-labelledby="dropdownLanguage">
						  	<span class="dropdown-item-text">Select language</span>
						  	<div class="dropdown-divider"></div>
						    <a class="dropdown-item" href="#"><img class="dropdown-item-icon" src="assets/images/flags/sp.svg" alt=""> Español</a>
						    <a class="dropdown-item" href="#"><img class="dropdown-item-icon" src="assets/images/flags/fr.svg" alt=""> Français</a>
						    <a class="dropdown-item" href="#"><img class="dropdown-item-icon" src="assets/images/flags/gr.svg" alt=""> Deutsch</a>
						  </div>
						</div>
					</div>

					<!-- navbar top Right-->
					<div class="d-flex align-items-center">
						<!-- top link -->

						<!-- top social -->
						<ul class="social-icons">
							<li class="social-icons-item social-rss m-0">
								<a class="social-icons-link w-auto px-2" href="https://blog.linuxmint.com/?feed=rss2"><i class="fa fa-rss"></i></a>
							</li>
							<li class="social-icons-item social-envelope m-0">
								<a class="social-icons-link w-auto px-2" href="mailto:root@linuxmint.com"><i class="fa fa-envelope"></i></a>
							</li>
							<li class="social-icons-item social-hastag m-0">
								<a class="social-icons-link w-auto px-2" href="https://widget00.mibbit.com/?settings=afafcb2fef3d61ee26d44fe55394b54b&server=irc.spotchat.org&channel=%23linuxmint-help&autoConnect=1"><i class="fa fa-hashtag"></i></a>
							</li>
							<li class="social-icons-item social-facebook m-0">
								<a class="social-icons-link w-auto px-2" href="https://www.facebook.com/pages/Linux-Mint/185238108180410"><i class="fa fa-facebook"></i></a>
							</li>
							<li class="social-icons-item social-github m-0">
								<a class="social-icons-link w-auto px-2" href="https://www.github.com/linuxmint"><i class="fa fa-github"></i></a>
							</li>
							<li class="social-icons-item social-twitter m-0">
								<a class="social-icons-link w-auto pl-2" href="https://twitter.com/linux_mint"><i class="fa fa-twitter"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<!-- Logo Nav Start -->
		<nav class="navbar navbar-expand-lg">
			<div class="container">
				<!-- Logo -->
				<a class="navbar-brand" href="mint-main.html">
					<img src="img/logo-mono.svg" width="200" />
				</a>
				<!-- Menu opener button -->
				<button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"> </span>
			  </button>
				<!-- Main Menu Start -->
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav ml-auto">

						<!-- Home -->
						<li class="nav-item">
							<a class="nav-link active" href="mint-main.html">Home</a>
						</li>

						<!-- Download menu -->
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="demosMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Download</a>
							<div class="dropdown-menu pb-3 pb-lg-0" aria-labelledby="demosMenu" >
								<div class="d-block d-sm-flex">
									<ul class="list-unstyled w-100 w-sm-50 pr-0 pr-lg-5">
										<li class="dropdown-header">Latest version</li>
										<li> <a class="dropdown-item" href="mint-download.html">Linux Mint 20.2<span class="badge badge-success ml-2">Recommended</span></a> </li>
									</ul>
									<ul class="list-unstyled w-100 w-sm-50 pr-0 pr-lg-5">
										<li class="dropdown-header">Other versions</li>
										<li> <a class="dropdown-item" href="mint-lmde.html">LMDE 4</a> </li>
										<li> <a class="dropdown-item" href="mint-download-all.html">All versions</a> </li>
									</ul>
								</div>
								<!-- bottom part -->
								<div class="w-100 bg-grad pattern-overlay-2 p-4 mt-3 all-text-white d-none d-lg-flex">
									<div class="align-self-center mr-4">
										<h4 class="mb-0 text-nowrap">Checkout the doc!</h4>
										<p class="mb-0 small">Follow the guide to learn how to download and install Linux Mint.</p>
									</div>
									<a href="https://linuxmint-installation-guide.readthedocs.io/en/latest/" target="_blank" class="btn btn-outline-white btn-sm mb-0 align-self-center ml-auto overflow-visible">Installation Guide</a>
								</div>
							</div>
						</li>

						<!-- Project menu -->
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="demosMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Project</a>
							<div class="dropdown-menu pb-3 pb-lg-0" aria-labelledby="demosMenu" >
								<div class="d-block d-sm-flex">
									<ul class="list-unstyled w-100 w-sm-50 pr-0 pr-lg-5">
										<li class="dropdown-header">Funding</li>
										<li> <a class="dropdown-item" href="mint-donors.html">Donors</a> </li>
										<li> <a class="dropdown-item" href="mint-sponsors.html">Sponsors</a> </li>
										<li> <a class="dropdown-item" href="mint-partners.html">Partners</a> </li>
										<li> <a class="dropdown-item" href="mint-store.html">Store</a> </li>
									</ul>
									<ul class="list-unstyled w-100 w-sm-50 pr-0 pr-lg-5">
										<li class="dropdown-header">Contributing</li>
										<li> <a class="dropdown-item" href="mint-get-involved.html">Get Involved</a> </li>
										<li> <a class="dropdown-item" href="mint-mirrors.html">Mirrors</a> </li>
									</ul>
								</div>
								<!-- bottom part -->
								<div class="w-100 bg-grad pattern-overlay-2 p-4 mt-3 all-text-white d-none d-lg-flex">
									<div class="align-self-center mr-4">
										<p class="mb-0 small">Every little helps, don't hesitate to get involved.</p>
									</div>
								</div>
							</div>
						</li>

						<!-- About menu -->
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="demosMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
							<div class="dropdown-menu pb-3 pb-lg-0" aria-labelledby="demosMenu" >
								<div class="d-block d-sm-flex">
									<ul class="list-unstyled w-100 w-sm-50 pr-0 pr-lg-5">
										<li class="dropdown-header">Linux Mint</li>
										<li> <a class="dropdown-item" href="mint-about.html">About Linux Mint</a> </li>
										<li> <a class="dropdown-item" href="mint-faq.html">FAQ</a> </li>
										<li> <a class="dropdown-item" href="mint-documentation.html">Documentation</a> </li>
										<li> <a class="dropdown-item" href="mint-screenshots.html">Screenshots</a> </li>
										<li> <a class="dropdown-item" href="mint-team.html">Team</a> </li>
										<li> <a class="dropdown-item" href="mint-contact.html">Contact Us</a> </li>
									</ul>
									<ul class="list-unstyled w-100 w-sm-50 pr-0 pr-lg-5">
										<li class="dropdown-header">Legal</li>
										<li> <a class="dropdown-item" href="mint-privacy.html">Privacy &amp; Cookies</a> </li>
										<li> <a class="dropdown-item" href="#">(Logo and Artwork)</a> </li>
									</ul>
								</div>
							</div>
						</li>

						<!-- Links menu -->
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="demosMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Links</a>
							<div class="dropdown-menu pb-3 pb-lg-0" aria-labelledby="demosMenu" >
								<div class="d-block d-sm-flex">
									<ul class="list-unstyled w-100 w-sm-50 pr-0 pr-lg-5">
										<li class="dropdown-header">Official</li>
										<li> <a class="dropdown-item" href="mint-main.html"><i class="fa fa-igloo"></i> Website<span class="badge badge-success ml-2">Here</span></a> </li>
										<li> <a class="dropdown-item" href="https://blog.linuxmint.com"><i class="fas fa-blog"></i> Blog</a> </li>
										<li> <a class="dropdown-item" href="https://forums.linuxmint.com"><i class="fa fa-comments"></i> Forums</a> </li>
										<li> <a class="dropdown-item" href="https://community.linuxmint.com"><i class="fas fa-users"></i> Community website</a> </li>
									</ul>
									<ul class="list-unstyled w-100 w-sm-50 pr-0 pr-lg-5">
										<li class="dropdown-header">Social</li>
										<li> <a class="dropdown-item" href="https://www.github.com/linuxmint"><i class="fa fa-github"></i> Github</a> </li>
										<li> <a class="dropdown-item" href="https://www.facebook.com/pages/Linux-Mint/185238108180410"><i class="fa fa-facebook"></i> Facebook</a> </li>
										<li> <a class="dropdown-item" href="https://twitter.com/linux_mint"><i class="fa fa-twitter"></i> Twitter</a> </li>
										<li> <a class="dropdown-item" href="https://widget00.mibbit.com/?settings=afafcb2fef3d61ee26d44fe55394b54b&server=irc.spotchat.org&channel=%23linuxmint-help&autoConnect=1"><i class="fa fa-hashtag"></i> IRC Chat</a> </li>
									</ul>
									<ul class="list-unstyled w-100 w-sm-50 pr-0 pr-lg-5">
										<li class="dropdown-header mt-3 mt-sm-0">Community</li>
										<li> <a class="dropdown-item" href="https://www.reddit.com/r/linuxmint/"><i class="fa fa-reddit"></i> Reddit</a> </li>
										<li> <a class="dropdown-item" href="https://discord.gg/mint"><i class="fab fa-discord"></i> Discord</a> </li>
										<li> <a class="dropdown-item" href="mint-communities.html"><i class="fas fa-globe"></i> Local communities</a> </li>
									</ul>
								</div>
								<!-- mega menu Bottom -->
								<div class="w-100 bg-grad pattern-overlay-2 p-4 mt-3 all-text-white d-none d-lg-flex">
									<div class="align-self-center mr-4">
										<p class="mb-0 small">Websites in the right column are maintained by the community.</p>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<!-- Main Menu End -->
				<!-- Header Extras Start-->
				<div class="navbar-nav">
					<!-- Donate button -->
					<div class="nav-item border-0 d-none d-lg-inline-block align-self-center border-0 px-lg-4">
						<a href="mint-donors.html" class=" btn btn-sm btn-white mb-0">Donate</a>
					</div>
				</div>
				<!-- Header Extras End-->
			</div>
		</nav>
		<!-- Logo Nav End -->
	</header>
	<!-- =======================
	header End-->