
<include src="mint-section-header.html"/>

<include src="mint-section-title.html" title="Linux Mint 20.2"/>

<section class="py-4">
        <div class="container">
            <div class="border border-dotted p-4 p-sm-5 border-radius-3">
                <div class="text-center px-0 px-sm-5">
                    <h3>Ready to download?</h3>
                    <p class="m-0">Linux Mint is available in 3 different flavors. Choose an edition below.</p>
                    <p>For more information read the installation instructions and the release notes.</p>
                </div>
                <div class="mt-3 text-center">
                    <a href="https://linuxmint-installation-guide.readthedocs.io/en/latest/" target="_blank"><button class="btn btn-grad mb-0 mr-3">Installation Instructions</button></a> <a href="mint-notes.html"><button class="btn btn-outline-light mb-0">Release Notes</button></a>
                </div>
            </div>
        </div>
    </section>

<section>
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <!-- left -->
            <div class="col-md-6">
                <a href="mint-edition.html"><img src="https://www.linuxmint.com/pictures/screenshots/uma/thumb_cinnamon.png"/></a>
            </div>
            <!-- right -->
            <div class="title col-md-6 pl-lg-5">
                <span class="pre-title">Sleek, modern, innovative</span>
                <h2 class="h1">Cinnamon Edition</h2>
                <p>The most popular version of Linux Mint is the Cinnamon edition. Cinnamon is primarily developed for and by Linux Mint. It is slick, beautiful, and full of new features.</p>
                <div>
                    <a href="mint-edition.html" class="btn btn-dark">Download</a>
                    <a href="mint-features.html" class="btn btn-link">New Features</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-light">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="title col-md-6 pl-lg-5">
                <span class="pre-title">Stable, robust, traditional</span>
                <h2 class="h1">MATE Edition</h2>
                <p>Linux Mint is also involved in the development of MATE, a classic desktop environment which is the continuation of GNOME 2, Linux Mint’s default desktop between 2006 and 2011. Although it misses a few features and its development is slower than Cinnamon’s, MATE runs faster, uses fewer resources and is more stable than Cinnamon.</p>
                <div>
                    <a href="mint-edition.html" class="btn btn-dark">Download</a>
                    <a href="mint-features.html" class="btn btn-link">New Features</a>
                </div>
            </div>
            <div class="col-md-6">
                <a href="mint-edition.html"><img src="https://www.linuxmint.com/pictures/screenshots/uma/thumb_mate.png"/></a>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <!-- left -->
            <div class="col-md-6">
                <a href="mint-edition.html"><img src="https://www.linuxmint.com/pictures/screenshots/uma/thumb_xfce.png"/></a>
            </div>
            <!-- right -->
            <div class="title col-md-6 pl-lg-5">
                <span class="pre-title">Light, simple, efficient</span>
                <h2 class="h1">Xfce Edition</h2>
                <p>Xfce is a lightweight desktop environment. It doesn’t support as many features as Cinnamon or MATE, but it’s extremely stable and very light on resource usage.</p>
                <div>
                    <a href="mint-edition.html" class="btn btn-dark">Download</a>
                    <a href="mint-features.html" class="btn btn-link">New Features</a>
                </div>
            </div>
        </div>
    </div>
</section>


<include src="mint-section-sponsors.html"/>
<include src="mint-section-footer.html"/>