<include src="mint-section-header.html"/>
<include src="mint-section-title.html" title="Contact Us"/>

<section class="py-5">
    <div class="container ">
        <div class="col-12 mx-auto text-center">
            <h2 class="h1">Support Queries</h2>
            <p class="mb-5">Seek help, support and assistance with using or installing Linux Mint...</p>
        </div>
    </div>
    <div class="container ">
        <div class="row bg-white shadow m-0 p-2 p-lg-5 border-radius-3">
            <div class="col-md-4">
                <div class="feature-box h-100 text-center">
                    <div class="feature-box-icon"><span class="display-5 icon-grad"><i class="fa fa-book-open"></i></span></div>
                    <h3 class="feature-box-title">Documentation</h3>
                    <p class="feature-box-desc">We're providing documentation to make using Linux Mint as easy as possible.</p>
                    <a class="btn btn-grad mt-4" href="mint-documentation.html">Read</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-box h-100 text-center">
                    <div class="feature-box-icon"><span class="display-5 icon-grad"><i class="fa fa-comments"></i></span></div>
                    <h3 class="feature-box-title">Forums</h3>
                    <p class="feature-box-desc">Browse the forums and seek assistance from other users. Many questions are already answered.</p>
                    <a class="btn btn-grad mt-4" href="https://forums.linuxmint.com" target="_blank">Browse</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-box h-100 text-center">
                    <div class="feature-box-icon"><span class="display-5 icon-grad"><i class="fa fa-hashtag"></i></span></div>
                    <h3 class="feature-box-title">Chat Room*</h3>
                    <p class="feature-box-desc">If you're stuck, connect to the chat room and ask whoever is connected at the moment.</p>
                    <a class="btn btn-outline-light mt-4" href="https://widget00.mibbit.com/?settings=afafcb2fef3d61ee26d44fe55394b54b&server=irc.spotchat.org&channel=%23linuxmint-help&autoConnect=1" target="_blank">Chat</a>
                </div>
            </div>
        </div>
         <p class="mt-5">* If you are new to IRC (the technology used by the chatroom), please read <a href="https://community.linuxmint.com/tutorial/view/12">this tutorial</a>.</p>
    </div>
</section>

<section class="py-4 bg-dark pricing pricing-dark pricing-center all-text-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-8 mx-auto">
                <h2 class="h1">Feedback</h2>
                <p class="mb-5">Contribute ideas, translations, bug reports, development...</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-5">
                <div class="pricing-box h-100">
                    <div class="ribbon"><span>Help Mint</span></div>
                    <div class="feature-box-icon"><span class="display-5 icon-grad"><i class="fas fa-lightbulb"></i></span></div>
                    <h2 class="text-grad">Get Involved</h2>
                    <p>Contribute to the Linux Mint project with ideas, translations, bug reports...</p>
                    <a class="btn btn-grad mt-4" href="mint-get-involved.html">Go</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-4 bg-primary all-text-white">
    <div class="container">
        <div class="row z-index-99">
            <div class="col-sm-12 mt-2 mt-md-4">
                <div class="text-center">
                    <h4>Can't find what you're looking for?</h4>
                    <p class="mb-9 mb-md-0">For queries related to passwords, accounts, registration and moderation, email the administration team at <a href="mailto:admin@linuxmint.com">admin@linuxmint.com</a>.</p>
                    <p class="mb-5 mb-md-0">For other queries, send an email to <a href="mailto:root@linuxmint.com">root@linuxmint.com</a>.</p>
                    <p class="mb-5 mb-md-0">Do not address support queries to these addresses.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<include src="mint-section-sponsors.html"/>
<include src="mint-section-footer.html"/>
