<include src="mint-section-header.html" />
<include src="mint-section-title.html" title="Store" />

<section class="py-5">
    <div class="container">

        <div class="row">
            <div class="col-lg-10">

                <h2 class="mb-4 text-primary">MintBox 3</h2>

                <p>In association with <a href="http://www.fit-pc.com/web/purchase/order-direct-mintbox/">CompuLab</a>, Linux Mint introduced the "MintBox3".</p>

                <p>The MintBox3 is a high-performance fanless desktop workstation. It's small, silent but also lightning fast. It's an amazing and very unique computer.</p>

                <p>Press release: <a href="https://fit-iot.com/web/products/mintbox3/mintbox3-press-release/">https://fit-iot.com/web/products/mintbox3/mintbox3-press-release/</a></p>

            </div>
        </div>

        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-sm-4 col-md-4">
                <a href="https://fit-iot.com/web/product/mintbox3-pro/">
                    <div class="team-item text-center">
                        <div class="team-avatar">
                            <img src="img/store/mintbox3.png" alt="mintbox3" />
                        </div>
                        <div class="team-desc">
                            <h5 class="team-name text-primary">MintBox3 Pro</h5>
                            <p class="text-dark">
                                Partner: CompuLab <br/>
                                Price: $2,499 <br/>
                                <span class="text-mini">
                                    <i>
                                        5% of the price is donated to Linux Mint
                                    </i>
                                </span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-4 col-md-4">
                <a href="https://fit-iot.com/web/product/mintbox3-basic/">
                    <div class="team-item text-center">
                        <div class="team-avatar">
                            <img src="img/store/mintbox3.png" alt="mintbox3" />
                        </div>
                        <div class="team-desc">
                            <h5 class="team-name text-primary">
                                MintBox3 Basic
                            </h5>
                            <p class="text-dark">
                                Partner: CompuLab <br />
                                Price: $1,399 <br />
                                <span class="text-mini">
                                    <i>
                                        5% of the price is donated to Linux Mint
                                    </i>
                                </span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<include src="mint-section-sponsors.html" />
<include src="mint-section-footer.html" />
