<include src="mint-section-header.html"/>
<include src="mint-section-title.html" title="Donors"/>

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-5">

                <h2 class="mb-4 text-primary">Donating to Linux Mint</h2>

                <div class="col-sm-12 mb-5">

                    <ul class="nav nav-tabs tab-line">
                    <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#tab1"> STATS </a> </li>
                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#tab2"> WHY DONATE </a> </li>
                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#tab3"> HOW TO DONATE </a> </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane show active" id="tab1">



                    </div>

                    <div class="tab-pane" id="tab2">



                    </div>

                    <div class="tab-pane" id="tab3">



                    </div>
                </div>

                    <script src="https://cdn.jsdelivr.net/npm/chart.js@3/dist/chart.min.js"></script>
                    <center><div style="width: 500px;"><canvas id="myChart"></canvas></div></center>
                    <script>
                    var ctx = document.getElementById("myChart");
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {

                            labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                            datasets: [
                                {
                                label: '2019',
                                backgroundColor: '#f4f5f6',
                                borderColor: '#cfd1d4',
                                borderWidth: 1,
                                data: [10567, 11216, 9279, 24170, 11825, 6609, 13164, 10817, 8908, 8749, 10164, 25352]
                                },
                                {
                                label: '2020',
                                backgroundColor: '#5cbf7d',
                                borderColor: '#5cbf7d',
                                borderWidth: 1,
                                data: [14290, 11303, 9499, 14812, 14879, 20710, 14555, 11304, 10727, 10698, 12228, 23829]
                                },
                                {
                                label: '2021',
                                backgroundColor: '#0392ed',
                                borderColor: '#d6ecfb',
                                borderWidth: 1,
                                data: [18779, 14397, 12044, 11218]
                                }
                            ]
                        },
                        options: {
                            interaction: {
                                mode: 'point'
                            },
                            plugins: {
                                title: {
                                    display: true,
                                    text: 'Money raised via donations'
                                },
                                tooltip: {
                                    enabled: true,
                                    callbacks: {
                                        label: function(context) {
                                            var label = context.dataset.label || '';

                                            if (label) {
                                                label += ': ';
                                            }
                                            if (context.parsed.y !== null) {
                                                label += new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD', maximumFractionDigits: 0}).format(context.parsed.y);
                                            }
                                            return label;
                                        }
                                    }
                                }
                            },
                            scales: {
                                y: {
                                    ticks: {
                                        // Include a dollar sign in the ticks
                                        callback: function(value, index, values) {
                                            value = new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD', maximumFractionDigits: 0}).format(value);
                                            return value;
                                        }
                                    }
                                }
                            }
                        }
                    });
                    </script>

                    <div class="text-center text-primary mt-2"><strong>So far this month: $3,910 (166 donations)</strong></p>

                </div>



                <div class="accordion mb-0 accordion-grad" id="accordion1">

                    <div class="accordion-item">
                        <div class="accordion-title">
                            <a class="h6 mb-0" data-toggle="collapse" href="#collapse-100">Why donate money?</a>
                        </div>
                        <div class="collapse show" id="collapse-100" data-parent="#accordion1">
                            <div class="accordion-content">
                                <p>Linux Mint is free of cost and doesn't generate any direct sort of income. It is funded by advertising, sponsoring and donations and although it is financially supported by its own community of users, its ambition is to compete with projects which are backed by large companies such as Microsoft, Apple, RedHat, Novell and Canonical.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <div class="accordion-title">
                            <a class="h6 mb-0 collapsed" data-toggle="collapse" href="#collapse-101">How is the money used?</a>
                        </div>
                        <div class="collapse" id="collapse-101" data-parent="#accordion1">
                            <div class="accordion-content">
                                <p>The money is used to finance the needs of the distribution, to pay for hosting, to advertise on other websites, to purchase equipment and to fund the work of the people behind it.</p>
                            </div>
                        </div>
                    </div>


                    <div class="accordion-item">
                        <div class="accordion-title">
                            <a class="h6 mb-0 collapsed" data-toggle="collapse" href="#collapse-102">How much should you give?</a>
                        </div>
                        <div class="collapse" id="collapse-102" data-parent="#accordion1">
                            <div class="accordion-content">
                                <p>The donations we receive range from a single dollar to a couple of hundreds. The important thing for people is to give something, and for us it's to generate the income that will let us work and succeed on this project, month after month. If you want to help, and if you can do so, please make a donation to the project and encourage others to do so.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <div class="accordion-title">
                            <a class="h6 mb-0 collapsed" data-toggle="collapse" href="#collapse-103">What is the long-term plan regarding the funding of Linux Mint?</a>
                        </div>
                        <div class="collapse" id="collapse-103" data-parent="#accordion1">
                            <div class="accordion-content">
                                <p>We believe Linux Mint can gather the momentum and the community necessary to fund itself entirely through donations, sponsoring and advertisement without the need to engage in commercial activities and without focusing our attention on anything else than improving the distribution itself.</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</section>

<include src="mint-section-sponsors.html"/>
<include src="mint-section-footer.html"/>