
<include src="mint-section-header.html"/>

<include src="mint-section-title.html" title="Linux Mint 20.2"/>

<section class="py-4">
    <div class="container">

        <div class="row">
            <div class="col-12 col-lg-8 mx-auto">
                <div class="title text-center">
                    <span class="pre-title">Linux Mint 20.2</span>
                    <h2>Cinnamon Edition</h2>
                    <p class="mb-0">On this page you can download Linux Mint either directly or via torrent as an ISO image. Make sure to verify your image after downloading it.</p>
                </div>
            </div>
        </div>

        <div class="row border border-dotted p-4 p-sm-5 border-radius-3">
            <div class="col-6">
                <a href="https://www.linuxmint.com/pictures/screenshots/uma/cinnamon.png"><img width="400" src="https://www.linuxmint.com/pictures/screenshots/uma/thumb_cinnamon.png"/></a>
            </div>
            <div class="col-6">
                <h5>Information</h5>
                <ul class="list-group list-group-borderless">
                    <li class="list-group-item"><i class="fas fa-file-download fa-fw text-info"></i> Size: 2.0 GB</li>
                    <li class="list-group-item"><i class="fas fa-book-open fa-fw text-success"></i> <a href="https://linuxmint-installation-guide.readthedocs.io/en/latest/" target="_blank">Installation Guide</a></li>
                    <li class="list-group-item"><i class="fas fa-magic fa-fw text-success"></i> <a href="mint-features.html">New Features</a></li>
                    <li class="list-group-item"><i class="fas fa-bullhorn fa-fw text-success"></i> <a href="https://blog.linuxmint.com/?p=4101" target="_blank">Release Announcement</a></li>
                    <li class="list-group-item"><i class="fas fa-map-signs fa-fw text-warning"></i> <a href="mint-notes.html">Release Notes</a></li>
                    <li class="list-group-item"><i class="fas fa-bolt fa-fw text-danger"></i> Torrent Download: <a href="https://linuxmint.com/torrents/linuxmint-20.2-cinnamon-64bit.iso.torrent">64-bit</a> <a href="https://linuxmint.com/torrents/linuxmint-20.2-cinnamon-64bit.iso.torrent">32-bit</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="py-4">
        <div class="container">
            <div class="d-block d-md-flex bg-dark-grad p-4 p-sm-5 all-text-white border-radius-3 pattern-overlay-3">
                <div class="align-self-center text-center text-md-left">
                    <h3>Don't forget to verify your ISO.</h3>
                    <p class="m-0">Once you have downloaded an image, please verify its integrity and authenticity.</p>
                    <p>Anyone can produce fake ISO images, it is your responsibility to check you are downloading the official ones.</p>
                </div>
                <div class="mt-3 mt-md-0 text-center text-md-right ml-md-auto align-self-center">
                    <a href="mint-verify.html"><button class="btn btn-grad mb-0">Verify your ISO</button></a>
                </div>
            </div>
        </div>
    </section>

<section class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 mb-5">
                <div class="text-center px-0 px-sm-5">
                <h3>Download mirrors</h3>
                <p>Download from one of the mirrors below.</p>
            </div>


            <div class="col-sm-12">
                <ul class="nav nav-tabs tab-line">
                    <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#tab-3-1"> 64-bit </a> </li>
                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#tab-3-2"> 32-bit </a> </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane show active" id="tab-3-1">
                        <div class="table-responsive-sm">
                            <table class="table table-lg table-bordered table-striped text-nowrap">
                                <thead class="all-text-white bg-grad text-uppercase">
                                    <tr>
                                        <th scope="col" width="200">Location</th>
                                        <th scope="col">Mirror</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><img class="flag" src="img/flags/_united_nations.png"/>&nbsp;&nbsp;World</td>
                                        <td><a href="https://mirrors.layeronline.com/linuxmint/stable/20.2/linuxmint-20.2-cinnamon-64bit.iso">LayerOnline</a></td>
                                    </tr>
                                    <tr>
                                        <td><img class="flag" src="img/flags/ca.png"/>&nbsp;&nbsp;Canada</td>
                                        <td><a href="https://mirrors.layeronline.com/linuxmint/stable/20.2/linuxmint-20.2-cinnamon-64bit.iso">Manitoba Unix User Group</a></td>
                                    </tr>
                                    <tr>
                                        <td><img class="flag" src="img/flags/us.png"/>&nbsp;&nbsp;USA</td>
                                        <td><a href="https://mirrors.layeronline.com/linuxmint/stable/20.2/linuxmint-20.2-cinnamon-64bit.iso">Clarkson University</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-3-2">
                        <div class="table-responsive-sm">
                            <table class="table table-lg table-bordered table-striped text-nowrap">
                                <thead class="all-text-white bg-grad">
                                    <tr>
                                        <th scope="col" width="200">Location</th>
                                        <th scope="col">Mirror (32-bit)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><img class="flag" src="img/flags/_united_nations.png"/>&nbsp;&nbsp;World</td>
                                        <td><a href="https://mirrors.layeronline.com/linuxmint/stable/20.2/linuxmint-20.2-cinnamon-64bit.iso">LayerOnline</a></td>
                                    </tr>
                                    <tr>
                                        <td><img class="flag" src="img/flags/ca.png"/>&nbsp;&nbsp;Canada</td>
                                        <td><a href="https://mirrors.layeronline.com/linuxmint/stable/20.2/linuxmint-20.2-cinnamon-64bit.iso">Manitoba Unix User Group</a></td>
                                    </tr>
                                    <tr>
                                        <td><img class="flag" src="img/flags/us.png"/>&nbsp;&nbsp;USA</td>
                                        <td><a href="https://mirrors.layeronline.com/linuxmint/stable/20.2/linuxmint-20.2-cinnamon-64bit.iso">Clarkson University</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</section>

<include src="mint-section-sponsors.html"/>
<include src="mint-section-footer.html"/>