<include src="mint-section-header.html" />

<include src="mint-section-title.html" title="Screenshots" />

<section class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 mx-auto">
        <div class="title text-center">
          <h2>Cinnamon Edition</h2>
          <div class="row my-4">
            <div class="col-md-3">
              <a
                href="img/screenshots/cinnamon/c1.png"
                data-lightbox="roadtrip"
              >
                <img
                  class="img-fluid img-thumbnail"
                  src="img/screenshots/cinnamon/thumb_c1.png"
                  alt=""
                />
              </a>
            </div>
            <div class="col-md-3">
              <a
                href="img/screenshots/cinnamon/c2.png"
                data-lightbox="roadtrip"
              >
                <img
                  class="img-fluid img-thumbnail"
                  src="img/screenshots/cinnamon/thumb_c2.png"
                  alt=""
                />
              </a>
            </div>
            <div class="col-md-3">
              <a
                href="img/screenshots/cinnamon/c3.png"
                data-lightbox="roadtrip"
              >
                <img
                  class="img-fluid img-thumbnail"
                  src="img/screenshots/cinnamon/thumb_c3.png"
                  alt=""
                />
              </a>
            </div>
            <div class="col-md-3">
              <a
                href="img/screenshots/cinnamon/c4.png"
                data-lightbox="roadtrip"
              >
                <img
                  class="img-fluid img-thumbnail"
                  src="img/screenshots/cinnamon/thumb_c4.png"
                  alt=""
                />
              </a>
            </div>
            <div class="col-md-3">
              <a
                href="img/screenshots/cinnamon/c5.png"
                data-lightbox="roadtrip"
              >
                <img
                  class="img-fluid img-thumbnail"
                  src="img/screenshots/cinnamon/thumb_c5.png"
                  alt=""
                />
              </a>
            </div>
            <div class="col-md-3">
              <a
                href="img/screenshots/cinnamon/c6.png"
                data-lightbox="roadtrip"
              >
                <img
                  class="img-fluid img-thumbnail"
                  src="img/screenshots/cinnamon/thumb_c6.png"
                  alt=""
                />
              </a>
            </div>
            <div class="col-md-3">
              <a
                href="img/screenshots/cinnamon/c7.png"
                data-lightbox="roadtrip"
              >
                <img
                  class="img-fluid img-thumbnail"
                  src="img/screenshots/cinnamon/thumb_c7.png"
                  alt=""
                />
              </a>
            </div>
            <div class="col-md-3">
              <a
                href="img/screenshots/cinnamon/c8.png"
                data-lightbox="roadtrip"
              >
                <img
                  class="img-fluid img-thumbnail"
                  src="img/screenshots/cinnamon/thumb_c8.png"
                  alt=""
                />
              </a>
            </div>
            <div class="col-md-3">
              <a
                href="img/screenshots/cinnamon/c9.png"
                data-lightbox="roadtrip"
              >
                <img
                  class="img-fluid img-thumbnail"
                  src="img/screenshots/cinnamon/thumb_c9.png"
                  alt=""
                />
              </a>
            </div>
            <div class="col-md-3">
              <a
                href="img/screenshots/cinnamon/c10.png"
                data-lightbox="roadtrip"
              >
                <img
                  class="img-fluid img-thumbnail"
                  src="img/screenshots/cinnamon/thumb_c10.png"
                  alt=""
                />
              </a>
            </div>
            <div class="col-md-3">
              <a
                href="img/screenshots/cinnamon/c11.png"
                data-lightbox="roadtrip"
              >
                <img
                  class="img-fluid img-thumbnail"
                  src="img/screenshots/cinnamon/thumb_c11.png"
                  alt=""
                />
              </a>
            </div>
            <div class="col-md-3">
              <a
                href="img/screenshots/cinnamon/c12.png"
                data-lightbox="roadtrip"
              >
                <img
                  class="img-fluid img-thumbnail"
                  src="img/screenshots/cinnamon/thumb_c12.png"
                  alt=""
                />
              </a>
            </div>
            <div class="col-md-3">
              <a
                href="img/screenshots/cinnamon/c13.png"
                data-lightbox="roadtrip"
              >
                <img
                  class="img-fluid img-thumbnail"
                  src="img/screenshots/cinnamon/thumb_c13.png"
                  alt=""
                />
              </a>
            </div>
            <div class="col-md-3">
              <a
                href="img/screenshots/cinnamon/c14.png"
                data-lightbox="roadtrip"
              >
                <img
                  class="img-fluid img-thumbnail"
                  src="img/screenshots/cinnamon/thumb_c14.png"
                  alt=""
                />
              </a>
            </div>
            <div class="col-md-3">
              <a
                href="img/screenshots/cinnamon/c15.png"
                data-lightbox="roadtrip"
              >
                <img
                  class="img-fluid img-thumbnail"
                  src="img/screenshots/cinnamon/thumb_c15.png"
                  alt=""
                />
              </a>
            </div>
            <div class="col-md-3">
              <a
                href="img/screenshots/cinnamon/c16.png"
                data-lightbox="roadtrip"
              >
                <img
                  class="img-fluid img-thumbnail"
                  src="img/screenshots/cinnamon/thumb_c16.png"
                  alt=""
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<include src="mint-section-sponsors.html" />
<include src="mint-section-footer.html" />
