<include src="mint-section-header.html"/>
<include src="mint-section-title.html" title="Documentation"/>


<section class="position-relative bg-light">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <!-- left -->
                <div class="col-md-6">
                    <figure class="w-100 ie-height-600">
                        <svg version="1.1" id="about-image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 678 595" style="enable-background:new 0 0 678 595;" xml:space="preserve">
                    <defs>
                    <linearGradient id="BgGradient">
                        <stop class="fill-grad-start" offset="0%"></stop>
                        <stop class="fill-grad-end" offset="100%"></stop>
                    </linearGradient>
                    </defs>
                    <path id="about-image-bg" fill="url(#BgGradient)" d="M652.2,493.6c-51.9,58.8-395.9,51.9-395.9,51.9S7.4,581.8,50.6,396.8
                        C82.3,261.5,2.2,56.3,97.3,20c49-18.7,351.7-49,487.8,70.9C713.1,203.4,677.3,465.1,652.2,493.6z"></path>
                        <g id="XMLID_120_">
                            <defs>
                            <path id="XMLID_7_" d="M635.5,506.9c-51.9,58.8-395.9,51.9-395.9,51.9S-9.3,595,34,410C65.6,274.7-14.4,69.5,80.6,33.2
                                c49-18.7,351.7-49,487.8,70.9C696.4,216.7,660.6,478.4,635.5,506.9z"></path>
                                </defs>
                                <clipPath id="XMLID_155_">
                                <use xlink:href="#XMLID_7_" style="overflow:visible;"></use>
                                </clipPath>
                                <g style="clip-path:url(#XMLID_155_);">
                                    <a target="_blank" href="https://linuxmint-installation-guide.readthedocs.io/en/latest/">
                                    <image style="overflow:visible;" width="700" height="700" id="XMLID_121_" xlink:href="img/documentation/installation-guide.png" transform="matrix(0.9999 0 0 0.9999 1 -81)">
                                    </image>
                                    </a>
                                </g>
                            </g>
                            <circle fill="none" stroke="url(#BgGradient)" stroke-width="8" stroke-miterlimit="10" cx="60" cy="539" r="40"></circle>
                            <path id="XMLID_149_" fill="url(#BgGradient)" d="M52.6,104.3L25.5,46.5c-2-4.2-0.1-9.4,4.1-11.3l0,0c4.2-2,9.4-0.1,11.3,4.1L68,97c2,4.2,0.1,9.4-4.1,11.3
                                l0,0C59.7,110.4,54.6,108.5,52.6,104.3z"></path>
                                <path id="XMLID_150_" fill="url(#BgGradient)" d="M48.1,140.6l-12.8-27.2c-2-4.2-0.1-9.4,4.1-11.3l0,0c4.2-2,9.4-0.1,11.3,4.1l12.8,27.2
                                    c2,4.2,0.1,9.4-4.1,11.3l0,0C55.2,146.7,50.1,144.8,48.1,140.6z"></path>
                                    <circle id="XMLID_151_" fill="url(#BgGradient)" cx="590.9" cy="23.9" r="9.1"></circle>
                                    <circle id="XMLID_152_" fill="url(#BgGradient)" cx="596.8" cy="76.4" r="14.6"></circle>
                                    <circle id="XMLID_153_" fill="url(#BgGradient)" cx="630.8" cy="42.8" r="5.3"></circle>
                                </svg>
                    </figure>
                </div>
                <!-- right -->
                <div class="col-md-6 mt-4 mt-md-0">
                    <h6 class="text-primary">First Read</h6>
                    <h2 class="h1">Installation Guide</h2>
                    <p class="lead">The Linux Mint Installation Guide helps you download the right ISO image, create your bootable media and install Linux Mint on your computer.</p>
                    <p>It is available in <span class="text-dark font-weight-bold">HTML, PDF and ePub</span> in the following languages:</p>
                    <div class="row justify-content-between align-items-center">
                        <div class="col-md-6">
                            <a target="_blank" href="https://linuxmint-installation-guide.readthedocs.io/en/latest/"><img src="img/flags/us.png" class="flag"> English</a><br>
                            <a target="_blank" href="https://linuxmint-installation-guide.readthedocs.io/am/latest/"><img src="img/flags/et.png" class="flag"> Amharic</a><br>
                            <a target="_blank" href="https://linuxmint-installation-guide.readthedocs.io/ar/latest/"><img src="img/flags/sa.png" class="flag"> Arabic</a><br>
                            <a target="_blank" href="https://linuxmint-installation-guide.readthedocs.io/eu/latest/"><img src="img/flags/_basque.png" class="flag"> Basque</a><br>
                            <a target="_blank" href="https://linuxmint-installation-guide.readthedocs.io/bg/latest/"><img src="img/flags/bg.png" class="flag"> Bulgarian</a><br>
                            <a target="_blank" href="https://linuxmint-installation-guide.readthedocs.io/ca/latest/"><img src="img/flags/_catalonia.png" class="flag"> Catalan</a><br>
                            <a target="_blank" href="https://linuxmint-installation-guide.readthedocs.io/zh_CN/latest/"><img src="img/flags/cn.png" class="flag"> Chinese</a><br>
                            <a target="_blank" href="https://linuxmint-installation-guide.readthedocs.io/hr/latest/"><img src="img/flags/hr.png" class="flag"> Croatian</a><br>
                            <a target="_blank" href="https://linuxmint-installation-guide.readthedocs.io/cs/latest/"><img src="img/flags/cz.png" class="flag"> Czech</a><br>
                            <a target="_blank" href="https://linuxmint-installation-guide.readthedocs.io/da/latest/"><img src="img/flags/dk.png" class="flag"> Danish</a><br>
                            <a target="_blank" href="https://linuxmint-installation-guide.readthedocs.io/nl/latest/"><img src="img/flags/nl.png" class="flag"> Dutch</a><br>
                            <a target="_blank" href="https://linuxmint-installation-guide.readthedocs.io/eo/latest/"><img src="img/flags/eo.png" class="flag"> Esperanto</a><br>
                        </div>
                        <div class="col-md-6 mt-4 mt-md-0">
                            <a target="_blank" href="https://linuxmint-installation-guide.readthedocs.io/fr/latest/"><img src="img/flags/fr.png" class="flag"> French</a><br>
                            <a target="_blank" href="https://linuxmint-installation-guide.readthedocs.io/de/latest/"><img src="img/flags/de.png" class="flag"> German</a><br>
                            <a target="_blank" href="https://linuxmint-installation-guide.readthedocs.io/el/latest/"><img src="img/flags/gr.png" class="flag"> Greek</a><br>
                            <a target="_blank" href="https://linuxmint-installation-guide.readthedocs.io/ia/latest/"><img src="img/flags/_united_nations.png" class="flag"> Interlingua</a><br>
                            <a target="_blank" href="https://linuxmint-installation-guide.readthedocs.io/it/latest/"><img src="img/flags/it.png" class="flag"> Italian</a><br>
                            <a target="_blank" href="https://linuxmint-installation-guide.readthedocs.io/ko/latest/"><img src="img/flags/kr.png" class="flag"> Korean</a><br>
                            <a target="_blank" href="https://linuxmint-installation-guide.readthedocs.io/lt/latest/"><img src="img/flags/lt.png" class="flag"> Lithuanian</a><br>
                            <a target="_blank" href="https://linuxmint-installation-guide.readthedocs.io/pt_BR/latest/"><img src="img/flags/br.png" class="flag"> Portuguese (Brazil)</a><br>
                            <a target="_blank" href="https://linuxmint-installation-guide.readthedocs.io/ru/latest/"><img src="img/flags/ru.png" class="flag"> Russian</a><br>
                            <a target="_blank" href="https://linuxmint-installation-guide.readthedocs.io/es/latest/"><img src="img/flags/es.png" class="flag"> Spanish</a><br>
                            <a target="_blank" href="https://linuxmint-installation-guide.readthedocs.io/sv/latest/"><img src="img/flags/se.png" class="flag"> Swedish</a><br>
                            <a target="_blank" href="https://linuxmint-installation-guide.readthedocs.io/tr/latest/"><img src="img/flags/tr.png" class="flag"> Turkish</a><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- svg wave top-->
        <figure class="position-absolute top-0 left-0 w-100 d-none d-md-block ie-d-none mt-n3">
            <svg version="1.1" id="wave-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 43.4" style="enable-background:new 0 0 1920 43.4;" xml:space="preserve">
                        <path id="wave-1-path" class="fill-light" d="M0,23.3c0,0,405.1-43.5,697.6,0c316.5,1.5,108.9-2.6,480.4-14.1c0,0,139-12.2,458.7,14.3 c0,0,67.8,19.2,283.3-22.7v35.1H0V23.3z"></path>
                    </svg>
        </figure>
        <!-- svg wave bottom-->
        <figure class="position-absolute bottom-0 left-0 w-100 d-none d-md-block ie-d-none mb-n3">
            <svg version="1.1" id="wave-2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 43.4" style="enable-background:new 0 0 1920 43.4;" xml:space="preserve">
                        <path id="wave-2-path_" class="fill-white" d="M0,23.3c0,0,405.1-43.5,697.6,0c316.5,1.5,108.9-2.6,480.4-14.1c0,0,139-12.2,458.7,14.3 c0,0,67.8,19.2,283.3-22.7v35.1H0V23.3z"></path>
                    </svg>
        </figure>
    </section>

<section class="position-relative">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <!-- left -->
            <div class="col-md-6">
                <h6 class="text-primary">Solutions to common problems</h6>
                <h2 class="h1">User Guide</h2>
                <p class="lead">The Linux Mint User Guide is a collection of articles to help you configure your system.</p>
                <p>It is available in English, in <span class="text-dark font-weight-bold">HTML, PDF and ePub</span>.</p>
                <a target="_blank" href="https://linuxmint-user-guide.readthedocs.io/en/latest/"><img src="img/flags/us.png" class="flag"> English</a><br>
            </div>
            <!-- right -->
            <div class="col-md-6 mt-4 mt-md-0">
                <a target="_blank" href="https://linuxmint-user-guide.readthedocs.io/en/latest/">
                    <img class="shadow" src="img/documentation/user-guide.png"/>
                </a>

            </div>
        </div>
    </div>
</section>

<section class="position-relative bg-light">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <!-- left -->
            <div class="col-md-6">
                <a target="_blank" href="https://linuxmint-troubleshooting-guide.readthedocs.io/en/latest/">
                    <img class="shadow" src="img/documentation/troubleshooting-guide.png"/>
                </a>
            </div>
            <!-- right -->
            <div class="col-md-6 mt-4 mt-md-0">
                <h6 class="text-primary">Find and report bugs</h6>
                <h2 class="h1">Troubleshooting Guide</h2>
                <p class="lead">The Linux Mint Troubleshooting Guide helps you troubleshoot issues on your computer and report bugs to the development team.</p>
                <p>It is available in English, in <span class="text-dark font-weight-bold">HTML, PDF and ePub</span>.</p>
                <a target="_blank" href="https://linuxmint-troubleshooting-guide.readthedocs.io/en/latest/"><img src="img/flags/us.png" class="flag"> English</a><br>
            </div>
        </div>
    </div>
</section>

<section class="position-relative">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <!-- left -->
            <div class="col-md-6">
                <h6 class="text-primary">Help translating Linux Mint</h6>
                <h2 class="h1">Translation Guide</h2>
                <p class="lead">The Linux Mint Translation Guide helps you contribute to Linux Mint and translate software and documentation in your own language.</p>
                <p>It is available in English, in <span class="text-dark font-weight-bold">HTML, PDF and ePub</span>.</p>
                <a target="_blank" href="https://linuxmint-translation-guide.readthedocs.io/en/latest/"><img src="img/flags/us.png" class="flag"> English</a><br>
            </div>
            <!-- right -->
            <div class="col-md-6 mt-4 mt-md-0">
                <a target="_blank" href="https://linuxmint-translation-guide.readthedocs.io/en/latest/">
                    <img class="shadow" src="img/documentation/translation-guide.png"/>
                </a>

            </div>
        </div>
    </div>
</section>

<section class="position-relative bg-light">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <!-- left -->
            <div class="col-md-6">
                <a target="_blank" href="https://linuxmint-developer-guide.readthedocs.io/en/latest/">
                    <img class="shadow" src="img/documentation/developer-guide.png"/>
                </a>
            </div>
            <!-- right -->
            <div class="col-md-6 mt-4 mt-md-0">
                <h6 class="text-primary">Help develop Linux Mint</h6>
                <h2 class="h1">Developer Guide</h2>
                <p class="lead">The Linux Mint Developer Guide helps you get involved and help developing Linux Mint. It gives an overview of the projects we work on and explains how to get started.</p>
                <p>It is available in English, in <span class="text-dark font-weight-bold">HTML, PDF and ePub</span>.</p>
                <a target="_blank" href="https://linuxmint-developer-guide.readthedocs.io/en/latest/"><img src="img/flags/us.png" class="flag"> English</a><br>
            </div>
        </div>
    </div>
</section>


<include src="mint-section-sponsors.html"/>
<include src="mint-section-footer.html"/>