<include src="mint-section-header.html"/>

<include src="mint-section-title.html" title="Partners"/>

<!-- ================ feature box ================ -->
<section class="py-5">
    <div class="container">
        <div class="row justify-content-center align-items-center mb-5">
            <p class="text-center">
                Linux Mint enjoys close ties and relationships with its
                partners. Our project benefits from professional backing,
                support and services from these companies on a daily basis. They
                participate in our success, make our job easier and allow us to
                focus on our own area of expertise.
            </p>

            <div class="col-md-6">
                <div class="feature-box f-style-1 active h-100 text-center icon-grad">
                    <div class="feature-box-icon">
                        <a href="http://www.eukhost.com/dedicated-server-hosting.php">
                            <img src="img/sponsors/upstream/eukhost.png" class="partner-logo" alt="eukhost"/>
                        </a>
                    </div>

                    <p class="feature-box-desc mb-2">
                        <strong><a href="http://www.eukhost.com/dedicated-server-hosting.php">eUKhost Ltd</a></strong>
                        is one of the world’s­ leading VPN providers. The
                        company offers more than 3,000 servers located in 15
                        countries around the world for its users to choose from.
                        The company has been touted for their policy to never
                        log data and for offering some of the lowest
                        subscription prices available anywhere while also
                        offering unlimited bandwidth on up to five devices with
                        a single account. Browse anonymously and protect
                        yourself with Private Internet Access’ VPN services.
                    </p>
                    <p>
                        <img src="img/flags/gb.png" class="partner-flag" title="Great Britain"/>
                        <small>Linux Mint Partner since 2011.</small>
                    </p>
                </div>
            </div>
        </div>

        <div class="row mb-5">

            <div class="col-md-4">
                <div class="feature-box f-style-1 active h-100 text-center icon-grad">
                    <div class="feature-box-icon">
                        <a href="http://www.vaultnetworks.com">
                            <img src="img/sponsors/upstream/vaultnetworks.png" class="partner-logo" alt="vaultnetworks"/>
                        </a>
                    </div>
                    <p class="feature-box-desc mb-2">
                        <strong><a href="http://www.vaultnetworks.com">Vault Networks</a></strong>
                        host the Linux Mint blog, they seed our torrents for
                        each release and they provide Linux Mint with servers
                        for remote testing and development.
                    </p>
                    <p>
                        <img src="img/flags/us.png" class="partner-flag" title="USA"/>
                        <small>Linux Mint Partner since 2009.</small>
                    </p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="feature-box f-style-1 active h-100 text-center icon-grad">
                    <div class="feature-box-icon">
                        <a href="http://www.ayksolutions.com/?utm_source=linuxmint.com&amp;utm_medium=banner&amp;utm_content=235x55banner&amp;utm_campaign=linuxmint235x55bannerROS">
                            <img src="img/sponsors/upstream/ayk.png" class="partner-logo" alt="ayk"/>
                        </a>
                    </div>
                    <p class="feature-box-desc mb-2">
                        <strong><a href="http://www.ayksolutions.com/?utm_source=linuxmint.com&amp;utm_medium=banner&amp;utm_content=235x55banner&amp;utm_campaign=linuxmint235x55bannerROS">AYK Solutions</a></strong>
                        provide Linux Mint with unmetered bandwidth and fast
                        dedicated servers which are used to host our package
                        repositories.
                    </p>

                    <p>
                        <img src="img/flags/us.png" class="partner-flag" title="USA"/>
                        <small>Linux Mint Partner since 2011.</small>
                    </p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="feature-box f-style-1 active  h-100 text-center icon-grad">
                    <div class="feature-box-icon">
                        <a href="https://www.hso.co.uk/">
                            <img src="img/sponsors/upstream/hso.png" class="partner-logo" alt="hso"/>
                        </a>
                    </div>
                    <p class="feature-box-desc mb-2">
                        <strong><a href="https://www.hso.co.uk/">hSo</a></strong>
                        provide Linux Mint with a dedicated server which hosts
                        our public ISO archive and is used as our test server.
                    </p>
                    <p>
                        <img src="img/flags/gb.png" class="partner-flag" title="Great Britain"/>
                        <small>Linux Mint Partner since 2009.</small>
                    </p>
                </div>
            </div>

        </div>
        <div class="row mb-5">

            <div class="col-md-4">
                <div class="feature-box f-style-1 active h-100 text-center icon-grad">
                    <div class="feature-box-icon">
                        <a href="http://yahoo.com/">
                            <img src="img/sponsors/upstream/yahoo.png" class="partner-logo" alt="yahoo"/>
                        </a>
                    </div>
                    <p class="feature-box-desc mb-2">
                        <strong><a href="http://yahoo.com/">Yahoo</a></strong>
                        is the default search engine in Linux Mint. The revenue
                        generated by Linux Mint users when searching and
                        clicking on sponsored links is shared between Yahoo and
                        Linux Mint.
                    </p>
                    <p>
                        <img src="img/flags/us.png" class="partner-flag" title="USA"/>
                        <small>Linux Mint Partner since 2012.</small>
                    </p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="feature-box f-style-1 active h-100 text-center icon-grad">
                    <div class="feature-box-icon">
                        <a href="http://duckduckgo.com/?t=lm">
                            <img src="img/sponsors/upstream/ddg.png" class="partner-logo" alt="ddg"/>
                        </a>
                    </div>
                    <p class="feature-box-desc mb-2">
                        <strong><a href="http://duckduckgo.com/?t=lm">DuckDuckGo</a></strong>
                        is included by default in Linux Mint. The revenue
                        generated by Linux Mint users when searching and
                        clicking on sponsored links is shared between DuckDuckGo
                        and Linux Mint.
                    </p>
                    <p>
                        <img src="img/flags/us.png" class="partner-flag" title="USA"/>
                        <small>Linux Mint Partner since 2011.</small>
                    </p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="feature-box f-style-1 active h-100 text-center icon-grad">
                    <div class="feature-box-icon">
                        <a href="http://www.fit-pc.com/web/purchase/order-direct-mintbox/">
                            <img src="img/sponsors/upstream/compulab.png" class="partner-logo" alt="compulab"/>
                        </a>
                    </div>
                    <p class="feature-box-desc mb-2">
                        <strong><a href="http://www.fit-pc.com/web/purchase/order-direct-mintbox/">CompuLab</a></strong>
                        produce the mintBox, the official Linux Mint
                        mini-computer! For each mintBox sold, %10 of the sale is
                        donated to Linux Mint.
                    </p>
                    <p>
                        <img src="img/flags/il.png" class="partner-flag" title="Israel"/>
                        <small>Linux Mint Partner since 2012.</small>
                    </p>
                </div>
            </div>

        </div>
        <div class="row mb-5">

            <div class="col-md-4">
                <div class="feature-box f-style-1 active h-100 text-center icon-grad">
                    <div class="feature-box-icon">
                        <a href="https://www.hellotux.com/linux_mint">
                            <img src="img/sponsors/upstream/hellotux.gif" class="partner-logo" alt="hellotux"/>
                        </a>
                    </div>
                    <p class="feature-box-desc mb-2">
                        <strong><a href="https://www.hellotux.com/linux_mint">HELLOTUX</a></strong>
                        produce the official Linux Mint T-Shirt and Polo Shirt
                        and ship them Worldwide. For each shirt sold, $5 is
                        donated to Linux Mint.
                    </p>
                    <p>
                        <img src="img/flags/hu.png" class="partner-flag" title="Hungry"/>
                        <small>Linux Mint Partner since 2011.</small>
                    </p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="feature-box f-style-1 active h-100 text-center icon-grad">
                    <div class="feature-box-icon">
                        <a href="http://linuxmint.thinkpenguin.com">
                            <img src="img/sponsors/upstream/thinkpenguin.png" class="partner-logo" alt="thinkpenguin"/>
                        </a>
                    </div>
                    <p class="feature-box-desc mb-2">
                        <strong><a href="http://linuxmint.thinkpenguin.com">ThinkPenguin</a></strong>
                        sell Linux computers, netbooks and related products. For
                        each item sold, 10% of the sale is donated to Linux
                        Mint.
                    </p>
                    <p>
                        <img src="img/flags/us.png" class="partner-flag" title="USA"/>
                        <small>Linux Mint Partner since 2012.</small>
                    </p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="feature-box f-style-1 active h-100 text-center icon-grad">
                    <div class="feature-box-icon">
                        <a href="https://www.shells.com/pricing?special=linux_mint">
                            <img src="img/sponsors/upstream/shells.png" class="partner-logo" alt="shells"/>
                        </a>
                    </div>
                    <p class="feature-box-desc mb-2">
                        <strong><a href="https://www.shells.com/pricing?special=linux_mint">Shells</a></strong>
                        hosts your Linux Mint environment in the cloud and lets
                        you access it from anywhere and on any device (Android,
                        iOS, Windows, Mac, Linux or any Web browser).
                    </p>
                    <p>
                        <img src="img/flags/us.png" class="partner-flag" title="USA"/>
                        <small>Linux Mint Partner since 2021.</small>
                    </p>
                </div>
            </div>

        </div>
        <div class="row mb-5">

            <div class="col-md-4">
                <div class="feature-box f-style-1 active h-100 text-center icon-grad">
                    <div class="feature-box-icon">
                        <a href="http://www.nutime.de/">
                            <img src="img/sponsors/upstream/nutime.png" class="partner-logo" alt="nutime"/>
                        </a>
                    </div>
                    <p class="feature-box-desc mb-2">
                        <strong><a href="http://www.nutime.de/">NuTime</a></strong>
                        was Linux Mint's first partner. They allowed our project
                        to grow in its early days. Nowadays, their sister
                        company, Spotchat is hosting our IRC channels.
                    </p>
                    <p>
                        <img src="img/flags/de.png" class="partner-flag" title="Germany"/>
                        <small>Linux Mint Partner since 2006.</small>
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>

<include src="mint-section-footer.html"/>
