<include src="mint-section-header.html"/>
<include src="mint-section-title.html" title="Local Communities"/>

<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 mb-4">

                <p>Local communities are independent groups of Linux Mint users. They promote the distribution and they benefit from a very close relationship with Linux Mint.</p>

                <h2 class="mb-4 text-primary">List of recognized communities</h2>

                <p>Linux Mint officially recognizes and promotes the following communities:</p>

                <div class="col-sm-12 mb-5">
                    <div class="table-responsive-sm">
                        <table class="table table-lg table-bordered table-striped text-nowrap">
                            <thead class="all-text-white bg-grad">
                                <tr class="text-uppercase">
                                    <th scope="col" width="200">Location</th>
                                    <th scope="col">Community</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><img src="img/flags/jp.png" class="flag" alt="Japan"/>&nbsp;&nbsp;Japan</td>
                                    <td><a href="http://linuxmint-jp.net/">Linux Mint Japan</a></td>
                                </tr>
                                <tr>
                                    <td><img src="img/flags/fr.png" class="flag" alt="France"/>&nbsp;&nbsp;France</td>
                                    <td><a href="https://www.forum-francophone-linuxmint.fr/">Forum Francophone LinuxMint</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<include src="mint-section-sponsors.html"/>
<include src="mint-section-footer.html"/>
