
<include src="mint-section-header.html"/>


<div class="left bg-grad pattern-overlay-2">
	<div class="container">
		<div class="row all-text-white">
			<div class="col-md-12 align-self-center">
				<h1 class="font-weight-bold display-4 display-md-1 mb-2 mb-md-n0 mt-9"></h1>
			</div>
		</div>
	</div>
</div>

<section class="pricing-page pricing pricing-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mb-0 mb-md-5">
                <div class="p-0 text-center text-md-left">
                    <h2>Download Linux Mint 20.2 Uma</h2>
                    <p>Our latest release is Linux Mint 20.2, codename "Uma". Choose your favorite edition below. View the release notes <a class="mt-3" href="#">here.</a></p>
                </div>
            </div>
            <div class="col-md-4 text-center text-md-right align-self-center mb-5 ">
                <a class="btn btn-grad" href="#!">Installation Guide</a>
            </div>
        </div>
        <div class="row">
            <!-- pricing item -->
            <div class="col-md-4 mb-5">
                <div class="pricing-box h-100">
                    <h5>Xfce</h5>
                    <p>An edition featuring the Xfce desktop.</p>
                    <a class="btn btn-outline-light mt-4" href="#!">Download</a>
                </div>
            </div>
            <!-- pricing item -->
            <div class="col-md-4 mb-5">
                <div class="pricing-box h-100 shadow no-border box">
                    <div class="ribbon"><span>POPULAR</span></div>
                    <h5>Cinnamon</h5>
     
                    <p>An edition featuring the Cinnamon desktop.</p>
                    <a class="btn btn-grad mt-4" href="#!">Download</a>
                </div>
            </div>
            <!-- pricing item -->
            <div class="col-md-4 mb-5">
                <div class="pricing-box h-100">
                    <h5>MATE</h5>
          
                    <p>An edition featuring the MATE desktop.</p>
                    <a class="btn btn-outline-light mt-4" href="#!">Download</a>
                </div>
            </div>
        </div>
        <!-- pricing enterprise -->
        <div class="row">
            <div class="col-sm-12 mt-2 mt-md-4">
                <div class="text-center">
                    <h4>Looking for older versions?</h4>
                    <p class="m-0"></p>
                    <a class="btn btn-outline-light mt-4" href="#!">Find More</a>
                </div>
            </div>
        </div>

    </div>
</section>


<include src="mint-section-sponsors.html"/>
<include src="mint-section-footer.html"/>