<h3 class="text-primary">Palette</h3>

<div class="font-weight-bold p-0 d-flex flex-row flex-wrap ">
	<div class="palette-box text-center text-white d-flex justify-content-center align-items-center mr-3 mb-3 border-radius-3" style="background-color: #6cabcd">
		<p>
			Aqua <br/>
			#6cabcd
		</p>
	</div>

	<div class="palette-box text-center text-white d-flex justify-content-center align-items-center mr-3 mb-3 border-radius-3" style="background-color: #5b73c4">
		<p>
			Blue <br/>
			#5b73c4
		</p>
	</div>

	<div class="palette-box text-center text-white d-flex justify-content-center align-items-center mr-3 mb-3 border-radius-3" style="background-color: #aa876a">
		<p>
			Brown <br/>
			#aa876a
		</p>
	</div>

	<div class="palette-box text-center text-white d-flex justify-content-center align-items-center mr-3 mb-3 border-radius-3" style="background-color: #9d9d9d">
		<p>
			Grey <br/>
			#9d9d9d
		</p>
	</div>

	<div class="palette-box text-center text-white d-flex justify-content-center align-items-center mr-3 mb-3 border-radius-3" style="background-color: #db9d61">
		<p>
			Orange <br/>
			#db9d61
		</p>
	</div>

	<div class="palette-box text-center text-white d-flex justify-content-center align-items-center mr-3 mb-3 border-radius-3" style="background-color: #c76199">
		<p>
			Pink <br/>
			#c76199
		</p>
	</div>

	<div class="palette-box text-center text-white d-flex justify-content-center align-items-center mr-3 mb-3 border-radius-3" style="background-color: #8c6ec9">
		<p>
			Purple <br/>
			#8c6ec9
		</p>
	</div>

	<div class="palette-box text-center text-white d-flex justify-content-center align-items-center mr-3 mb-3 border-radius-3" style="background-color: #c15b58">
		<p>
			Red <br/>
			#c15b58
		</p>
	</div>

	<div class="palette-box text-center text-white d-flex justify-content-center align-items-center mr-3 mb-3 border-radius-3" style="background-color: #c8ac69">
		<p>
			Sand <br/>
			#c8ac69
		</p>
	</div>

	<div class="palette-box text-center text-white d-flex justify-content-center align-items-center mr-3 mb-3 border-radius-3" style="background-color: #5aaa9a">
		<p>
			Teal <br/>
			#5aaa9a
		</p>
	</div>
</div>
