<include src="mint-section-header.html" />
<include src="mint-section-title.html" title="Store - Computers" />

<section class="py-5">
    <div class="container">
        <article class="py-4">
            <p>
                In association with
                <a href="http://linuxmint.thinkpenguin.com/">ThinkPenguin</a>,
                Linux Mint features the following computers.
            </p>
        </article>
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-sm-4 col-md-4">
                <a href="http://linuxmint.thinkpenguin.com/desktop-computers">
                    <div class="team-item text-center">
                        <div class="team-avatar">
                            <img src="img/store/desktops.png" alt="desktop" />
                        </div>
                        <div class="team-desc">
                            <h5 class="team-name text-primary">
                                Desktop Computers
                            </h5>
                            <p class="text-dark">
                                Partner: ThinkPenguin <br />
                                <span class="text-mini">
                                    <i>
                                        10% of each sale is donated to Linux
                                        Mint
                                    </i>
                                </span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-4 col-md-4">
                <a href="https://fit-iot.com/web/product/mintbox3-basic/">
                    <div class="team-item text-center">
                        <div class="team-avatar">
                            <img
                                src="img/store/notebooks.png"
                                alt="notebooks"
                            />
                        </div>
                        <div class="team-desc">
                            <h5 class="team-name text-primary">
                                Notebook Computers
                            </h5>
                            <p class="text-dark">
                                Partner: ThinkPenguin <br />
                                <span class="text-mini">
                                    <i>
                                        10% of each sale is donated to Linux
                                        Mint
                                    </i>
                                </span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<include src="mint-section-sponsors.html" />
<include src="mint-section-footer.html" />
