<include src="mint-section-header.html" />
<include src="mint-section-title.html" title="Store - Shirts" />

<section class="py-5">
    <div class="container">
        <article class="py-4">
            <p>
                In association with
                <a href="https://www.hellotux.com/linux_mint">HELLOTUX</a>,
                Linux Mint features the following polos and t-shirts.
            </p>
        </article>
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-sm-4 col-md-4">
                <a href="https://www.hellotux.com/linux_mint_polo_shirt_white">
                    <div class="team-item text-center">
                        <div class="team-avatar">
                            <img
                                src="img/store/linux_mint_polo_shirt_white_index.jpg"
                                alt="white polo shirt"
                            />
                        </div>
                        <div class="team-desc">
                            <h5 class="team-name text-primary">
                                White Polo Shirt
                            </h5>
                            <p class="text-dark">
                                Partner: HELLOTUX <br />
                                Price: $38 <br />
                                <span class="text-mini">
                                    <i>
                                        For each sale $5 is donated to Linux
                                        Mint
                                    </i>
                                </span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-4 col-md-4">
                <a
                    href="https://www.hellotux.com/linux_mint_2_polo_shirt_white"
                >
                    <div class="team-item text-center">
                        <div class="team-avatar">
                            <img
                                src="img/store/linux_mint_2_polo_shirt_white_index.jpg"
                                alt="white polo shirt"
                            />
                        </div>
                        <div class="team-desc">
                            <h5 class="team-name text-primary">
                                White Polo Shirt
                            </h5>
                            <p class="text-dark">
                                Partner: HELLOTUX <br />
                                Price: $38 <br />
                                <span class="text-mini">
                                    <i>
                                        For each sale $5 is donated to Linux
                                        Mint
                                    </i>
                                </span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-4 col-md-4">
                <a href="https://www.hellotux.com/linux_mint_polo_shirt_green">
                    <div class="team-item text-center">
                        <div class="team-avatar">
                            <img
                                src="img/store/linux_mint_polo_shirt_green_index.jpg"
                                alt="Green polo shirt"
                            />
                        </div>
                        <div class="team-desc">
                            <h5 class="team-name text-primary">
                                Green Polo Shirt
                            </h5>
                            <p class="text-dark">
                                Partner: HELLOTUX <br />
                                Price: $38 <br />
                                <span class="text-mini">
                                    <i>
                                        For each sale $5 is donated to Linux
                                        Mint
                                    </i>
                                </span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-sm-4 col-md-4">
                <a
                    href="https://www.hellotux.com/linux_mint_2_polo_shirt_green"
                >
                    <div class="team-item text-center">
                        <div class="team-avatar">
                            <img
                                src="img/store/linux_mint_2_polo_shirt_green_index.jpg"
                                alt="Green polo shirt"
                            />
                        </div>
                        <div class="team-desc">
                            <h5 class="team-name text-primary">
                                Green Polo Shirt
                            </h5>
                            <p class="text-dark">
                                Partner: HELLOTUX <br />
                                Price: $38 <br />
                                <span class="text-mini">
                                    <i>
                                        For each sale $5 is donated to Linux
                                        Mint
                                    </i>
                                </span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-4 col-md-4">
                <a href="https://www.hellotux.com/linux_mint_polo_shirt_black">
                    <div class="team-item text-center">
                        <div class="team-avatar">
                            <img
                                src="img/store/linux_mint_polo_shirt_black_index.jpg"
                                alt="Black polo shirt"
                            />
                        </div>
                        <div class="team-desc">
                            <h5 class="team-name text-primary">
                                Black Polo Shirt
                            </h5>
                            <p class="text-dark">
                                Partner: HELLOTUX <br />
                                Price: $38 <br />
                                <span class="text-mini">
                                    <i>
                                        For each sale $5 is donated to Linux
                                        Mint
                                    </i>
                                </span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-4 col-md-4">
                <a
                    href="https://www.hellotux.com/linux_mint_2_polo_shirt_black"
                >
                    <div class="team-item text-center">
                        <div class="team-avatar">
                            <img
                                src="img/store/linux_mint_2_polo_shirt_black_index.jpg"
                                alt="Black polo shirt"
                            />
                        </div>
                        <div class="team-desc">
                            <h5 class="team-name text-primary">
                                Black Polo Shirt
                            </h5>
                            <p class="text-dark">
                                Partner: HELLOTUX <br />
                                Price: $38 <br />
                                <span class="text-mini">
                                    <i>
                                        For each sale $5 is donated to Linux
                                        Mint
                                    </i>
                                </span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-sm-4 col-md-4">
                <a
                    href="https://www.hellotux.com/linux_mint_womens_tshirt_black"
                >
                    <div class="team-item text-center">
                        <div class="team-avatar">
                            <img
                                src="img/store/linux_mint_womens_tshirt_black_index.jpg"
                                alt="Women's T-Shirt"
                            />
                        </div>
                        <div class="team-desc">
                            <h5 class="team-name text-primary">
                                Women's T-Shirt
                            </h5>
                            <p class="text-dark">
                                Partner: HELLOTUX <br />
                                Price: $33 <br />
                                <span class="text-mini">
                                    <i>
                                        For each sale $5 is donated to Linux
                                        Mint
                                    </i>
                                </span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-4 col-md-4">
                <a
                    href="https://www.hellotux.com/linux_mint_2_womens_tshirt_black"
                >
                    <div class="team-item text-center">
                        <div class="team-avatar">
                            <img
                                src="img/store/linux_mint_2_womens_tshirt_black_index.jpg"
                                alt="Women's T-Shirt"
                            />
                        </div>
                        <div class="team-desc">
                            <h5 class="team-name text-primary">
                                Women's T-Shirt
                            </h5>
                            <p class="text-dark">
                                Partner: HELLOTUX <br />
                                Price: $33 <br />
                                <span class="text-mini">
                                    <i>
                                        For each sale $5 is donated to Linux
                                        Mint
                                    </i>
                                </span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-4 col-md-4">
                <a href="https://www.hellotux.com/linux_mint_tshirt_white">
                    <div class="team-item text-center">
                        <div class="team-avatar">
                            <img
                                src="img/store/linux_mint_tshirt_white_index.jpg"
                                alt="White T-Shirt"
                            />
                        </div>
                        <div class="team-desc">
                            <h5 class="team-name text-primary">
                                White T-Shirt
                            </h5>
                            <p class="text-dark">
                                Partner: HELLOTUX <br />
                                Price: $33 <br />
                                <span class="text-mini">
                                    <i>
                                        For each sale $5 is donated to Linux
                                        Mint
                                    </i>
                                </span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-sm-4 col-md-4">
                <a href="https://www.hellotux.com/linux_mint_2_tshirt_white">
                    <div class="team-item text-center">
                        <div class="team-avatar">
                            <img
                                src="img/store/linux_mint_2_tshirt_white_index.jpg"
                                alt="White T-Shirt"
                            />
                        </div>
                        <div class="team-desc">
                            <h5 class="team-name text-primary">
                                White T-Shirt
                            </h5>
                            <p class="text-dark">
                                Partner: HELLOTUX <br />
                                Price: $33 <br />
                                <span class="text-mini">
                                    <i>
                                        For each sale $5 is donated to Linux
                                        Mint
                                    </i>
                                </span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-4 col-md-4">
                <a href="https://www.hellotux.com/linux_mint_tshirt_green">
                    <div class="team-item text-center">
                        <div class="team-avatar">
                            <img
                                src="img/store/linux_mint_tshirt_green_index.jpg"
                                alt="Green T-Shirt"
                            />
                        </div>
                        <div class="team-desc">
                            <h5 class="team-name text-primary">
                                Green T-Shirt
                            </h5>
                            <p class="text-dark">
                                Partner: HELLOTUX <br />
                                Price: $33 <br />
                                <span class="text-mini">
                                    <i>
                                        For each sale $5 is donated to Linux
                                        Mint
                                    </i>
                                </span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-4 col-md-4">
                <a href="https://www.hellotux.com/linux_mint_2_tshirt_green">
                    <div class="team-item text-center">
                        <div class="team-avatar">
                            <img
                                src="img/store/linux_mint_2_tshirt_green_index.jpg"
                                alt="Green T-Shirt"
                            />
                        </div>
                        <div class="team-desc">
                            <h5 class="team-name text-primary">
                                Green T-Shirt
                            </h5>
                            <p class="text-dark">
                                Partner: HELLOTUX <br />
                                Price: $33 <br />
                                <span class="text-mini">
                                    <i>
                                        For each sale $5 is donated to Linux
                                        Mint
                                    </i>
                                </span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-sm-4 col-md-4">
                <a href="https://www.hellotux.com/linux_mint_tshirt_black">
                    <div class="team-item text-center">
                        <div class="team-avatar">
                            <img
                                src="img/store/linux_mint_tshirt_black_index.jpg"
                                alt="Black T-Shirt"
                            />
                        </div>
                        <div class="team-desc">
                            <h5 class="team-name text-primary">
                                Black T-Shirt
                            </h5>
                            <p class="text-dark">
                                Partner: HELLOTUX <br />
                                Price: $33 <br />
                                <span class="text-mini">
                                    <i>
                                        For each sale $5 is donated to Linux
                                        Mint
                                    </i>
                                </span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-4 col-md-4">
                <a href="https://www.hellotux.com/linux_mint_2_tshirt_black">
                    <div class="team-item text-center">
                        <div class="team-avatar">
                            <img
                                src="img/store/linux_mint_2_tshirt_black_index.jpg"
                                alt="Black T-Shirt"
                            />
                        </div>
                        <div class="team-desc">
                            <h5 class="team-name text-primary">
                                Black T-Shirt
                            </h5>
                            <p class="text-dark">
                                Partner: HELLOTUX <br />
                                Price: $33 <br />
                                <span class="text-mini">
                                    <i>
                                        For each sale $5 is donated to Linux
                                        Mint
                                    </i>
                                </span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-4 col-md-4">
                <a href="https://www.hellotux.com/linux_mint_jacket_black">
                    <div class="team-item text-center">
                        <div class="team-avatar">
                            <img
                                src="img/store/linux_mint_jacket_black_index.jpg"
                                alt="Jacket"
                            />
                        </div>
                        <div class="team-desc">
                            <h5 class="team-name text-primary">Jacket</h5>
                            <p class="text-dark">
                                Partner: HELLOTUX <br />
                                Price: $55 <br />
                                <span class="text-mini">
                                    <i>
                                        For each sale $5 is donated to Linux
                                        Mint
                                    </i>
                                </span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-sm-4 col-md-4">
                <a href="https://www.hellotux.com/linux_mint_hoodie_blackgray">
                    <div class="team-item text-center">
                        <div class="team-avatar">
                            <img
                                src="img/store/linux_mint_hoodie_blackgray_index.jpg"
                                alt="Hoodie"
                            />
                        </div>
                        <div class="team-desc">
                            <h5 class="team-name text-primary">Hoodie</h5>
                            <p class="text-dark">
                                Partner: HELLOTUX <br />
                                Price: $55 <br />
                                <span class="text-mini">
                                    <i>
                                        For each sale $5 is donated to Linux
                                        Mint
                                    </i>
                                </span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-4 col-md-4">
                <a href="https://www.hellotux.com/linux_mint_sweatshirt">
                    <div class="team-item text-center">
                        <div class="team-avatar">
                            <img
                                src="img/store/linux_mint_sweatshirt_1.jpg"
                                alt="Jacket"
                            />
                        </div>
                        <div class="team-desc">
                            <h5 class="team-name text-primary">Jacket</h5>
                            <p class="text-dark">
                                Partner: HELLOTUX <br />
                                Price: $55 <br />
                                <span class="text-mini">
                                    <i>
                                        For each sale $5 is donated to Linux
                                        Mint
                                    </i>
                                </span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-4 col-md-4">
                <a href="https://www.hellotux.com/linux_mint_2_sweatshirt">
                    <div class="team-item text-center">
                        <div class="team-avatar">
                            <img
                                src="img/store/linux_mint_2_sweatshirt_1.jpg"
                                alt="Jacket"
                            />
                        </div>
                        <div class="team-desc">
                            <h5 class="team-name text-primary">Jacket</h5>
                            <p class="text-dark">
                                Partner: HELLOTUX <br />
                                Price: $55 <br />
                                <span class="text-mini">
                                    <i>
                                        For each sale $5 is donated to Linux
                                        Mint
                                    </i>
                                </span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-sm-4 col-md-4">
                <a href="https://www.hellotux.com/linux_mint_hoodie_blackgray">
                    <div class="team-item text-center">
                        <div class="team-avatar">
                            <img
                                src="img/store/linux_mint_hoodie_blackgray_index.jpg"
                                alt="Hoodie"
                            />
                        </div>
                        <div class="team-desc">
                            <h5 class="team-name text-primary">Hoodie</h5>
                            <p class="text-dark">
                                Partner: HELLOTUX <br />
                                Price: $55 <br />
                                <span class="text-mini">
                                    <i>
                                        For each sale $5 is donated to Linux
                                        Mint
                                    </i>
                                </span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-4 col-md-4">
                <a href="https://www.hellotux.com/linux_mint_sweatshirt">
                    <div class="team-item text-center">
                        <div class="team-avatar">
                            <img
                                src="img/store/linux_mint_sweatshirt_1.jpg"
                                alt="Jacket"
                            />
                        </div>
                        <div class="team-desc">
                            <h5 class="team-name text-primary">Jacket</h5>
                            <p class="text-dark">
                                Partner: HELLOTUX <br />
                                Price: $55 <br />
                                <span class="text-mini">
                                    <i>
                                        For each sale $5 is donated to Linux
                                        Mint
                                    </i>
                                </span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-4 col-md-4">
                <a href="https://www.hellotux.com/linux_mint_2_sweatshirt">
                    <div class="team-item text-center">
                        <div class="team-avatar">
                            <img
                                src="img/store/linux_mint_2_sweatshirt_1.jpg"
                                alt="Jacket"
                            />
                        </div>
                        <div class="team-desc">
                            <h5 class="team-name text-primary">Jacket</h5>
                            <p class="text-dark">
                                Partner: HELLOTUX <br />
                                Price: $55 <br />
                                <span class="text-mini">
                                    <i>
                                        For each sale $5 is donated to Linux
                                        Mint
                                    </i>
                                </span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-sm-4 col-md-4">
                <a
                    href="https://www.hellotux.com/white_linuxmint_youth_t-shirt"
                >
                    <div class="team-item text-center">
                        <div class="team-avatar">
                            <img
                                src="img/store/white_linuxmint_youth_t-shirt_index.jpg"
                                alt="White Youth T-Shirt"
                            />
                        </div>
                        <div class="team-desc">
                            <h5 class="team-name text-primary">
                                White Youth T-Shirt
                            </h5>
                            <p class="text-dark">
                                Partner: HELLOTUX <br />
                                Price: $33 <br />
                                <span class="text-mini">
                                    <i>
                                        For each sale $5 is donated to Linux
                                        Mint
                                    </i>
                                </span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-4 col-md-4">
                <a
                    href="https://www.hellotux.com/black_linuxmint_youth_t-shirt"
                >
                    <div class="team-item text-center">
                        <div class="team-avatar">
                            <img
                                src="img/store/black_linuxmint_youth_t-shirt_index.jpg"
                                alt="Black Youth T-Shirt"
                            />
                        </div>
                        <div class="team-desc">
                            <h5 class="team-name text-primary">
                                Black Youth T-Shirt
                            </h5>
                            <p class="text-dark">
                                Partner: HELLOTUX <br />
                                Price: $33 <br />
                                <span class="text-mini">
                                    <i>
                                        For each sale $5 is donated to Linux
                                        Mint
                                    </i>
                                </span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<include src="mint-section-sponsors.html" />
<include src="mint-section-footer.html" />
