<!-- =======================
	footer  -->
	<footer class="footer footer-dark pt-6 position-relative">
		<div class="footer-content">
			<div class="container">
				<div class="row">
					<!-- Footer widget 1 -->
					<div class="col-md-3 col-sm-6 order-sm-1">
						<div class="widget address">
							<a href="index.html" class="footer-logo mb-3 d-block">
							<img src="img/logo.svg"/>
							</a>
							<p>Thanks to your donations and advertising Linux Mint is completely free of charge. We hope you'll enjoy using it as much as we enjoy working on it.</p>
						</div>
					</div>
					<!-- Footer widget 2 -->
					<div class="col-md-2 col-sm-4 order-sm-3">
						<div class="widget">
							<h6>Quick Links</h6>
							<ul class="nav flex-column">
								<li class="nav-item"><a class="nav-link" href="index.html">Download</a></li>
								<li class="nav-item"><a class="nav-link" href="contact.html">Donate</a></li>
								<li class="nav-item"><a class="nav-link" href="blog-grid-left-sidebar.html">Get Involved</a></li>
							</ul>
						</div>
					</div>
					<!-- Footer widget 3 -->
					<div class="col-md-2 col-sm-4 order-sm-4">
						<div class="widget">
							<h6>Info</h6>
							<ul class="nav flex-column primary-hover">
								<li class="nav-item"><a class="nav-link" href="about-classic.html">About</a></li>
								<li class="nav-item"><a class="nav-link" href="portfolio-grid-column-4.html">FAQs</a></li>
								<li class="nav-item"><a class="nav-link" href="contact.html">Privacy &amp; Policy</a></li>
							</ul>
						</div>
					</div>
					<!-- Footer widget 4 -->
					<div class="col-md-2 col-sm-4 order-sm-5">
						<div class="widget">
							<h6>Support</h6>
							<ul class="nav flex-column primary-hover">
								<li class="nav-item"><a class="nav-link" href="about-classic.html">Installation Guide</a></li>
								<li class="nav-item"><a class="nav-link" href="contact.html">User Guide</a></li>
								<li class="nav-item"><a class="nav-link" href="index.html">Forums</a></li>
							</ul>
						</div>
					</div>
					<!-- Footer widget 5 -->
					<div class="col-md-3 col-sm-6 order-sm-2">
						<p>Almost all the packages we distribute are open-source. You can find their source code on <a href="https://packages.ubuntu.com">https://packages.ubuntu.com</a>, <a href="http://packages.linuxmint.com">http://packages.linuxmint.com</a> or <a href="https://github.com/linuxmint">https://github.com/linuxmint</a>. If you can't find what you're looking for contact us.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="divider mt-3"></div>
		<!--footer copyright -->
		<div class="footer-copyright py-3">
			<div class="container">
				<div class="d-md-flex justify-content-between align-items-center py-3 text-center text-md-left">
					<!-- copyright text -->
					<div class="copyright-text">Linux Mint is copyrighted since 2006 and trademarked through the Linux Mark Institute. All rights reserved.<br/>Linux® is the registered trademark of Linus Torvalds in the U.S. and other countries.</a></div>
				</div>
			</div>
		</div>
	</footer>
	<!-- =======================
	footer  -->

	<div> <a href="#" class="back-top btn btn-grad"><i class="ti-angle-up"></i></a> </div>

	<!--Global JS-->
	<script src="assets/vendor/jquery/jquery.min.js"></script>
	<script src="assets/vendor/popper.js/umd/popper.min.js"></script>
	<script src="assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!--Vendors-->
	<script src="assets/vendor/fancybox/js/jquery.fancybox.min.js"></script>
	<script src="assets/vendor/owlcarousel/js/owl.carousel.min.js"></script>

	<!--Template Functions-->
	<script src="assets/js/functions.js"></script>

</body>
</html>
