<include src="mint-section-header.html"/>
<include src="mint-section-title.html" title="Get Involved"/>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 mb-4">
				<h2 class="heading mb-4 mt-4 text-primary">Thanks for Your Support</h2>
				<p class="mb-4">The Linux Mint project receives a great deal of support from its community of users and we would like to thank each and every contributor for participating. We are growing fast and our distribution is getting better every day thanks to you.</p>
				<p class="mb-4">
					It is very easy to make a difference. Depending on your skill set, your availability, and on your wealth you can help Linux Mint in one or more of the following ways:
				</p>
				<h2 class="heading mb-4 text-primary">Financial help</h2>
				
				<!--  item  -->
				<h4 class="subheading mb-2">Donations</h4>
				<p class="mb-4">
					You can help by making a financial contribution to the project. Due to revenue from advertisements and your donations, the Linux Mint project can afford to buy dedicated servers, advertising campaigns, new hardware and equipment, and to provide an income for the development team.
				</p>
				<p class="mb-4 ml-4">
					<i class="far fa-money-bill-alt text-primary fa-5x"></i>
					<br>
					<a href="https://linuxmint.com/donors.php">Make a donation</a>
				</p>

				<!--  item  -->
				<h4 class="subheading mb-2">Sponsorships</h4>
				<p class="mb-4">
					By sponsoring Linux Mint, you will be contributing to Linux Mint by giving the development team a regular and predictable income. Sponsorships are the best way to help Linux Mint's developers and artists get to the point where they are able to work full-time on Mint-related projects.
				</p>
				<p class="mb-4 ml-4">
					<i class="fas fa-comment-dollar text-primary fa-5x"></i>
					<br>
					<a href="https://linuxmint.com/sponsors.php">Become a sponsor</a>
				</p>

				<h2 class="heading mb-4 text-primary">Support and promotion</h2>

				<!--  item  -->
				<h4 class="subheading mb-2">Joining the Community</h4>
				<p class="mb-4">
					Linux Mint isn't just an operating system, it's also a dynamic community of people who enjoy, gather, and interact with a free and open project. Whether it's by helping others sort through issues, by making them feel welcome, by participating in community-driven projects (repositories, podcasts, artwork...etc) or simply by meeting and talking to other Linux Mint users, we recommend you join the community and participate in making Mint better.
				</p>
				<p class="mb-4 ml-4">
					<i class="fas fa-users text-primary fa-5x"></i>
					<br>				
					<ul>
						<li><a href="https://forums.linuxmint.com/">Register on the forums</a></li>
						<li><a href="https://blog.linuxmint.com/">Comment on the blog</a></li>
						<li><a href="https://mintcast.org/">Listen to the podcast</a></li>
					</ul>
				</p>

				
				<!--  item  -->
				<h4 class="subheading mb-2">Helping others</h4>
				<p class="mb-4">
					If you have some spare time and you're willing to help other users with technical problems, you should seriously consider reading the forums and/or joining the IRC channel and helping other Linux Mint users solve the problems you know how to fix.
				</p>
				<p class="mb-4 ml-4">
					<i class="fas fa-user-friends text-primary fa-5x"></i>
					<br>
					<a href="https://forums.linuxmint.com/">Join the Linux Mint forums</a>
				</p>

				<h2 class="heading mb-4 text-primary">Project contributions</h2>

				<!--  item  -->
				<h4 class="subheading mb-2">Bug reports</h4>
				<p class="mb-4">
					If you notice something that doesn't work properly, troubleshoot it and if you find a bug let us know. Read the Linux Mint Troubleshooting Guide to know how to troubleshoot issues and how to report bugs.
				</p>
				<p class="mb-4 ml-4">
					<i class="fas fa-bug text-primary fa-5x"></i>
					<br>
					<a href="https://linuxmint-troubleshooting-guide.readthedocs.io/en/latest/">Linux Mint Troubleshooting Guide</a>
				</p>
				
				<!--  item  -->
				<h4 class="subheading mb-2">Translations</h4>
				<p class="mb-4">
					If you can read English and if you speak another language, you can help us translate Linux Mint. Your efforts will allow Linux Mint to fully support display in your language. Read the Linux Mint Translation Guide to get started.
				</p>
				<p class="mb-4 ml-4">
					<i class="fas fa-language text-primary fa-5x"></i>
					<br>
					<a href="https://linuxmint-translation-guide.readthedocs.io/en/latest/">Linux Mint Translation Guide</a>
				</p>

				<!--  item  -->
				<h4 class="subheading mb-2">Code</h4>
				<p class="mb-4">
					We develop tools, applications and a desktop environment for Linux Mint. We use Python, C, Javascript, Vala, GNOME libraries and the GTK toolkit. If you're interested in development read the Linux Mint Developer Guide to get started.
				</p>
				<p class="mb-4 ml-4">
					<i class="fas fa-code text-primary fa-5x"></i>
					<br>
					<a href="https://linuxmint-developer-guide.readthedocs.io/en/latest/">Linux Mint Developer Guide</a>
				</p>
			</div>
		</div>
	</div>


<include src="mint-section-sponsors.html"/>
<include src="mint-section-footer.html"/>
