<include src="mint-section-header.html"/>

	<include src="mint-section-title.html" title="Teams"/>

	<section class="pb-3">
		<div class="container">
			<div class="row">
				<!-- Table gradient -->
				<div class="col-md-12 mb-5">
					<div class="col-sm-12 mb-5">
					<h5 class="text-center mb-4">Team leaders</h5>
					<div class="table-responsive-sm">
						<table class="table table-lg table-noborder text-center">
							<thead class="all-text-white bg-grad">
								<tr>
									<th scope="col"></th>
									<th scope="col">LEADER</th>
									<th scope="col"></th>
									<th scope="col">TEAM</th>
								</tr>
							</thead>
							<tbody class="text-center">
								<tr>
									<th scope="row"><img src="../template/assets/images/flags/fr.png" style="height:20px;" alt="France flag"></th>
									<td>Clement Lefebvre</td>
									<td>"Clem"</td>
									<td>Overall project and development team</td>
								</tr>
								<tr>
									<th scope="row"><img src="../template/assets/images/flags/nl.png" style="height:20px;" alt="Netherland flag"></th>
									<td>Vincent Vermeulen</td>
									<td>"Xenopeek"</td>
									<td>Administration and moderation teams</td>
								</tr>
								<tr>
									<th scope="row"><img src="../template/assets/images/flags/gb.png" style="height:20px;" alt="GreatBritain flag"></th>
									<td>"Oscar799"</td>
									<td></td>
									<td>Administration and moderation teams</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-sm-12 mb-5">
					<h5 class="text-center mb-4">Teams</h5>
					<div class="table-responsive-sm">
						<table class="table table-lg table-noborder">
							<thead class="all-text-white text-center bg-grad">
								<tr>
									<th  scope="col">TEAM</th>
									<th scope="col">MISSION</th>
									<th scope="col">LINKS</th>
								</tr>
							</thead>
							<tbody class="text-center">
								<tr>
									<td>Development Team</td>
									<td>Software development and bug fixing</td>
									<td><a href="https://github.com/linuxmint">Github</a></td>
								</tr>
								<tr>
									<td>Administration and Moderation Teams</td>
									<td>Administration and moderation (forums, community website and IRC)</td>
									<td><a href="https://community.linuxmint.com/iso/team">Community websiteForums</a></td>
								</tr>
								<tr>
									<td>Design Team</td>
									<td>Web and user interface design</td>
								</tr>
								<tr>
									<td>Translation Teams</td>
									<td>Software translations</td>
									<td><a href="https://community.linuxmint.com/iso/team">Launchpad</a></td>
								</tr>
								<tr>
									<td>QA Team</td>
									<td>Quality testing</td>
									<td><a href="https://community.linuxmint.com/iso/team">Community website</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>

<include src="mint-section-footer.html"/>