<!doctype html>
<html lang="en">
<head>
	<title>Wizixo | Creative Multipurpose Bootstrap Template</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Webestica.com">
	<meta name="description" content="Creative Multipurpose Bootstrap Template">

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/images/favicon.ico">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900%7CPlayfair+Display:400,400i,700,700i%7CRoboto:400,400i,500,700" rel="stylesheet">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="assets/vendor/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="assets/vendor/themify-icons/css/themify-icons.css" />
	<link rel="stylesheet" type="text/css" href="assets/vendor/animate/animate.min.css" />
	<link rel="stylesheet" type="text/css" href="assets/vendor/fancybox/css/jquery.fancybox.min.css" />

	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="assets/css/style.css" />

</head>

<body>
	<div class="preloader">
		<img src="assets/images/preloader.svg" alt="Pre-loader">
	</div>

	<!-- =======================
	header Start-->
	<header class="navbar-transparent navbar-sticky navbar-primary">
		<!-- Search -->
		<div class="top-search collapse bg-light" id="search-open" data-parent="#search">
			<div class="container">
				<div class="row position-relative">
					<div class="col-md-8 mx-auto py-5">
						<form>
							<div class="input-group">
								<input class="form-control border-radius-right-0 border-right-0" type="text" name="search" autofocus placeholder="What are you looking for?">
								<button type="button" class="btn btn-grad border-radius-left-0 mb-0">Search</button>
							</div>
						</form>
						<p class="small mt-2 mb-0"><strong>e.g.</strong>Template, Wizixo, WordPress theme </p>
					</div>
					<a class="position-absolute top-0 right-0 mt-3 mr-3" data-toggle="collapse" href="#search-open"><i class="fa fa-window-close"></i></a>
				</div>
			</div>
		</div>
		<!-- End Search -->

<div class="navbar-top d-none d-lg-block">
			<div class="container">
				<div class="d-flex justify-content-between align-items-center">
					<!-- navbar top Left-->
					<div class="d-flex align-items-center">
						<!-- Language -->
						<div class="dropdown">
						  <a class="dropdown-toggle" href="#" role="button" id="dropdownLanguage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <img class="dropdown-item-icon" src="assets/images/flags/uk.svg" alt=""> English </a>
						  <div class="dropdown-menu mt-2 shadow" aria-labelledby="dropdownLanguage">
						  	<span class="dropdown-item-text">Select language</span>
						  	<div class="dropdown-divider"></div>
						    <a class="dropdown-item" href="#"><img class="dropdown-item-icon" src="assets/images/flags/sp.svg" alt=""> Español</a>
						    <a class="dropdown-item" href="#"><img class="dropdown-item-icon" src="assets/images/flags/fr.svg" alt=""> Français</a>
						    <a class="dropdown-item" href="#"><img class="dropdown-item-icon" src="assets/images/flags/gr.svg" alt=""> Deutsch</a>
						  </div>
						</div>
						
					</div>

					<!-- navbar top Right-->
					<div class="d-flex align-items-center">
						
						<!-- top link -->
			
						<!-- top social -->
						<ul class="social-icons">
							<li class="social-icons-item social-rss m-0">
								<a class="social-icons-link w-auto px-2" href="#"><i class="fa fa-rss"></i></a>
							</li>
							<li class="social-icons-item social-envelope m-0">
								<a class="social-icons-link w-auto px-2" href="#"><i class="fa fa-envelope"></i></a>
							</li>
							<li class="social-icons-item social-hastag m-0">
								<a class="social-icons-link w-auto px-2" href="#"><i class="fa fa-hashtag"></i></a>
							</li>
							<li class="social-icons-item social-facebook m-0">
								<a class="social-icons-link w-auto px-2" href="#"><i class="fa fa-facebook"></i></a>
							</li>
							<li class="social-icons-item social-github m-0">
								<a class="social-icons-link w-auto px-2" href="#"><i class="fa fa-github"></i></a>
							</li>
							<li class="social-icons-item social-twitter m-0">
								<a class="social-icons-link w-auto pl-2" href="#"><i class="fa fa-twitter"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<!-- Logo Nav Start -->
		<nav class="navbar navbar-expand-lg">
			<div class="container">
				<!-- Logo -->
				<a class="navbar-brand" href="index.html">
					<img src="img/logo-mono.svg" width="200" />
				</a>
				<!-- Menu opener button -->
				<button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"> </span>
			  </button>
				<!-- Main Menu Start -->
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav ml-auto">

						<!-- Home -->
						<li class="nav-item">
							<a class="nav-link" href="#">Home</a>
						</li>

						<!-- Download menu -->
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="demosMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Download</a>
							<div class="dropdown-menu pb-3 pb-lg-0" aria-labelledby="demosMenu" >
								<div class="d-block d-sm-flex">
									<ul class="list-unstyled w-100 w-sm-50 pr-0 pr-lg-5">
										<li class="dropdown-header">Latest version</li>
										<li> <a class="dropdown-item" href="index.html">Linux Mint 20.2<span class="badge badge-success ml-2">Recommended</span></a> </li>
									</ul>
									<ul class="list-unstyled w-100 w-sm-50 pr-0 pr-lg-5">
										<li class="dropdown-header">Other versions</li>
										<li> <a class="dropdown-item" href="index-2.html">LMDE 4</a> </li>
										<li> <a class="dropdown-item" href="index-3.html">All versions</a> </li>
									</ul>
								</div>
								<!-- bottom part -->
								<div class="w-100 bg-grad pattern-overlay-2 p-4 mt-3 all-text-white d-none d-lg-flex">
									<div class="align-self-center mr-4">
										<h4 class="mb-0 text-nowrap">Checkout the doc!</h4>
										<p class="mb-0 small">Follow the guide to learn how to download and install Linux Mint.</p>
									</div>
									<a href="" target="_blank" class="btn btn-outline-white btn-sm mb-0 align-self-center ml-auto overflow-visible">Installation Guide</a>
								</div>
							</div>
						</li>

						<!-- Project menu -->
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="demosMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Project</a>
							<div class="dropdown-menu pb-3 pb-lg-0" aria-labelledby="demosMenu" >
								<div class="d-block d-sm-flex">
									<ul class="list-unstyled w-100 w-sm-50 pr-0 pr-lg-5">
										<li class="dropdown-header">Funding</li>
										<li> <a class="dropdown-item" href="index.html">Donors</a> </li>
										<li> <a class="dropdown-item" href="index.html">Sponsors</a> </li>
										<li> <a class="dropdown-item" href="index.html">Partners</a> </li>
										<li> <a class="dropdown-item" href="index.html">Store</a> </li>
									</ul>
									<ul class="list-unstyled w-100 w-sm-50 pr-0 pr-lg-5">
										<li class="dropdown-header">Contributing</li>
										<li> <a class="dropdown-item" href="index.html">Get Involved</a> </li>
										<li> <a class="dropdown-item" href="index.html">Development</a> </li>
										<li> <a class="dropdown-item" href="index.html">Translations</a> </li>
										<li> <a class="dropdown-item" href="index.html">Mirrors</a> </li>
									</ul>
								</div>
								<!-- bottom part -->
								<div class="w-100 bg-grad pattern-overlay-2 p-4 mt-3 all-text-white d-none d-lg-flex">
									<div class="align-self-center mr-4">
										<p class="mb-0 small">Every little helps, don't hesitate to get involved.</p>
									</div>
								</div>
							</div>
						</li>

						<!-- About menu -->
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="demosMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
							<div class="dropdown-menu pb-3 pb-lg-0" aria-labelledby="demosMenu" >
								<div class="d-block d-sm-flex">
									<ul class="list-unstyled w-100 w-sm-50 pr-0 pr-lg-5">
										<li class="dropdown-header">Linux Mint</li>
										<li> <a class="dropdown-item" href="index.html">About Linux Mint</a> </li>
										<li> <a class="dropdown-item" href="index.html">FAQ</a> </li>
										<li> <a class="dropdown-item" href="index.html">Documentation</a> </li>
										<li> <a class="dropdown-item" href="index.html">Screenshots</a> </li>
										<li> <a class="dropdown-item" href="index.html">Team</a> </li>
										<li> <a class="dropdown-item" href="index.html">Contact</a> </li>
									</ul>
									<ul class="list-unstyled w-100 w-sm-50 pr-0 pr-lg-5">
										<li class="dropdown-header">Legal</li>
										<li> <a class="dropdown-item" href="index-2.html">Privacy and Cookies </a> </li>
										<li> <a class="dropdown-item" href="index-3.html">Logo and Artwork</a> </li>
									</ul>
								</div>
							</div>
						</li>

						<!-- Links menu -->
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="demosMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Links</a>
							<div class="dropdown-menu pb-3 pb-lg-0" aria-labelledby="demosMenu" >
								<div class="d-block d-sm-flex">
									<ul class="list-unstyled w-100 w-sm-50 pr-0 pr-lg-5">
										<li class="dropdown-header">Official</li>
										<li> <a class="dropdown-item" href="index.html"><i class="fa fa-igloo"></i> Website<span class="badge badge-success ml-2">Here</span></a> </li>
										<li> <a class="dropdown-item" href="index-2.html"><i class="fas fa-blog"></i> Blog</a> </li>
										<li> <a class="dropdown-item" href="index-3.html"><i class="fa fa-comments"></i> Forums</a> </li>
										<li> <a class="dropdown-item" href="index-3.html"><i class="fas fa-users"></i> Community website</a> </li>
									</ul>
									<ul class="list-unstyled w-100 w-sm-50 pr-0 pr-lg-5">
										<li class="dropdown-header">Social</li>
										<li> <a class="dropdown-item" href="index.html"><i class="fa fa-github"></i> Github</a> </li>
										<li> <a class="dropdown-item" href="index-2.html"><i class="fa fa-facebook"></i> Facebook</a> </li>
										<li> <a class="dropdown-item" href="index-3.html"><i class="fa fa-twitter"></i> Twitter</a> </li>
										<li> <a class="dropdown-item" href="index-4.html"><i class="fa fa-hashtag"></i> IRC Chat</a> </li>
									</ul>
									<ul class="list-unstyled w-100 w-sm-50 pr-0 pr-lg-5">
										<li class="dropdown-header mt-3 mt-sm-0">Community</li>
										<li> <a class="dropdown-item" href="index-6.html"><i class="fa fa-reddit"></i> Reddit</a> </li>
										<li> <a class="dropdown-item" href="index-7.html"><i class="fab fa-discord"></i> Discord</a> </li>
										<li> <a class="dropdown-item" href="index-8.html"><i class="fas fa-globe"></i> Local communities</a> </li>
									</ul>
								</div>
								<!-- mega menu Bottom -->
								<div class="w-100 bg-grad pattern-overlay-2 p-4 mt-3 all-text-white d-none d-lg-flex">
									<div class="align-self-center mr-4">
										<p class="mb-0 small">Websites in the right column are maintained by the community.</p>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<!-- Main Menu End -->
				<!-- Header Extras Start-->
				<div class="navbar-nav">
					<!-- Donate button -->
					<div class="nav-item border-0 d-none d-lg-inline-block align-self-center border-0 px-lg-4">
						<a href="#" class=" btn btn-sm btn-white mb-0">Donate</a>
					</div>
				</div>
				<!-- Header Extras End-->
			</div>
		</nav>
		<!-- Logo Nav End -->
	</header>
	<!-- =======================
	header End-->

	<!-- =======================
	Banner innerpage -->
	<div class="innerpage-banner center bg-overlay-dark-7 py-7" style="background:url(assets/images/bg/04.jpg) no-repeat; background-size:cover; background-position: center center;">
		<div class="container">
			<div class="row all-text-white">
				<div class="col-md-8 col-lg-6 mx-auto align-self-center py-5">
					<h1 class="innerpage-title">Frequntly Asked Questions</h1>
					<form class="bg-white my-2 my-md-4 p-2 w-100 border-radius-3 shadow">
						<div class="input-group">
							<input class="form-control border-radius-right-0 border-0" type="text" name="search" placeholder="Search your question...">
							<button type="button" class="btn btn-grad mb-0">
								<span class="d-none d-md-block">Search</span>
								<span class="d-md-none"><i class="fa fa-search m-0"></i></span>
							</button>
						</div>
					</form>
					<h6 class="mb-0">We transform your perception into an excellent website</h6>
				</div>
			</div>
		</div>
	</div>
	<!-- =======================
	Banner innerpage -->

	<!-- =======================
	careers -->
	<section class="pb-3">
		<div class="container">
			<div class="row">
				<!-- accordion gradient -->
				<div class="col-md-8 mb-5">
					<div class="accordion mb-0 accordion-grad" id="accordion3">

						
						<!-- item -->
						<div class="accordion-item">
							<div class="accordion-title">
								<a class="h6 mb-0" data-toggle="collapse" href="#collapse-1">What is Linux Mint? </a>
							</div>
							<div class="collapse show" id="collapse-1" data-parent="#accordion3">
								<div class="accordion-content">
									<p>Linux Mint is a free Linux-based operating system designed for use on desktop computers.  </p>
								</div>
							</div>
						</div>


						<!-- item -->
						<div class="accordion-item">
							<div class="accordion-title">
								<a class="h6 mb-0 collapsed" data-toggle="collapse" href="#collapse-2">Is Linux Mint suitable for individuals? </a>
							</div>
							<div class="collapse" id="collapse-2" data-parent="#accordion3">
								<div class="accordion-content">
									<p>Yes, definitely. Linux Mint is designed to be comfortable and easy to use but also powerful and configurable. Everything is done to make the user experience better. </p>
									<p>Linux Mint is one of the most popular desktop Linux distributions and used by millions of people. </p>
									<p>User feedback is very important to us and used to consistently improve the quality of Linux Mint.</p>
								</div>
							</div>
						</div>


						<!-- item -->
						<div class="accordion-item">
							<div class="accordion-title">
								<a class="h6 mb-0 collapsed" data-toggle="collapse" href="#collapse-3">Is Linux Mint suitable for companies? </a>
							</div>
							<div class="collapse" id="collapse-3" data-parent="#accordion3">
								<div class="accordion-content">
									<p>Yes. Linux Mint provides Long-Term Support (LTS) releases which are supported for a duration of 5 years. </p>
								</div>
							</div>
						</div>


						<!-- item -->
						<div class="accordion-item">
							<div class="accordion-title">
								<a class="h6 mb-0 collapsed" data-toggle="collapse" href="#collapse-4">Does Linux Mint include proprietary drivers? </a>
							</div>
							<div class="collapse" id="collapse-4" data-parent="#accordion3">
								<div class="accordion-content">
									<p>No. Proprietary drivers such as the ATI or nVidia drivers are easy to install but not installed by default. </p>
								</div>
							</div>
						</div>


						<!-- item -->
						<div class="accordion-item">
							<div class="accordion-title">
								<a class="h6 mb-0 collapsed" data-toggle="collapse" href="#collapse-5">What about proprietary software? </a>
							</div>
							<div class="collapse" id="collapse-5" data-parent="#accordion3">
								<div class="accordion-content">
									<p>Linux Mint does not support any political or ideological stance against any software programs or editors no matter what license they use. With that said, most if not all (depending on the edition) software used in Linux Mint is Free and Open Source. We believe in Open Source as a choice, not as a constraint. We think it makes sense to share code, to credit the technology we use, to let people help us, to allow others to build upon what we are making and to enable progress in general. We also enjoy sharing with the community, so we license our software under the GPL and the vast majority of components we use are Free and Open Source.  </p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Sidebar -->
				<div class="col-md-4 sidebar">
					<div class="widget bg-light p-3 border-0 border-radius-3">
						<h4>Have any question? </h4>
						<p>If you need to send us mail regarding job opportunities, please write to us at <a class="text-primary" href="mailto:contact@example.com">root@linuxmint.com</a> for more information.</p>
					</div>
					<div class="widget bg-light p-3 border-0 border-radius-3">
						<h4>Social </h4>
						<ul class="social-icons round si-medium light si-colored-bg-on-hover">
							<li class="social-icons-item social-facebook">
								<a class="social-icons-link" href="https://www.facebook.com/pages/Linux-Mint/185238108180410"><i class="fa fa-facebook"></i></a>
							</li>
							<li class="social-icons-item social-rss">
								<a class="social-icons-link" href="#"><i class="fa fa-rss"></i></a>
							</li>
							<li class="social-icons-item social-twitter">
								<a class="social-icons-link" href="https://twitter.com/linux_mint"><i class="fa fa-twitter"></i></a>
							</li>
						</ul>	
					</div>
					<div class="widget bg-light p-3 border-0 border-radius-3">
						<h4>Advertisements </h4>
					</div>
				</div>
				<!-- Sidebar end-->

			</div>
		</div>
	</section>
	<!-- =======================
	careers -->

<!-- =======================
	footer  -->
	<footer class="footer footer-dark pt-6 position-relative">
		<div class="footer-content">
			<div class="container">
				<div class="row">
					<!-- Footer widget 1 -->
					<div class="col-md-3 col-sm-6 order-sm-1">
						<div class="widget address">
							<a href="index.html" class="footer-logo mb-3 d-block">
							<img src="img/logo.svg"/>
							</a>
							<p>Thanks to your donations and advertising Linux Mint is completely free of charge. We hope you'll enjoy using it as much as we enjoy working on it.</p>
						</div>
					</div>
					<!-- Footer widget 2 -->
					<div class="col-md-2 col-sm-4 order-sm-3">
						<div class="widget">
							<h6>Quick Links</h6>
							<ul class="nav flex-column">
								<li class="nav-item"><a class="nav-link" href="index.html">Download</a></li>
								<li class="nav-item"><a class="nav-link" href="contact.html">Donate</a></li>
								<li class="nav-item"><a class="nav-link" href="blog-grid-left-sidebar.html">Get Involved</a></li>
							</ul>
						</div>
					</div>
					<!-- Footer widget 3 -->
					<div class="col-md-2 col-sm-4 order-sm-4">
						<div class="widget">
							<h6>Info</h6>
							<ul class="nav flex-column primary-hover">
								<li class="nav-item"><a class="nav-link" href="about-classic.html">About</a></li>
								<li class="nav-item"><a class="nav-link" href="portfolio-grid-column-4.html">FAQs</a></li>
								<li class="nav-item"><a class="nav-link" href="contact.html">Privacy &amp; Policy</a></li>
							</ul>
						</div>
					</div>
					<!-- Footer widget 4 -->
					<div class="col-md-2 col-sm-4 order-sm-5">
						<div class="widget">
							<h6>Support</h6>
							<ul class="nav flex-column primary-hover">
								<li class="nav-item"><a class="nav-link" href="about-classic.html">Installation Guide</a></li>
								<li class="nav-item"><a class="nav-link" href="contact.html">User Guide</a></li>
								<li class="nav-item"><a class="nav-link" href="index.html">Forums</a></li>
							</ul>
						</div>
					</div>
					<!-- Footer widget 5 -->
					<div class="col-md-3 col-sm-6 order-sm-2">
						<p>Almost all the packages we distribute are open-source. You can find their source code on <a href="https://packages.ubuntu.com">https://packages.ubuntu.com</a>, <a href="http://packages.linuxmint.com">http://packages.linuxmint.com</a> or <a href="https://github.com/linuxmint">https://github.com/linuxmint</a>. If you can't find what you're looking for contact us.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="divider mt-3"></div>
		<!--footer copyright -->
		<div class="footer-copyright py-3">
			<div class="container">
				<div class="d-md-flex justify-content-between align-items-center py-3 text-center text-md-left">
					<!-- copyright text -->
					<div class="copyright-text">Linux Mint is copyrighted since 2006 and trademarked through the Linux Mark Institute. All rights reserved.<br/>Linux® is the registered trademark of Linus Torvalds in the U.S. and other countries.</a></div>
				</div>
			</div>
		</div>
	</footer>
	<!-- =======================
	footer  -->

	<div> <a href="#" class="back-top btn btn-grad"><i class="ti-angle-up"></i></a> </div>

	<!--Global JS-->
	<script src="assets/vendor/jquery/jquery.min.js"></script>
	<script src="assets/vendor/popper.js/umd/popper.min.js"></script>
	<script src="assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!--Vendors-->
	<script src="assets/vendor/fitvids/jquery.fitvids.js"></script>

	<!--Template Functions-->
	<script src="assets/js/functions.js"></script>

</body>
</html>