
<include src="mint-section-header.html"/>

<include src="mint-section-title.html" title="All Versions"/>

<section class="py-4">
    <div class="container">

        <div class="row">
            <div class="col-12 col-lg-8 mx-auto">
                <div class="title text-center">
                    <span class="pre-title">Linux Mint</span>
                    <h2>Supported Releases</h2>
                    <p class="mb-0">This page shows all the Linux Mint releases which are currently supported.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 mb-5">
                    <div class="table-responsive-sm">
                        <table class="table table-lg table-noborder table-bordered table-striped text-left">
                            <thead class="all-text-white bg-grad">
                                <tr>
                                    <th scope="col">Version</th>
                                    <th scope="col">Codename</th>
                                    <th scope="col">Edition</th>
                                    <th scope="col">Package base</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="4">20.2</td>
                                    <td rowspan="4">Uma</td>
                                    <td><a href="mint-edition.html">Cinnamon</a></td>
                                    <td rowspan="11">Ubuntu 20.04 Focal</td>
                                    <td rowspan="11">Long term support release (LTS), supported until April 2025.</td>
                                </tr>
                                <tr>
                                    <td><a href="mint-edition.html">Cinnamon EDGE</a></td>
                                </tr>
                                <tr>
                                    <td><a href="mint-edition.html">MATE</a></td>
                                </tr>
                                <tr>
                                    <td><a href="mint-edition.html">Xfce</a></td>
                                </tr>
                                <tr>
                                    <td rowspan="4">20.1</td>
                                    <td rowspan="4">Ulyssa</td>
                                    <td><a href="mint-edition.html">Cinnamon</a></td>
                                </tr>
                                <tr>
                                    <td><a href="mint-edition.html">Cinnamon EDGE</a></td>
                                </tr>
                                <tr>
                                    <td><a href="mint-edition.html">MATE</a></td>
                                </tr>
                                <tr>
                                    <td><a href="mint-edition.html">Xfce</a></td>
                                </tr>
                                <tr>
                                    <td rowspan="3">20</td>
                                    <td rowspan="3">Ulyana</td>
                                    <td><a href="mint-edition.html">Cinnamon</a></td>
                                </tr>
                                <tr>
                                    <td><a href="mint-edition.html">MATE</a></td>
                                </tr>
                                <tr>
                                    <td><a href="mint-edition.html">Xfce</a></td>
                                </tr>
                                <tr>
                                    <td rowspan="3">19.3</td>
                                    <td rowspan="3">Tricia</td>
                                    <td><a href="mint-edition.html">Cinnamon</a></td>
                                    <td rowspan="12">Ubuntu 18.04 Bionic</td>
                                    <td rowspan="12">Long term support release (LTS), supported until April 2023.</td>
                                </tr>
                                <tr>
                                    <td><a href="mint-edition.html">MATE</a></td>
                                </tr>
                                <tr>
                                    <td><a href="mint-edition.html">Xfce</a></td>
                                </tr>
                                <tr>
                                    <td rowspan="3">19.2</td>
                                    <td rowspan="3">Tina</td>
                                    <td><a href="mint-edition.html">Cinnamon</a></td>
                                </tr>
                                <tr>
                                    <td><a href="mint-edition.html">MATE</a></td>
                                </tr>
                                <tr>
                                    <td><a href="mint-edition.html">Xfce</a></td>
                                </tr>
                                <tr>
                                    <td rowspan="3">19.1</td>
                                    <td rowspan="3">Tessa</td>
                                    <td><a href="mint-edition.html">Cinnamon</a></td>
                                </tr>
                                <tr>
                                    <td><a href="mint-edition.html">MATE</a></td>
                                </tr>
                                <tr>
                                    <td><a href="mint-edition.html">Xfce</a></td>
                                </tr>
                                <tr>
                                    <td rowspan="3">19</td>
                                    <td rowspan="3">Tara</td>
                                    <td><a href="mint-edition.html">Cinnamon</a></td>
                                </tr>
                                <tr>
                                    <td><a href="mint-edition.html">MATE</a></td>
                                </tr>
                                <tr>
                                    <td><a href="mint-edition.html">Xfce</a></td>
                                </tr>
                                <tr>
                                    <td>LMDE 4</td>
                                    <td>Debbie</td>
                                    <td><a href="mint-edition.html">Cinnamon</a></td>
                                    <td>Debian 10 Buster</td>
                                    <td>Long term support release (LTS).</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
    </div>
</section>

<include src="mint-section-sponsors.html"/>
<include src="mint-section-footer.html"/>