
<include src="mint-section-header.html"/>

<include src="mint-section-title.html" title="LMDE 4"/>

<section class="py-4">
        <div class="container">
            <div class="border border-dotted p-4 p-sm-5 border-radius-3">
                <div class="text-center px-0 px-sm-5">
                    <h3>What is LMDE?</h3>
                    <p class="m-0">LMDE is a Linux Mint project which stands for "Linux Mint Debian Edition".</p>
                    <p>Its goal is to ensure Linux Mint can continue to deliver the same user experience if Ubuntu was ever to disappear. It allows us to assess how much we depend on Ubuntu and how much work would be involved in such an event. LMDE is also one of our development targets, as such it guarantees the software we develop is compatible outside of Ubuntu.</p>
                </div>
            </div>
        </div>
    </section>

<section>
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <!-- left -->
            <div class="col-md-6">
                <a href="mint-edition.html"><img src="https://linuxmint.com/pictures/screenshots/debbie/thumb_cinnamon.png"/></a>
            </div>
            <!-- right -->
            <div class="title col-md-6 pl-lg-5">
                <span class="pre-title">An alternative to Ubuntu</span>
                <h2 class="h1">Debian Edition</h2>
                <p>LMDE aims to be as similar as possible to Linux Mint, but without using Ubuntu. The package base is provided by Debian instead.</p>
                <div>
                    <a href="mint-edition.html" class="btn btn-dark">Download</a>
                </div>
            </div>
        </div>
    </div>
</section>

<include src="mint-section-sponsors.html"/>
<include src="mint-section-footer.html"/>