<!doctype html>
<html lang="en">
<head>
	<title>Wizixo | Creative Multipurpose Bootstrap Template</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Webestica.com">
	<meta name="description" content="Creative Multipurpose Bootstrap Template">

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/images/favicon.ico">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900%7CPlayfair+Display:400,400i,700,700i%7CRoboto:400,400i,500,700" rel="stylesheet">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="assets/vendor/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="assets/vendor/themify-icons/css/themify-icons.css" />
	<link rel="stylesheet" type="text/css" href="assets/vendor/animate/animate.min.css" />
	<link rel="stylesheet" type="text/css" href="assets/vendor/fancybox/css/jquery.fancybox.min.css" />
	<link rel="stylesheet" type="text/css" href="assets/vendor/owlcarousel/css/owl.carousel.min.css" />

	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="assets/css/style.css" />

</head>

<body>
	<div class="preloader">
		<img src="assets/images/preloader.svg" alt="Pre-loader">
	</div>

	<!-- =======================
	header Start-->
	<header class="navbar-transparent navbar-sticky navbar-primary">
		<!-- Search -->
		<div class="top-search collapse bg-light" id="search-open" data-parent="#search">
			<div class="container">
				<div class="row position-relative">
					<div class="col-md-8 mx-auto py-5">
						<form>
							<div class="input-group">
								<input class="form-control border-radius-right-0 border-right-0" type="text" name="search" autofocus placeholder="What are you looking for?">
								<button type="button" class="btn btn-grad border-radius-left-0 mb-0">Search</button>
							</div>
						</form>
						<p class="small mt-2 mb-0"><strong>e.g.</strong>Template, Wizixo, WordPress theme </p>
					</div>
					<a class="position-absolute top-0 right-0 mt-3 mr-3" data-toggle="collapse" href="#search-open"><i class="fa fa-window-close"></i></a>
				</div>
			</div>
		</div>
		<!-- End Search -->

<div class="navbar-top d-none d-lg-block">
			<div class="container">
				<div class="d-flex justify-content-between align-items-center">
					<!-- navbar top Left-->
					<div class="d-flex align-items-center">
						<!-- Language -->
						<div class="dropdown">
						  <a class="dropdown-toggle" href="#" role="button" id="dropdownLanguage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <img class="dropdown-item-icon" src="assets/images/flags/uk.svg" alt=""> English </a>
						  <div class="dropdown-menu mt-2 shadow" aria-labelledby="dropdownLanguage">
						  	<span class="dropdown-item-text">Select language</span>
						  	<div class="dropdown-divider"></div>
						    <a class="dropdown-item" href="#"><img class="dropdown-item-icon" src="assets/images/flags/sp.svg" alt=""> Español</a>
						    <a class="dropdown-item" href="#"><img class="dropdown-item-icon" src="assets/images/flags/fr.svg" alt=""> Français</a>
						    <a class="dropdown-item" href="#"><img class="dropdown-item-icon" src="assets/images/flags/gr.svg" alt=""> Deutsch</a>
						  </div>
						</div>
						
					</div>

					<!-- navbar top Right-->
					<div class="d-flex align-items-center">
						
						<!-- top link -->
			
						<!-- top social -->
						<ul class="social-icons">
							<li class="social-icons-item social-rss m-0">
								<a class="social-icons-link w-auto px-2" href="#"><i class="fa fa-rss"></i></a>
							</li>
							<li class="social-icons-item social-envelope m-0">
								<a class="social-icons-link w-auto px-2" href="#"><i class="fa fa-envelope"></i></a>
							</li>
							<li class="social-icons-item social-hastag m-0">
								<a class="social-icons-link w-auto px-2" href="#"><i class="fa fa-hashtag"></i></a>
							</li>
							<li class="social-icons-item social-facebook m-0">
								<a class="social-icons-link w-auto px-2" href="#"><i class="fa fa-facebook"></i></a>
							</li>
							<li class="social-icons-item social-github m-0">
								<a class="social-icons-link w-auto px-2" href="#"><i class="fa fa-github"></i></a>
							</li>
							<li class="social-icons-item social-twitter m-0">
								<a class="social-icons-link w-auto pl-2" href="#"><i class="fa fa-twitter"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<!-- Logo Nav Start -->
		<nav class="navbar navbar-expand-lg">
			<div class="container">
				<!-- Logo -->
				<a class="navbar-brand" href="index.html">
					<img src="img/logo-mono.svg" width="200" />
				</a>
				<!-- Menu opener button -->
				<button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"> </span>
			  </button>
				<!-- Main Menu Start -->
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link active" href="#">Home</a>
						</li>
	
						<!-- Menu item 3 Pages-->
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="demosMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Download</a>
							<div class="dropdown-menu pb-3 pb-lg-0" aria-labelledby="demosMenu" >
								<div class="d-block d-sm-flex">
									<ul class="list-unstyled w-100 w-sm-50 pr-0 pr-lg-5">
										<li class="dropdown-header">Download links</li>
										<li> <a class="dropdown-item" href="index.html">Linux Mint 20.2<span class="badge badge-success ml-2">Latest version</span></a> </li>
										<li> <a class="dropdown-item" href="index-2.html">LMDE 4</a> </li>
										<li> <a class="dropdown-item" href="index-3.html">All versions</a> </li>
									</ul>
								</div>
								<!-- mega menu Bottom -->
								<div class="w-100 bg-grad pattern-overlay-2 p-4 mt-3 all-text-white d-none d-lg-flex">
									<div class="align-self-center mr-4">
										<h4 class="mb-0">Check out the doc!</h4>
										<p class="mb-0 small">Follow the guide to learn how to download and install Linux Mint.</p>
									</div>
									<a href="" target="_blank" class="btn btn-outline-white btn-sm mb-0 align-self-center ml-auto">Installation Guide</a>
								</div>
							</div>
						</li>

						<!-- Menu item 5 Elements-->
						<li class="nav-item dropdown megamenu">
							<a class="nav-link dropdown-toggle" href="#" id="elementsMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Project</a>
							<div class="dropdown-menu" aria-labelledby="elementsMenu" style="background-image:url(assets/images/menu-bg.jpg); background-position: right bottom; background-repeat: no-repeat;">
								<div class="container">
									<div class="row w-100">
										<div class="col-sm-6 col-lg-3">
											<ul class="list-unstyled">
												<li> <a class="dropdown-item" href="elements-accordion.html">Accordion</a> </li>
												<li> <a class="dropdown-item" href="elements-action-box.html">Action box</a> </li>
												<li> <a class="dropdown-item" href="elements-alerts.html">Alerts</a> </li>
												<li> <a class="dropdown-item" href="elements-animated-headlines.html">Animated Headlines</a> </li>
												<li> <a class="dropdown-item" href="elements-blockquote.html">Blockquote</a> </li>
												<li> <a class="dropdown-item" href="elements-buttons.html">Buttons</a> </li>
											</ul>
										</div>
										<div class="col-sm-6 col-lg-3">
											<ul class="list-unstyled">
												<li> <a class="dropdown-item" href="elements-clients.html">Clients</a> </li>
												<li> <a class="dropdown-item" href="elements-counter.html">Counter</a> </li>
												<li> <a class="dropdown-item" href="elements-divider.html">Divider</a> </li>
												<li> <a class="dropdown-item" href="elements-feature-box.html">Feature box</a> </li>
												<li> <a class="dropdown-item" href="elements-forms.html">Forms</a> </li>
												<li> <a class="dropdown-item" href="elements-grid.html">Grid</a> </li>
											</ul>
										</div>
										<div class="col-sm-6 col-lg-3">
											<ul class="list-unstyled">
												<li> <a class="dropdown-item" href="elements-list-styles.html">list styles</a> </li>
												<li> <a class="dropdown-item" href="elements-map.html">Map</a> </li>
												<li> <a class="dropdown-item" href="elements-modal.html">Modal</a> </li>
												<li> <a class="dropdown-item" href="elements-skill.html">skill</a> </li>
												<li> <a class="dropdown-item" href="elements-social-icon.html">social icon</a> </li>
												<li> <a class="dropdown-item" href="elements-tab.html">Tab</a> </li>
											</ul>
										</div>
										<div class="col-sm-6 col-lg-3">
											<ul class="list-unstyled">
												<li> <a class="dropdown-item" href="elements-table.html">Table</a> </li>
												<li> <a class="dropdown-item" href="elements-team.html">Team</a> </li>
												<li> <a class="dropdown-item" href="elements-typography.html">Typography</a> </li>
												<li> <a class="dropdown-item" href="elements-video.html">Video</a> </li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</li>

												<!-- Menu item 2 Blog-->
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="blogMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
							<ul class="dropdown-menu" aria-labelledby="blogMenu">
								<li class="dropdown-submenu">
									<a class="dropdown-item dropdown-toggle" href="#">Blog default</a>
									<ul class="dropdown-menu">
										<li> <a class="dropdown-item" href="blog-classic.html">Full Width</a> </li>
										<li> <a class="dropdown-item" href="blog-classic-left-sidebar.html">Left Sidebar</a> </li>
										<li> <a class="dropdown-item" href="blog-classic-right-sidebar.html">Right Sidebar</a> </li>
									</ul>
								</li>
								<li class="dropdown-submenu">
									<a class="dropdown-item dropdown-toggle" href="#">Blog Grid</a>
									<ul class="dropdown-menu">
										<li> <a class="dropdown-item" href="blog-grid-column-3.html">Three column</a> </li>
										<li> <a class="dropdown-item" href="blog-grid-column-4.html">Four column</a> </li>
										<li> <a class="dropdown-item" href="blog-grid-left-sidebar.html">Left Sidebar</a> </li>
										<li> <a class="dropdown-item" href="blog-grid-right-sidebar.html">Right Sidebar</a> </li>
									</ul>
								</li>
								<li><a class="dropdown-item" href="blog-minimal.html">Blog minimal</a></li>
								<li class="dropdown-submenu">
									<a class="dropdown-item dropdown-toggle" href="#">Blog Single</a>
									<ul class="dropdown-menu">
										<li> <a class="dropdown-item" href="blog-single-classic.html">Single classic</a> </li>
										<li> <a class="dropdown-item" href="blog-single-minimal.html">Single Minimal</a> </li>
									</ul>
								</li>
							</ul>
						</li>
											<!-- Menu item 1 Demos-->
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="demosMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Links</a>
							<div class="dropdown-menu pb-3 pb-lg-0" aria-labelledby="demosMenu" >
								<div class="d-block d-sm-flex">
									<ul class="list-unstyled w-100 w-sm-50 pr-0 pr-lg-5">
										<li class="dropdown-header">Official</li>
										<li> <a class="dropdown-item" href="index.html">Website<span class="badge badge-success ml-2">Here</span></a> </li>
										<li> <a class="dropdown-item" href="index-2.html">Blog</a> </li>
										<li> <a class="dropdown-item" href="index-3.html">Forums</a> </li>
										<li> <a class="dropdown-item" href="index-3.html">Community website</a> </li>
									</ul>
									<ul class="list-unstyled w-100 w-sm-50 pr-0 pr-lg-5">
										<li class="dropdown-header">Social</li>
										<li> <a class="dropdown-item" href="index.html">Github</a> </li>
										<li> <a class="dropdown-item" href="index-2.html">Facebook</a> </li>
										<li> <a class="dropdown-item" href="index-3.html">Twitter</a> </li>
										<li> <a class="dropdown-item" href="index-4.html">IRC Chat</a> </li>
									</ul>
									<ul class="list-unstyled w-100 w-sm-50 pr-0 pr-lg-5">
										<li class="dropdown-header mt-3 mt-sm-0">Community</li>
										<li> <a class="dropdown-item" href="index-6.html">Reddit</a> </li>
										<li> <a class="dropdown-item" href="index-7.html">Discord</a> </li>
										<li> <a class="dropdown-item" href="index-8.html">Local communities</a> </li>
									</ul>
								</div>
								<!-- mega menu Bottom -->
								<div class="w-100 bg-grad pattern-overlay-2 p-4 mt-3 all-text-white d-none d-lg-flex">
									<div class="align-self-center mr-4">
										<h4 class="mb-0">Checkout the doc!</h4>
										<p class="mb-0 small">For better understanding of theme standard</p>
									</div>
									<a href="https://wizixo.webestica.com/documentation/" target="_blank" class="btn btn-outline-white btn-sm mb-0 align-self-center ml-auto">Read more!</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<!-- Main Menu End -->
				<!-- Header Extras Start-->
				<div class="navbar-nav">
					<!-- extra item Search-->
					<div class="nav-item search border-0 pl-3 pr-0 px-lg-2" id="search">
						<a class="nav-link" data-toggle="collapse" href="#search-open"><i class="ti-search"> </i></a>
					</div>
					<!-- extra item Btn-->
					<div class="nav-item border-0 d-none d-lg-inline-block align-self-center">
						<a href="#" class=" btn btn-sm btn-white mb-0">Donate!</a>
					</div>
				</div>
				<!-- Header Extras End-->
			</div>
		</nav>
		<!-- Logo Nav End -->
	</header>
	<!-- =======================
	header End-->

	<!-- =======================
	Main Banner -->
	<section class="p-0 py-5 bg-grad pattern-overlay-2">
		<div class="container">
			<div class="row py-0 py-md-5 justify-content-between align-items-center">
				<div class="col-sm-10 col-lg-6 all-text-white my-5 mt-md-0">
					<div class="text-left py-0 py-md-5 my-5">
						<h6>It's here!</h6>
						<h2 class="display-5 display-lg-4 font-weight-normal">Linux Mint 20.2</h2>
						<p class="mb-4 display-8 font-weight-normal">The latest version of the friendly operating system is here. Install it on your computer today!</p>
						<a href="#" class="btn btn-white mr-3">Download</a>
						<a href="#" class="btn btn-outline-white">Installation Instructions</a>
					</div>
				</div>
				<div class="col-sm-10 col-md-6 d-none d-lg-block mb-5">
					<img class="rounded shadow" src="assets/images/blog/01.jpg" alt="">
					<div class="pos-absolute-center">
						<a class="btn btn-grad btn-round btn-lg zoom-on-hover" data-fancybox="" href="https://youtu.be/n_Cn8eFo7u8"> <i class="fa fa-play"></i> </a>
					</div>
				</div>
			</div>
		</div>
		<div class="position-absolute bottom-0 left-0 w-100 d-none d-md-block mb-n3">
			<svg width="100%" height="150" viewBox="0 0 500 150" preserveAspectRatio="none">
				<path d="M0,150 L0,40 Q250,150 500,40 L580,150 Z" fill="white" />
			</svg>
		</div>
	</section>
	<!-- =======================
	Main banner -->

	<!-- =======================
	client -->
	<section class="client p-0 mt-5 mt-md-0">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="owl-carousel owl-grab" data-arrow="false" data-dots="false" data-items-xl="6" data-items-lg="5" data-items-md="4" data-items-sm="3" data-items-xs="2" data-autoplay="4500">
						<div class="item"><img class="w-75" src="assets/images/clients/01.png" alt=""></div>
						<div class="item"><img class="w-75" src="assets/images/clients/02.png" alt=""></div>
						<div class="item"><img class="w-75" src="assets/images/clients/03.png" alt=""></div>
						<div class="item"><img class="w-75" src="assets/images/clients/04.png" alt=""></div>
						<div class="item"><img class="w-75" src="assets/images/clients/05.png" alt=""></div>
						<div class="item"><img class="w-75" src="assets/images/clients/06.png" alt=""></div>
						<div class="item"><img class="w-75" src="assets/images/clients/07.png" alt=""></div>
						<div class="item"><img class="w-75" src="assets/images/clients/08.png" alt=""></div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- =======================
	client -->

	<div class="divider mt-5"></div>

	<!-- =======================
	service -->
	<section>
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-8 mx-auto">
					<div class="title text-center">
						<span class="pre-title">Why choose wizixo?</span>
						<h2>Passion, dedication, and a lot of coffee.</h2>
						<p class="mb-0">The real challenge before companies in today's world is to make their products and services appealing to everyone.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 mt-4">
					<div class="feature-box f-style-5 h-100 icon-grad">
						<div class="feature-box-icon"><i class="ti-panel"></i></div>
						<h3 class="feature-box-title">Creative Solution</h3>
						<p class="feature-box-desc">We provide digital transformation solutions, enabling companies to make their visions reality. We help our customers better manage their web presence in order to achieve.</p>
					</div>
				</div>
				<div class="col-md-4 mt-4">
					<div class="feature-box f-style-5 h-100 icon-grad">
						<div class="feature-box-icon"><i class="ti-palette"></i></div>
						<h3 class="feature-box-title">Client Satisfaction</h3>
						<p class="feature-box-desc">With us at your side, you will find the IT solution to achieve your financial goals. We provide digital transformation solutions, enabling companies to make their visions reality.</p>
					</div>
				</div>
				<div class="col-md-4 mt-4">
					<div class="feature-box f-style-5 h-100 icon-grad">
						<div class="feature-box-icon"><i class="ti-gift"></i></div>
						<h3 class="feature-box-title">Experienced Staff</h3>
						<p class="feature-box-desc">We are an innovative Internet marketing solutions company that offers comprehensive web development, SEO strategies and various other types of Internet marketing related services.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- =======================
	service -->

	<!-- =======================
	about us -->
	<section class="pt-0">
		<div class="container">
			<div class="row justify-content-between align-items-center">
				<!-- left -->
				<div class="col-md-6">
					<img class="rounded" src="assets/images/blog/03.jpg" alt="">
				</div>
				<!-- right -->
				<div class="col-md-6 mt-4 mt-md-0">
					<h2 class="h1">Your technical partner towards web success.</h2>
					<p>Our friendly team members are always willing to help you understand your present technology requirements and provide suggestions on your future needs.</p>
					<ul class="list-group list-group-borderless list-group-icon-primary-bg mb-4">
						<li class="list-group-item"><i class="fa fa-check"></i> Proven results as a recruitment consultant or strong sales experience</li>
						<li class="list-group-item"><i class="fa fa-check"></i> Knowledge of the staffing industry</li>
						<li class="list-group-item"><i class="fa fa-check"></i> Previous leadership experience, personally or professionally</li>
						<li class="list-group-item"><i class="fa fa-check"></i> A strong desire to be successful and inspire people</li>
					</ul>
					<a href="#" class="btn btn-grad">Find out more!</a>
				</div>
			</div>
		</div>
	</section>
	<!-- =======================
	about us -->

	<!-- =======================
	service -->
	<section class="bg-dark">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-8 mx-auto">
					<div class="title text-center all-text-white">
						<span class="pre-title">Have any questions?</span>
						<h2>Engaging, purposeful, and creative.</h2>
						<p>The real challenge before companies in today's world is to make their products and services appealing to everyone.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 mt-4 all-text-white primary-border-left-dotted py-4">
					<h4>How does free trial work?</h4>
					<p>You have full access to all the features of wizixo Standard for 30 days.</p>
					<a class="text-primary" href="#">Learn more <i class="ti-arrow-right text-primary"></i></a>
				</div>
				<div class="col-md-3 mt-4 all-text-white primary-border-left-dotted py-4">
					<h4>How can I upgrade plans?</h4>
					<p>To upgrade to the Standard plan, log into your account and enter a valid credit card.</p>
					<a class="text-primary" href="#">Learn more <i class="ti-arrow-right text-primary"></i></a>
				</div>
				<div class="col-md-3 mt-4 all-text-white primary-border-left-dotted py-4">
					<h4>What payment options accepted?</h4>
					<p>We accept MasterCard and Visa. we also accept bank transfers or checks.</p>
					<a class="text-primary" href="#">Learn more <i class="ti-arrow-right text-primary"></i></a>
				</div>
				<div class="col-md-3 mt-4 all-text-white primary-border-left-dotted py-4">
					<h4>How does the discount work?</h4>
					<p>Once you get your code, just enter it into the promo code area on your billing page.</p>
					<a class="text-primary" href="#">Learn more <i class="ti-arrow-right text-primary"></i></a>
				</div>
			</div>
			<div class="row">
				<div class="col-12 mx-auto text-center mt-5">
					<a href="#" class="btn btn-grad">Read more FAQs</a>
					<p class="small text-white">Does design matter? How important is design to business success.</p>
				</div>
			</div>
		</div>
	</section>
	<!-- =======================
	service -->

	<!-- =======================
	testimonials -->
	<section class="testimonials">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="owl-carousel testi-full testi-big arrow-md-none arrow-border arrow-large arrow-round owl-grab" data-arrow="true" data-items="1" data-autoplay="4500">
						<!-- testimonial item -->
						<div class="item">
							<div class="testimonials-wrap">
								<div class="testi-avatar"> <img src="assets/images/thumbnails/avatar-01.jpg" alt="avatar"> </div>
								<div class="testi-text">
									<p>Best of the best service i have got so far consectetur adipisicing elit Numquam aliquid neque voluptates <strong>Never seen in my entire life</strong> iusto ipsam eligendi officia repellat ipsum commodi aspernatur quibusdam doloremque nam ullam labore.</p>
									<span><i class="fa fa-quote-left text-primary display-8"></i></span>
									<h6 class="mb-0 mt-3">Adam Ross</h6>
									<h6 class="small">Software Developer</h6>
								</div>
							</div>
						</div>
						<!-- testimonial item -->
						<div class="item">
							<div class="testimonials-wrap">
								<div class="testi-avatar"> <img src="assets/images/thumbnails/avatar-02.jpg" alt="avatar"> </div>
								<div class="testi-text">
									<p>Thanks for the super quick support consectetur adipisicing elit. Numquam aliquid neque voluptates veniam laborum dolore porro totam iusto ipsam eligendi officia repellat ipsum commodi aspernatur quibusdam, doloremque nam ullam labore.</p>
									<span><i class="fa fa-quote-left text-primary display-8"></i></span>
									<h6 class="mb-0 mt-3">Peter Smith</h6>
									<h6 class="small">Buyer</h6>
								</div>
							</div>
						</div>
						<!-- testimonial item -->
						<div class="item">
							<div class="testimonials-wrap">
								<div class="testi-avatar"> <img src="assets/images/thumbnails/avatar-03.jpg" alt="avatar"> </div>
								<div class="testi-text">
									<p>You guys did an amazing work for me. consectetur adipisicing elit. Numquam aliquid neque voluptates veniam laborum dolore porro totam iusto ipsam eligendi officia repellat ipsum commodi aspernatur doloremque ullam labore.</p>
									<span><i class="fa fa-quote-left text-primary display-8"></i></span>
									<h6 class="mb-0 mt-3">Emma Watson</h6>
									<h6 class="small">Human Resource</h6>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- =======================
	testimonials -->

	<div class="divider m-0"></div>

	<!-- =======================
	team grid -->
	<section class="team team-grid">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-8 mx-auto">
					<div class="title text-center">
						<span class="pre-title">They are all professionals</span>
						<h2>Creative Team and founders</h2>
						<p>Our friendly team members are always willing to help you understand your present technology requirements and provide suggestions on your future needs.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="owl-carousel owl-grab dots-primary" data-arrow="false" data-dots="true" data-items-xl="2" data-items-xs="1" data-autoplay="4500">
						<!-- Team item -->
						<div class="item">
							<div class="team-item">
								<div class="team-avatar">
									<img class="rounded" src="assets/images/team/01.jpg" alt="">
								</div>
								<div class="team-desc">
									<h4 class="team-name">Allen Smith</h4>
									<span class="team-position">Founder</span>
									<p>Far concluded not his something extremity. Four we face an he gate large an it sense shall an match learn. </p>
									<ul class="social-icons light si-colored-bg-on-hover no-pb">
										<li class="social-icons-item social-facebook"><a class="social-icons-link" href="#"><i class="fa fa-facebook"></i></a></li>
										<li class="social-icons-item social-instagram"><a class="social-icons-link" href="#"><i class="fa fa-instagram"></i></a></li>
										<li class="social-icons-item social-twitter"><a class="social-icons-link" href="#"><i class="fa fa-twitter"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- Team item -->
						<div class="item">
							<div class="team-item">
								<div class="team-avatar">
									<img class="rounded" src="assets/images/team/02.jpg" alt="">
								</div>
								<div class="team-desc">
									<h4 class="team-name">Peter Smith</h4>
									<span class="team-position">Software Developer</span>
									<p>Sportsman one bed departure rapturous situation disposing partiality By expect it result silent in formal.</p>
									<ul class="social-icons light si-colored-bg-on-hover no-pb">
										<li class="social-icons-item social-facebook"><a class="social-icons-link" href="#"><i class="fa fa-facebook"></i></a></li>
										<li class="social-icons-item social-instagram"><a class="social-icons-link" href="#"><i class="fa fa-instagram"></i></a></li>
										<li class="social-icons-item social-twitter"><a class="social-icons-link" href="#"><i class="fa fa-twitter"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- Team item -->
						<div class="item">
							<div class="team-item">
								<div class="team-avatar">
									<img class="rounded" src="assets/images/team/03.jpg" alt="">
								</div>
								<div class="team-desc">
									<h4 class="team-name">Emma Watson</h4>
									<span class="team-position">Human Resource</span>
									<p>Continue delicate as unlocked entirely mr relation diverted in Expect eat questions elsewhere assurance.</p>
									<ul class="social-icons light si-colored-bg-on-hover no-pb">
										<li class="social-icons-item social-facebook"><a class="social-icons-link" href="#"><i class="fa fa-facebook"></i></a></li>
										<li class="social-icons-item social-instagram"><a class="social-icons-link" href="#"><i class="fa fa-instagram"></i></a></li>
										<li class="social-icons-item social-twitter"><a class="social-icons-link" href="#"><i class="fa fa-twitter"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- Team item -->
						<div class="item">
							<div class="team-item">
								<div class="team-avatar">
									<img class="rounded" src="assets/images/team/04.jpg" alt="">
								</div>
								<div class="team-desc">
									<h4 class="team-name">Jessica Mores</h4>
									<span class="team-position">Web Developer</span>
									<p>Expect no pretty though so genius afraid when of ye snug poor draw Appetite in unlocked advanced breeding.</p>
									<ul class="social-icons light si-colored-bg-on-hover no-pb">
										<li class="social-icons-item social-facebook"><a class="social-icons-link" href="#"><i class="fa fa-facebook"></i></a></li>
										<li class="social-icons-item social-instagram"><a class="social-icons-link" href="#"><i class="fa fa-instagram"></i></a></li>
										<li class="social-icons-item social-twitter"><a class="social-icons-link" href="#"><i class="fa fa-twitter"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- row end -->
			</div>
		</div>
	</section>
	<!-- =======================
	team grid -->

	<!-- =======================
	blog -->
	<section class="blog bg-light">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-8 mx-auto">
					<div class="title text-center">
						<span class="pre-title">From the latest blog</span>
						<h2>Read our news and thoughts</h2>
						<p>Timed blind had now those ought set often which. Or snug dull he show more true wish. No at many deny away miss evil.</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="owl-carousel post-style-3 arrow-dark arrow-hover" data-dots="false" data-items-xl="3" data-items-lg="3" data-items-md="2" data-items-sm="2" data-items-xs="1" data-autoplay="4500">
						<!-- post -->
						<div class="item">
							<div class="post">
								<div class="post-info">
									<span class="post-tag bg-grad text-white mb-3 clearfix"><a href="#!">Trend</a></span>
									<div class="post-author"><a href="#!"> By Allen C</a></div>,
									<div class="post-time"><a href="#!">2 Hours ago</a></div>
									<a class="post-title" href="#!">The Stories Behind those Iconic Blogs</a>
									<p class="mb-0">Two assure Edward whence the was. Who worthy yet ten boy denote wonder that!</p>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="post">
								<div class="post-info">
									<span class="post-tag bg-grad text-white mb-3 clearfix"><a href="#!">Craft</a></span>
									<div class="post-author"><a href="#!"> By Mark C</a></div>,
									<div class="post-time"><a href="#!">19 Hours ago</a></div>
									<a class="post-title" href="#!">Right my front it wound cause fully am sorry</a>
									<p class="mb-0">Weeks views her sight old tears sorry suspected its concealed put furnished</p>
								</div>
							</div>
						</div>
						<!-- post -->
						<div class="item">
							<div class="post">
								<div class="post-info">
									<span class="post-tag bg-grad text-white mb-3 clearfix"><a href="#!">Business</a></span>
									<div class="post-author"><a href="#!"> By Stephen C</a></div>,
									<div class="post-time"><a href="#!">1 day ago</a></div>
									<a class="post-title" href="#!">Months had too ham cousin remove far spirit</a>
									<p class="mb-0">Two assure Edward whence the was. Who worthy yet ten boy denote wonder that!</p>
								</div>
							</div>
						</div>
						<!-- post -->
						<div class="item">
							<div class="post">
								<div class="post-info">
									<span class="post-tag bg-grad text-white mb-3 clearfix"><a href="#!">Creative</a></span>
									<div class="post-author"><a href="#!"> By Smith C</a></div>,
									<div class="post-time"><a href="#!">2 Days ago</a></div>
									<a class="post-title" href="#!">7 Great Lessons You Can Learn From Business</a>
									<p class="mb-0">Ample order up in of in ready timed blind had now those ought set often which</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- =======================
	blog -->

	<!-- =======================
	blog -->
	<section class="py-4">
		<div class="container">
			<div class="p-4 p-sm-5">
				<div class="text-center px-0 px-sm-5">
					<h2>A web communications practice.</h2>
					<p class="m-0 px-0 px-md-5">A thing that looks beautiful and attractive always grabs eyeballs. The real challenge before companies in today's world is to make their products and services appealing to everyone.</p>
				</div>
				<div class="mt-3 text-center">
					<button class="btn btn-grad mb-0 mr-3">Sign up for free!</button>
				</div>
			</div>
		</div>
	</section>
	<!-- =======================
	blog -->

	<!-- =======================
	footer  -->
	<footer class="footer footer-dark pt-6 position-relative">
		<div class="footer-content">
			<div class="container">
				<div class="row">
					<!-- Footer widget 1 -->
					<div class="col-md-3 col-sm-6 order-sm-1">
						<div class="widget address">
							<a href="index.html" class="footer-logo mb-3 d-block">
							<img src="img/logo.svg"/>
							</a>








							<p>Linux Mint is free of charge (thanks to your donations and adverts on the website) and we hope you'll enjoy it.  Some of the packages we distribute are under the GPL. If you want to access their source code you can use the apt-get source command. If you can't find what you're looking for please write to root@linuxmint.com and we'll provide the source to you.</p>
						</div>
					</div>
					<!-- Footer widget 2 -->
					<div class="col-md-2 col-sm-4 order-sm-3">
						<div class="widget">
							<h6>Quick Links</h6>
							<ul class="nav flex-column">
								<li class="nav-item"><a class="nav-link" href="about-classic.html">About</a></li>
								<li class="nav-item"><a class="nav-link" href="contact.html">Donate</a></li>
								<li class="nav-item"><a class="nav-link" href="index.html"></a>Download</li>
								<li class="nav-item"><a class="nav-link" href="blog-grid-left-sidebar.html">Get Involved</a></li>
								<li class="nav-item"><a class="nav-link" href="portfolio-grid-column-4.html"></a></li>
							</ul>
						</div>
					</div>
					<!-- Footer widget 3 -->
					<div class="col-md-2 col-sm-4 order-sm-4">
						<div class="widget">
							<h6>Company</h6>
							<ul class="nav flex-column primary-hover">
								<li class="nav-item"><a class="nav-link" href="about-classic.html">Help</a></li>
								<li class="nav-item"><a class="nav-link" href="contact.html">Careers</a></li>
								<li class="nav-item"><a class="nav-link" href="index.html">Terms &amp; Conditions</a></li>
								<li class="nav-item"><a class="nav-link" href="blog-grid-left-sidebar.html">Privacy &amp; Policy</a></li>
								<li class="nav-item"><a class="nav-link" href="portfolio-grid-column-4.html">FAQs</a></li>
							</ul>
						</div>
					</div>
					<!-- Footer widget 4 -->
					<div class="col-md-2 col-sm-4 order-sm-5">
						<div class="widget">
							<h6>Support</h6>
							<ul class="nav flex-column primary-hover">
								<li class="nav-item"><a class="nav-link" href="about-classic.html">Documentation</a></li>
								<li class="nav-item"><a class="nav-link" href="contact.html">Knowledge Base</a></li>
								<li class="nav-item"><a class="nav-link" href="index.html">Forums</a></li>
								<li class="nav-item"><a class="nav-link" href="blog-grid-left-sidebar.html">Contact</a></li>
								<li class="nav-item"><a class="nav-link" href="portfolio-grid-column-4.html">Terms of Use</a></li>
							</ul>
						</div>
					</div>
					<!-- Footer widget 5 -->
					<div class="col-md-3 col-sm-6 order-sm-2">
						<div class="widget address" style="background-image: url('assets/images/world-map.png'); background-position: 50% 20px; background-repeat: no-repeat; background-size: contain;">
							<ul class="list-unstyled">
								<li class="media mb-3"><i class="mr-3 display-8 ti-map-alt"></i>1421 Coburn Hollow Road Metamora, Near Center Point, IL 61548. </li>
								<li class="media mb-3"><i class="mr-3 display-8 ti-headphone-alt"></i> (251) 854-6308 </li>
								<li class="media mb-3"><i class="mr-3 display-8 ti-email"></i> root@linuxmint.com</li>
								<li class="media mb-3"><i class="mr-3 display-8 ti-time"></i>
									<p>Mon - Fri: <strong>09:00 - 21:00</strong> <br>Sat &amp; Sun: <strong>Closed</strong></p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="divider mt-3"></div>
		<!--footer copyright -->
		<div class="footer-copyright py-3">
			<div class="container">
				<div class="d-md-flex justify-content-between align-items-center py-3 text-center text-md-left">
					<!-- copyright text -->
					<div class="copyright-text">Linux Mint is copyrighted since 2006 and trademarked through the Linux Mark Institute. All rights reserved.<br/>Linux® is the registered trademark of Linus Torvalds in the U.S. and other countries.</a></div>
					<!-- copyright links-->
					<div class="btn-group dropup dropdown">
					  <a class="dropdown-toggle btn btn-outline-secondary" href="#" role="button" id="dropdownLanguage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <img class="dropdown-item-icon" src="assets/images/flags/uk.svg" alt=""> English </a>
					  <div class="dropdown-menu mt-2 shadow" aria-labelledby="dropdownLanguage" style="">
					  	<span class="dropdown-item-text text-dark">Select language</span>
					  	<div class="dropdown-divider"></div>
					    <a class="dropdown-item text-dark" href="#"><img class="dropdown-item-icon" src="assets/images/flags/sp.svg" alt=""> Español</a>
					    <a class="dropdown-item text-dark" href="#"><img class="dropdown-item-icon" src="assets/images/flags/fr.svg" alt=""> Français</a>
					    <a class="dropdown-item text-dark" href="#"><img class="dropdown-item-icon" src="assets/images/flags/gr.svg" alt=""> Deutsch</a>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- =======================
	footer  -->

	<div> <a href="#" class="back-top btn btn-grad"><i class="ti-angle-up"></i></a> </div>

	<!--Global JS-->
	<script src="assets/vendor/jquery/jquery.min.js"></script>
	<script src="assets/vendor/popper.js/umd/popper.min.js"></script>
	<script src="assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!--Vendors-->
	<script src="assets/vendor/fancybox/js/jquery.fancybox.min.js"></script>
	<script src="assets/vendor/owlcarousel/js/owl.carousel.min.js"></script>

	<!--Template Functions-->
	<script src="assets/js/functions.js"></script>

</body>
</html>