<include src="mint-section-header.html" />
<include src="mint-section-title.html" title="Store" />

<section class="py-5">
    <div class="container store">

        <div class="row">
            <div class="col-lg-10">

                <h2 class="mb-4 text-primary">MintBox Mini 2</h2>

                <p>In association with <a href="http://www.fit-pc.com/web/purchase/order-direct-mintbox/">CompuLab</a>, Linux Mint introduced the "MintBox Mini 2".</p>

                <p>This mini-computer is tiny, unique, full of connectivity and its metal case is passively cooled so it is completely silent.</p>

                <p>Preview: <a href="https://blog.linuxmint.com/?p=3528">https://blog.linuxmint.com/?p=3528</a>

            </div>
        </div>

        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-sm-4 col-md-4">
                <a href="https://fit-iot.com/web/product/mbm2-pro/">
                    <div class="team-item text-center">
                        <div class="team-avatar">
                            <img src="img/store/mbm2-iso.png" alt="MintBox Mini 2"/>
                        </div>
                        <div class="team-desc">
                            <h5 class="team-name text-primary">MintBox Mini 2 Pro</h5>
                            <p class="text-dark">
                                Partner: CompuLab <br/>
                                Price: $349 <br/>
                                <span class="text-mini">
                                    <i>5% of the price is donated to Linux Mint</i>
                                </span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-4 col-md-4">
                <a href="https://fit-iot.com/web/product/mbm2/">
                    <div class="team-item text-center">
                        <div class="team-avatar">
                            <img src="img/store/mbm2-iso.png" alt="MintBox Mini 2"/>
                        </div>
                        <div class="team-desc">
                            <h5 class="team-name text-primary">MintBox Mini 2</h5>
                            <p class="text-dark">
                                Partner: CompuLab <br/>
                                Price: $299 <br/>
                                <span class="text-mini">
                                    <i>5% of the price is donated to Linux Mint</i>
                                </span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<include src="mint-section-sponsors.html" />
<include src="mint-section-footer.html" />
