<include src="mint-section-header.html"/>
<include src="mint-section-title.html" title="About Linux Mint"/>

<section class="py-5">

	<div class="container">
		<div class="row">
			<div class="col-lg-10">

				<p>Linux Mint is one of the most popular desktop Linux distributions and used by millions of people.</p>

				<p>It is one of the best alternatives to Microsoft Windows and Apple MacOS.</p>

				<h2 class="mb-4 text-primary">Purpose</h2>

					<p>The purpose of Linux Mint is to produce a modern, elegant and comfortable operating system which is both powerful and easy to use.</p>

					<p>Some of the reasons for the success of Linux Mint are:

					    <ul>
					    	<li>It works out of the box, with full multimedia support and is extremely easy to use.</li>
						    <li>It's both free of cost and open source.</li>
						    <li>It's community-driven. Users are encouraged to send feedback to the project so that their ideas can be used to improve Linux Mint.</li>
						    <li>Based on Debian and Ubuntu, it provides about 30,000 packages and one of the best software managers.</li>
						    <li>It's safe and reliable. Thanks to a conservative approach to software updates, a unique Update Manager and the robustness of its Linux architecture, </li>
						    <li>Linux Mint requires very little maintenance (no regressions, no antivirus, no anti-spyware...etc).</li>
						</ul>
					</p>

				<h2 class="mb-4 text-primary">History</h2>

					<p>In 2021 Linux Mint celebrated its 15th anniversary. Let's take a look back at how it all started and some of the events which have helped shape what it is today.</p>

					<div class="row no-gutters">
						<div class="col-md"> </div>
						<div class="col-md-1 text-center timeline-line flex-column d-none d-md-flex">
							<div class="timeline-dot bg-grad"></div>
						</div>
						<div class="col-md py-2">
							<div class="card border-primary">
								<div class="card-body">
									<div class="float-right small">2006</div>
									<h4 class="mb-2">Articles &amp; reviews</h4>
									<p>Clement Lefebvre, a French developer now commonly known as "Clem", was writing reviews and tutorials for various Linux sites. To host his own articles he started a website called "Linux Mint".</p>
								</div>
							</div>
						</div>
					</div>

					<div class="row no-gutters">
						<div class="col-md py-2">
							<div class="card border-primary">
								<div class="card-body">
									<div class="float-right small">2006</div>
									<h4 class="mb-2">Early releases</h4>
									<p>After a time, he began to get a flavour for what the community wanted out of a distribution and started implementing solutions to common problems. In August of 2006, Linux Mint 1.0 “Ada”, based on Kubuntu 6.06 was released.</p>
									<p>In November 2006, he switched to a GNOME desktop with Linux Mint 2.0 “Barbara”, based on Ubuntu 6.10.</p>
									<p><img src="img/about/ada.jpg" alt=""></p>
									<div class="list-group-number list-unstyled list-group-borderless">
										<a href="#" class="list-group-item list-group-item-action"><span>01</span> GNOME desktop</a>
										<a href="#" class="list-group-item list-group-item-action"><span>02</span> Multimedia codecs</a>
										<a href="#" class="list-group-item list-group-item-action"><span>03</span> Improved support for Wifi and NVIDIA</a>
										<a href="#" class="list-group-item list-group-item-action"><span>04</span> Added configuration options</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-1 text-center timeline-line flex-column d-none d-md-flex">
							<div class="timeline-dot bg-grad"></div>
						</div>
						<div class="col-md"></div>
					</div>

					<div class="row no-gutters">
						<div class="col-md"> </div>
						<div class="col-md-1 text-center timeline-line flex-column d-none d-md-flex">
							<div class="timeline-dot bg-grad"></div>
						</div>
						<div class="col-md py-2">
							<div class="card border-primary">
								<div class="card-body">
									<div class="float-right small">2007</div>
									<h4 class="mb-2">A new ambition</h4>
									<p>The project is extremely popular and grows rapidly. A team is formed, forums chat rooms and a website are open.</p>
									<p>By the time Linux Mint 3.0 "Cassandra" is released the project has a new logo, its own identity and the ambition to rival Windows and Mac OS.</p>
									<p><img src="img/about/cassandra.jpg" alt=""></p>
									<div class="list-group-number list-unstyled list-group-borderless">
										<a href="#" class="list-group-item list-group-item-action"><span>01</span> Filtered app menu</a>
										<a href="#" class="list-group-item list-group-item-action"><span>02</span> App store</a>
										<a href="#" class="list-group-item list-group-item-action"><span>03</span> Disk management</a>
										<a href="#" class="list-group-item list-group-item-action"><span>04</span> NTFS support</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row no-gutters">
						<div class="col-md py-2">
							<div class="card border-primary">
								<div class="card-body">
									<div class="float-right small">2007-2010</div>
									<h4 class="mb-2">Development &amp; growth</h4>
									<p>Linux Mint raises to the top and joins Ubuntu as one of the most popular desktops on the market.</p>
									<p><img src="img/about/felicia.png" alt=""></p>
									<p>Between Linux Mint 4.0 "Daryna" and Linux Mint 9.0 "Isadora", more and more tools make Linux Mint unique: mintupdate, mintinstall, mintdisk, mintmenu, mintdesktop, mintnanny, mintbackup, mintstick, mintwelcome, mintupload...</p>
									<p><img src="img/about/gloria.png" alt=""></p>
									<div class="list-group-number list-unstyled list-group-borderless">
										<a href="#" class="list-group-item list-group-item-action"><span>01</span> Update Manager</a>
										<a href="#" class="list-group-item list-group-item-action"><span>02</span> Unique features</a>
										<a href="#" class="list-group-item list-group-item-action"><span>03</span> Many Mint tools are developed</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-1 text-center timeline-line flex-column d-none d-md-flex">
							<div class="timeline-dot bg-grad"></div>
						</div>
						<div class="col-sm"></div>
					</div>

					<div class="row no-gutters">
						<div class="col-md"> </div>
						<div class="col-md-1 text-center timeline-line flex-column d-none d-md-flex">
							<div class="timeline-dot  bg-grad"></div>
						</div>
						<div class="col-md py-2">
							<div class="card border-primary">
								<div class="card-body">
									<div class="float-right small">2010</div>
									<h4 class="mb-2">A mature desktop</h4>
									<p>Linux Mint features a desktop experience based on GNOME 2 which has matured for now more than 5 years. It is full-featured, extremely stable and very popular.</p>
									<p><img src="img/about/julia.png" alt=""></p>
								</div>
							</div>
						</div>
					</div>

					<div class="row no-gutters">
						<div class="col-md py-2">
							<div class="card border-primary">
								<div class="card-body">
									<div class="float-right small">2011</div>
									<h4 class="mb-2">A traumatic release</h4>
									<p>When GNOME 3 replaces GNOME 2 it's a catastrophe for Linux Mint. Many features (the panel, the tray, the menu...etc) are missing and neither the desktop, the theme engine nor the toolkit are stable.</p>
									<p>Despite the reimplementation of most of the missing features, the release of Linux Mint 12 "Lisa" based on GNOME 3 is not good enough and is still to this day considered by the team as a regression.</p>
									<p><img src="img/about/lisa.png" alt=""></p>
									<p>To guarantee its future Linux Mint decides to widen the scope of its development and invests in 2 alternatives to GNOME 3: MATE, a joint project which consists in renaming GNOME 2 and bringing it back, and Cinnamon, a Mint project, which consists in adapting GNOME 3 and turning it into a full-featured desktop.</p>
								</div>
							</div>
						</div>
						<div class="col-md-1 text-center timeline-line flex-column d-none d-md-flex">
							<div class="timeline-dot bg-grad"></div>
						</div>
						<div class="col-sm"></div>
					</div>

					<div class="row no-gutters">
						<div class="col-md"> </div>
						<div class="col-md-1 text-center timeline-line flex-column d-none d-md-flex">
							<div class="timeline-dot bg-grad"></div>
						</div>
						<div class="col-md py-2">
							<div class="card border-primary">
								<div class="card-body">
									<div class="float-right small">2012-present</div>
									<h4 class="mb-2">The modern era</h4>
									<p>Since 2012 Linux Mint provides incremental improvements to what is a more and more refined desktop experience.</p>
									<p>The team has boosted its development by focusing on 3 desktop editions (Cinnamon, MATE and Xfce) and by taking the decisions in 2014 to only use long-term support releases.</p>
									<p><img src="img/about/uma.png" alt=""></p>
									<p>The accent is put on quality vs quantity, on doing less to do it better and on pleasing existing users rather than trying to attract new ones.</p>
									<p>Following the success of Cinnamon and its compatibility with other distributions, Linux Mint also started to develop cross-distribution and cross-desktop solutions. Nowadays some of the software developed by Linux Mint is enjoyed in many other distributions and bug reports and development are boosted by contributions from people outside of the Linux Mint community.</p>
								</div>
							</div>
						</div>
					</div>

			</div>
		</div>	<!-- row end -->
	</div> <!-- container end -->
</section>

<include src="mint-section-sponsors.html"/>
<include src="mint-section-footer.html"/>
