<include src="mint-section-header.html" />
<include src="mint-section-title.html" title="Store - MintBox Mini" />

<section class="py-5">
    <div class="container">
        <article class="py-4">
            <p>
                In association with
                <a
                    href="http://www.fit-pc.com/web/purchase/order-direct-mintbox/"
                    >CompuLab</a
                >, Linux Mint introduced the "MintBox3".
            </p>
            <p>
                These mini-computers are tiny, unique, full of connectivity and
                their metal case is passively cooled so they are completely
                silent.
            </p>
        </article>
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-sm-4 col-md-4">
                <a href="https://fit-iot.com/web/product/mbm2-pro/">
                    <div class="team-item text-center">
                        <div class="team-avatar">
                            <img
                                src="img/store/mbm2-iso.png"
                                alt="mintboxmini"
                            />
                        </div>
                        <div class="team-desc">
                            <h5 class="team-name text-primary">
                                MintBox Mini 2 Pro
                            </h5>
                            <p class="text-dark">
                                Partner: CompuLab <br />
                                Price: $349 <br />
                                <a href="https://blog.linuxmint.com/?p=3528"
                                    >Click here for a preview</a
                                >
                                <span class="text-mini">
                                    <i>
                                        5% of the price is donated to Linux Mint
                                    </i>
                                </span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-4 col-md-4">
                <a href="https://fit-iot.com/web/product/mbm2/">
                    <div class="team-item text-center">
                        <div class="team-avatar">
                            <img
                                src="img/store/mbm2-iso.png"
                                alt="mintboxmini"
                            />
                        </div>
                        <div class="team-desc">
                            <h5 class="team-name text-primary">
                                MintBox Mini 2
                            </h5>
                            <p class="text-dark">
                                Partner: CompuLab <br />
                                Price: $299 <br />
                                <a href="https://blog.linuxmint.com/?p=3528/"
                                    >Click here for a preview</a
                                >
                                <span class="text-mini">
                                    <i>
                                        5% of the price is donated to Linux Mint
                                    </i>
                                </span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<include src="mint-section-sponsors.html" />
<include src="mint-section-footer.html" />
