<section class="bg-dark">
	<div class="container">
		<div class="row justify-content-between align-items-center">
			<div class="col-sm-2">
				<h5 class="text-white">Brought to you by:</h5>
			</div>
			<div class="col-sm-10">
				<div class="owl-carousel owl-grab arrow-hover arrow-dark owl-loaded owl-drag" data-arrow="false" data-dots="false" data-items-xl="6" data-items-lg="5" data-items-md="4" data-items-sm="3" data-items-xs="2" data-autoplay="4500">

					<div class="owl-stage-outer">
						<div class="owl-stage" style="transform: translate3d(-1833px, 0px, 0px); transition: all 0.8s ease 0s; width: 3334px;">
							<div class="owl-item cloned" style="width: 136.667px; margin-right: 30px;">
								<div class="item"><img class="w-75 mx-auto" src="assets/images/clients/03.png" alt=""></div>
							</div>
							<div class="owl-item cloned" style="width: 136.667px; margin-right: 30px;">
								<div class="item"><img class="w-75 mx-auto" src="assets/images/clients/04.png" alt=""></div>
							</div>
							<div class="owl-item cloned" style="width: 136.667px; margin-right: 30px;">
								<div class="item"><img class="w-75 mx-auto" src="assets/images/clients/05.png" alt=""></div>
							</div>
							<div class="owl-item cloned" style="width: 136.667px; margin-right: 30px;">
								<div class="item"><img class="w-75 mx-auto" src="assets/images/clients/06.png" alt=""></div>
							</div>
							<div class="owl-item cloned" style="width: 136.667px; margin-right: 30px;">
								<div class="item"><img class="w-75 mx-auto" src="assets/images/clients/07.png" alt=""></div>
							</div>
							<div class="owl-item cloned" style="width: 136.667px; margin-right: 30px;">
								<div class="item"><img class="w-75 mx-auto" src="assets/images/clients/08.png" alt=""></div>
							</div>
							<div class="owl-item" style="width: 136.667px; margin-right: 30px;">
								<div class="item"><img class="w-75 mx-auto" src="assets/images/clients/01.png" alt=""></div>
							</div>
							<div class="owl-item" style="width: 136.667px; margin-right: 30px;">
								<div class="item"><img class="w-75 mx-auto" src="assets/images/clients/02.png" alt=""></div>
							</div>
							<div class="owl-item" style="width: 136.667px; margin-right: 30px;">
								<div class="item"><img class="w-75 mx-auto" src="assets/images/clients/03.png" alt=""></div>
							</div>
							<div class="owl-item" style="width: 136.667px; margin-right: 30px;">
								<div class="item"><img class="w-75 mx-auto" src="assets/images/clients/04.png" alt=""></div>
							</div>
							<div class="owl-item" style="width: 136.667px; margin-right: 30px;">
								<div class="item"><img class="w-75 mx-auto" src="assets/images/clients/05.png" alt=""></div>
							</div>
							<div class="owl-item active" style="width: 136.667px; margin-right: 30px;">
								<div class="item"><img class="w-75 mx-auto" src="assets/images/clients/06.png" alt=""></div>
							</div>
							<div class="owl-item active" style="width: 136.667px; margin-right: 30px;">
								<div class="item"><img class="w-75 mx-auto" src="assets/images/clients/07.png" alt=""></div>
							</div>
							<div class="owl-item active" style="width: 136.667px; margin-right: 30px;">
								<div class="item"><img class="w-75 mx-auto" src="assets/images/clients/08.png" alt=""></div>
							</div>
							<div class="owl-item cloned active" style="width: 136.667px; margin-right: 30px;">
								<div class="item"><img class="w-75 mx-auto" src="assets/images/clients/01.png" alt=""></div>
							</div>
							<div class="owl-item cloned active" style="width: 136.667px; margin-right: 30px;">
								<div class="item"><img class="w-75 mx-auto" src="assets/images/clients/02.png" alt=""></div>
							</div>
							<div class="owl-item cloned active" style="width: 136.667px; margin-right: 30px;">
								<div class="item"><img class="w-75 mx-auto" src="assets/images/clients/03.png" alt=""></div>
							</div>
							<div class="owl-item cloned" style="width: 136.667px; margin-right: 30px;">
								<div class="item"><img class="w-75 mx-auto" src="assets/images/clients/04.png" alt=""></div>
							</div>
							<div class="owl-item cloned" style="width: 136.667px; margin-right: 30px;">
								<div class="item"><img class="w-75 mx-auto" src="assets/images/clients/05.png" alt=""></div>
							</div>
							<div class="owl-item cloned" style="width: 136.667px; margin-right: 30px;">
								<div class="item"><img class="w-75 mx-auto" src="assets/images/clients/06.png" alt=""></div>
							</div>
						</div>
					</div>
					<div class="owl-nav disabled">
						<button type="button" role="presentation" class="owl-prev"><i class="ti-angle-left"></i></button>
						<button type="button" role="presentation" class="owl-next"><i class="ti-angle-right"></i></button>
					</div>
					<div class="owl-dots disabled">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>