<include src="mint-section-header.html"/>
<include src="mint-section-title.html" title="Sponsoring Linux Mint"/>

<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 mb-4">

                <h2 class="mb-4 text-primary">Introduction</h2>

                <p>By sponsoring Linux Mint you contribute to giving the development team a regular and predictable income. This is the best form of income for Linux Mint and for its development team.</p>

                <p>As a sponsor, your name is associated with the success of Linux Mint and shines within and around its community. You are known by users and visitors alike as one of the reasons Linux Mint is successful and available for free.</p>

                <h2 class="mb-4 text-primary">Sponsorship Levels</h2>

                <p>There are 4 levels of sponsorships:</p>

                <div class="col-sm-12 mb-5">
                    <div class="table-responsive-sm">
                        <table class="table table-lg table-bordered table-striped text-nowrap">
                            <thead class="all-text-white bg-grad">
                                <tr class="text-uppercase">
                                    <th scope="col">Sponsorship</th>
                                    <th scope="col">Contribution</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Gold</td>
                                    <td>$1,000/month</td>
                                </tr>
                                <tr>
                                    <td>Silver</td>
                                    <td>$500/month</td>
                                </tr>
                                <tr>
                                    <td>Bronze</td>
                                    <td>$100/month</td>
                                </tr>
                                <tr>
                                    <td>Community</td>
                                    <td>$20/month</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <h2 class="mb-4 text-primary">Exposure on the website</h2>

                <p>All sponsors appear in the sponsors page.</p>

                <p>The landing page of the website shows the Gold, Silver and Bronze sponsors as well as some of our partners.</p>

                <p>On every other page, a section appears just above the footer and shows 4 sponsors which are picked among the Gold, Silver and Bronze sponsors. Although the sponsors are picked randomly, higher level sponsors are shown more often. A Gold sponsor has twice as many chances of being shown than a Silver one, and 10 times more than a Bronze sponsor.</p>

                <h2 class="mb-4 text-primary">Exposure in the announcements</h2>

                <p>Each month, the development team publishes a post called the "Monthly News" on the <a href="https://blog.linuxmint.com">Linux Mint Blog</a>, where donors and sponsors are thanked and important events which occurred during the month are summarized. In this announcement, all Gold, Silver and Bronze sponsors are listed with their logo, and all Community sponsors are listed with their names.</p>

                <h2 class="mb-4 text-primary">Applying to become a sponsor</h2>

                <p>To start a sponsorship, choose a level and click on Subscribe:</p>

                <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="2SVR6K8CLES46">
                <table>
                <tr><td><input type="hidden" name="on0" value="Sponsorships"></td><td><select name="os0">
                    <option value="Gold">Gold : $1,000.00 USD - monthly</option>
                    <option value="Silver">Silver : $500.00 USD - monthly</option>
                    <option value="Bronze">Bronze : $100.00 USD - monthly</option>
                    <option value="Community">Community : $20.00 USD - monthly</option>
                </select> </td><td><input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"></td><td><img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"></td></tr>
                </table>
                <input type="hidden" name="currency_code" value="USD">
                </form>

            </div>
        </div>
    </div>
</section>

<include src="mint-section-sponsors.html"/>
<include src="mint-section-footer.html"/>
