<include src="mint-section-header.html"/>
<include src="mint-section-title.html" title="Teams"/>

<section class="py-5">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-12 mb-4">

                <p class="py-4">Many people contribute to the Linux Mint project. Here are the main teams and their leaders.</p>

                <h2 class="mb-4 text-primary">Team Leaders</h2>

                <div class="table-responsive-sm">
                    <table class="table table-lg table-bordered table-striped text-nowrap">
                        <thead class="all-text-white bg-grad">
                            <tr class="text-uppercase">
                                <th scope="col" colspan="3">Leader</th>
                                <th scope="col">Team</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"><img src="img/flags/fr.png" class="flag" alt="France"></th>
                                <td>Clement Lefebvre</td>
                                <td>"Clem"</td>
                                <td>Overall project and development team</td>
                            </tr>
                            <tr>
                                <th scope="row"><img src="img/flags/nl.png" class="flag" alt="Netherland"></th>
                                <td>Vincent Vermeulen</td>
                                <td>"Xenopeek"</td>
                                <td>Administration and moderation teams</td>
                            </tr>
                            <tr>
                                <th scope="row"><img src="img/flags/gb.png" class="flag" alt="United Kingdom"></th>
                                <td>Oscar799</td>
                                <td>"Oscar799"</td>
                                <td>Administration and moderation teams</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-12 mb-5">
                <h2 class="mb-4 text-primary">Teams</h2>
                <div class="table-responsive-sm">
                    <table class="table table-lg table-bordered table-striped text-nowrap">
                        <thead class="all-text-white bg-grad">
                            <tr class="text-uppercase">
                                <th scope="col">Team</th>
                                <th scope="col">Mission</th>
                                <th scope="col">Link</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>Development Team</strong></td>
                                <td>Software development and bug fixing</td>
                                <td><a href="https://github.com/linuxmint">Github</a></td>
                            </tr>
                            <tr>
                                <td rowspan="2"><strong>Administration and Moderation Teams</strong></td>
                                <td rowspan="2">Administration and moderation (forums, community website and IRC)</td>
                                <td><a href="https://community.linuxmint.com/user/moderators">Community website</a></td>
                            </tr>
                            <tr>
                                <td><a href="https://forums.linuxmint.com/memberlist.php?mode=group&g=15">Forums</a></td>
                            </tr>
                            <tr>
                                <td><strong>Design Team</strong></td>
                                <td>Web and user interface design</td>
                            </tr>
                            <tr>
                                <td><strong>Translation Teams</strong></td>
                                <td>Software translations</td>
                                <td><a href="https://community.linuxmint.com/iso/team">Launchpad</a></td>
                            </tr>
                            <tr>
                                <td><strong>QA Team</strong></td>
                                <td>Quality testing</td>
                                <td><a href="https://community.linuxmint.com/iso/team">Community website</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<include src="mint-section-sponsors.html"/>
<include src="mint-section-footer.html"/>