<include src="mint-section-header.html"/>
<include src="mint-section-title.html" title="Our Brand"/>
<link rel="stylesheet" type="text/css" href="css/brand.css"/>

<section class="pt-4 pb-0">
    <div class="container">
        <p class="mb-0">Find references to the Linux Mint brand guidelines and usage rules. Include our variants in logos and color
            palettes.</p>
    </div>
</section>

<section class="py-4">
    <div class="container">
        <div class="mx-auto">
            <h2 class="mb-4 text-primary">Our Logos</h2>

            <include src="mint-section-brand-logos.html"/>

        </div>
    </div>
</section>

<section class="py-4">
    <div class="container">
        <h2 class="mb-4 text-primary">Palette</h2>
        <p>We provide two different themes within Linux Mint, Mint-Y and Mint-X. </p>

        <include src="mint-section-brand-palettes.html"/>

    </div>
</section>

<section class="py-4">

    <div class="container ">
        <div class="row bg-white shadow m-0 p-2 border-radius-3">
            <div class="col-md-4">
                <div class="feature-box h-100 text-center d-flex flex-column pt-4">
                    <h3 class="feature-box-title">Merchandise</h3>
                    <p class="feature-box-desc pb-3">From T-shirts to Linux Mint branded computers, you can find our range of officially authorized Linux Mint branded merchandise in our store.</p>
                    <p class="mt-auto"><a href="mint-store.html" target="_blank" class="btn btn-grad">View our Store</a></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-box h-100 text-center d-flex flex-column pt-4">
                    <h3 class="feature-box-title">Find our Brand on GitHub</h3>
                    <p class="feature-box-desc pb-3">Click the link below to view Linux Mint branding and other assets on GitHub.</p>
                    <p class="mt-auto"><a href="https://github.com/linuxmint/brand-logo" target="_blank" class="btn btn-grad">View on GitHub</a></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-box h-100 text-center d-flex flex-column pt-4">
                    <h3 class="feature-box-title">Brand Usage</h3>
                    <p class="feature-box-desc pb-3">Linux Mint is copyrighted 2006 and trademarked through the Linux Mark Institute. All rights reserved.</p>
                    <p>Please contact <a href="mailto:root@linuxmint.com">root@linuxmint.com</a> for additional branding information.</p>
                </div>
            </div>
        </div>
    </div>

</section>

<include src="mint-section-sponsors.html"/>
<include src="mint-section-footer.html"/>
