<include src="mint-section-header.html" />

<include src="mint-section-title.html" title="Screenshots" />

<section class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 mx-auto">
        <div class="title text-center">
          <h2>Cinnamon Edition</h2>
          <div class="row my-4">
            <div class="col-md-3">
              <a
                href="img/screenshots/cinnamon/c1.jpg"
                data-lightbox="roadtrip"
              >
                <img
                  class="img-fluid img-thumbnail"
                  src="img/screenshots/cinnamon/thumb_c1.jpg"
                  alt=""
                />
              </a>
            </div>
            <div class="col-md-3">
              <a
                href="img/screenshots/cinnamon/c2.jpg"
                data-lightbox="roadtrip"
              >
                <img
                  class="img-fluid img-thumbnail"
                  src="img/screenshots/cinnamon/thumb_c2.jpg"
                  alt=""
                />
              </a>
            </div>
            <div class="col-md-3">
              <a
                href="img/screenshots/cinnamon/c3.jpg"
                data-lightbox="roadtrip"
              >
                <img
                  class="img-fluid img-thumbnail"
                  src="img/screenshots/cinnamon/thumb_c3.jpg"
                  alt=""
                />
              </a>
            </div>
            <div class="col-md-3">
              <a
                href="img/screenshots/cinnamon/c4.jpg"
                data-lightbox="roadtrip"
              >
                <img
                  class="img-fluid img-thumbnail"
                  src="img/screenshots/cinnamon/thumb_c4.jpg"
                  alt=""
                />
              </a>
            </div>
            <div class="col-md-3">
              <a
                href="img/screenshots/cinnamon/c5.jpg"
                data-lightbox="roadtrip"
              >
                <img
                  class="img-fluid img-thumbnail"
                  src="img/screenshots/cinnamon/thumb_c5.jpg"
                  alt=""
                />
              </a>
            </div>
            <div class="col-md-3">
              <a
                href="img/screenshots/cinnamon/c6.jpg"
                data-lightbox="roadtrip"
              >
                <img
                  class="img-fluid img-thumbnail"
                  src="img/screenshots/cinnamon/thumb_c6.jpg"
                  alt=""
                />
              </a>
            </div>
            <div class="col-md-3">
              <a
                href="img/screenshots/cinnamon/c7.jpg"
                data-lightbox="roadtrip"
              >
                <img
                  class="img-fluid img-thumbnail"
                  src="img/screenshots/cinnamon/thumb_c7.jpg"
                  alt=""
                />
              </a>
            </div>
            <div class="col-md-3">
              <a
                href="img/screenshots/cinnamon/c8.jpg"
                data-lightbox="roadtrip"
              >
                <img
                  class="img-fluid img-thumbnail"
                  src="img/screenshots/cinnamon/thumb_c8.jpg"
                  alt=""
                />
              </a>
            </div>
            <div class="col-md-3">
              <a
                href="img/screenshots/cinnamon/c9.jpg"
                data-lightbox="roadtrip"
              >
                <img
                  class="img-fluid img-thumbnail"
                  src="img/screenshots/cinnamon/thumb_c9.jpg"
                  alt=""
                />
              </a>
            </div>
            <div class="col-md-3">
              <a
                href="img/screenshots/cinnamon/c10.jpg"
                data-lightbox="roadtrip"
              >
                <img
                  class="img-fluid img-thumbnail"
                  src="img/screenshots/cinnamon/thumb_c10.jpg"
                  alt=""
                />
              </a>
            </div>
            <div class="col-md-3">
              <a
                href="img/screenshots/cinnamon/c11.jpg"
                data-lightbox="roadtrip"
              >
                <img
                  class="img-fluid img-thumbnail"
                  src="img/screenshots/cinnamon/thumb_c11.jpg"
                  alt=""
                />
              </a>
            </div>
            <div class="col-md-3">
              <a
                href="img/screenshots/cinnamon/c12.jpg"
                data-lightbox="roadtrip"
              >
                <img
                  class="img-fluid img-thumbnail"
                  src="img/screenshots/cinnamon/thumb_c12.jpg"
                  alt=""
                />
              </a>
            </div>
            <div class="col-md-3">
              <a
                href="img/screenshots/cinnamon/c13.jpg"
                data-lightbox="roadtrip"
              >
                <img
                  class="img-fluid img-thumbnail"
                  src="img/screenshots/cinnamon/thumb_c13.jpg"
                  alt=""
                />
              </a>
            </div>
            <div class="col-md-3">
              <a
                href="img/screenshots/cinnamon/c14.jpg"
                data-lightbox="roadtrip"
              >
                <img
                  class="img-fluid img-thumbnail"
                  src="img/screenshots/cinnamon/thumb_c14.jpg"
                  alt=""
                />
              </a>
            </div>
            <div class="col-md-3">
              <a
                href="img/screenshots/cinnamon/c15.jpg"
                data-lightbox="roadtrip"
              >
                <img
                  class="img-fluid img-thumbnail"
                  src="img/screenshots/cinnamon/thumb_c15.jpg"
                  alt=""
                />
              </a>
            </div>
            <div class="col-md-3">
              <a
                href="img/screenshots/cinnamon/c16.jpg"
                data-lightbox="roadtrip"
              >
                <img
                  class="img-fluid img-thumbnail"
                  src="img/screenshots/cinnamon/thumb_c16.jpg"
                  alt=""
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<include src="mint-section-sponsors.html" />
<include src="mint-section-footer.html" />
