<include src="mint-section-header.html" />

<include src="mint-section-title.html" title="Linux Mint Partners" />

<!-- ================ feature box ================ -->
<section>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <p class="text-center">
                Linux Mint enjoys close ties and relationships with its
                partners. Our project benefits from professional backing,
                support and services from these companies on a daily basis. They
                participate in our success, make our job easier and allow us to
                focus on our own area of expertise.
            </p>
            <!--  Feature 1 --->
            <div class="col-md-6">
                <div class="feature-box f-style-1 h-100 text-center icon-grad">
                    <div class="feature-box-icon">
                        <img
                            src="./img/sponsors/upstream/pia.png"
                            style="max-height: 50px"
                            alt="pia"
                        />
                    </div>
                    <h3 class="feature-box-title">PrivateInternetAccess</h3>
                    <p class="feature-box-desc">
                        <strong
                            ><a href="https://www.privateinternetaccess.com/"
                                >PrivateInternetAccess</a
                            ></strong
                        >
                        is one of the world’s­ leading VPN providers. The
                        company offers more than 3,000 servers located in 15
                        countries around the world for its users to choose from.
                        The company has been touted for their policy to never
                        log data and for offering some of the lowest
                        subscription prices available anywhere while also
                        offering unlimited bandwidth on up to five devices with
                        a single account. Browse anonymously and protect
                        yourself with Private Internet Access’ VPN services.
                    </p>
                    <p>
                        <img
                            src="./img/flags/us.png"
                            style="width: 16px"
                            title="USA"
                        />
                        <small>Linux Mint Partner since 2015.</small>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <!--  Feature --->
            <div class="col-md-4">
                <div class="feature-box f-style-1 h-100 text-center icon-grad">
                    <div class="feature-box-icon">
                        <img
                            src="./img/sponsors/upstream/eukhost.png"
                            style="max-height: 50px"
                            alt="eukhost"
                        />
                    </div>
                    <h3 class="feature-box-title">eUKhost Ltd</h3>
                    <p class="feature-box-desc">
                        <strong
                            ><a
                                href="http://www.eukhost.com/dedicated-server-hosting.php"
                                >eUKhost Ltd</a
                            ></strong
                        >
                        is one of the world’s­ leading VPN providers. The
                        company offers more than 3,000 servers located in 15
                        countries around the world for its users to choose from.
                        The company has been touted for their policy to never
                        log data and for offering some of the lowest
                        subscription prices available anywhere while also
                        offering unlimited bandwidth on up to five devices with
                        a single account. Browse anonymously and protect
                        yourself with Private Internet Access’ VPN services.
                    </p>
                    <p>
                        <img
                            src="./img/flags/gb.png"
                            style="width: 16px"
                            title="Great Britain"
                        />
                        <small>Linux Mint Partner since 2011.</small>
                    </p>
                </div>
            </div>
            <!--  Feature --->
            <div class="col-md-4">
                <div class="feature-box f-style-1 h-100 text-center icon-grad">
                    <div class="feature-box-icon">
                        <img
                            src="./img/sponsors/upstream/vaultnetworks.png"
                            style="max-height: 50px"
                            alt="vaultnetworks"
                        />
                    </div>
                    <h3 class="feature-box-title">Vault Networks</h3>
                    <p class="feature-box-desc">
                        <strong
                            ><a href="http://www.vaultnetworks.com"
                                >Vault Networks</a
                            ></strong
                        >
                        host the Linux Mint blog, they seed our torrents for
                        each release and they provide Linux Mint with servers
                        for remote testing and development.
                    </p>
                    <p>
                        <img
                            src="./img/flags/us.png"
                            style="width: 16px"
                            title="USA"
                        />
                        <small>Linux Mint Partner since 2009.</small>
                    </p>
                </div>
            </div>

            <!--  Feature --->
            <div class="col-md-4">
                <div class="feature-box f-style-1 h-100 text-center icon-grad">
                    <div class="feature-box-icon">
                        <img
                            src="./img/sponsors/upstream/ayk.png"
                            style="max-height: 50px"
                            alt="ayk"
                        />
                    </div>
                    <h3 class="feature-box-title">AYK Solutions</h3>
                    <p class="feature-box-desc">
                        <strong
                            ><a
                                href="http://www.ayksolutions.com/?utm_source=linuxmint.com&amp;utm_medium=banner&amp;utm_content=235x55banner&amp;utm_campaign=linuxmint235x55bannerROS"
                                >AYK Solutions</a
                            ></strong
                        >
                        provide Linux Mint with unmetered bandwidth and fast
                        dedicated servers which are used to host our package
                        repositories.
                    </p>

                    <p>
                        <img
                            src="./img/flags/us.png"
                            style="width: 16px"
                            title="USA"
                        />
                        <small>Linux Mint Partner since 2011.</small>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <!--  Feature --->

            <div class="col-md-4">
                <div class="feature-box f-style-1 h-100 text-center icon-grad">
                    <div class="feature-box-icon">
                        <img
                            src="./img/sponsors/upstream/hso.png"
                            style="max-height: 50px"
                            alt="hso"
                        />
                    </div>
                    <h3 class="feature-box-title">hSo</h3>
                    <p class="feature-box-desc">
                        <strong
                            ><a href="https://www.hso.co.uk/">hSo</a></strong
                        >
                        provide Linux Mint with a dedicated server which hosts
                        our public ISO archive and is used as our test server.
                    </p>
                    <p>
                        <img
                            src="./img/flags/gb.png"
                            style="width: 16px"
                            title="Great Britain"
                        />
                        <small>Linux Mint Partner since 2009.</small>
                    </p>
                </div>
            </div>

            <!--  Feature --->
            <div class="col-md-4">
                <div class="feature-box f-style-1 h-100 text-center icon-grad">
                    <div class="feature-box-icon">
                        <img
                            src="./img/sponsors/upstream/nutime.png"
                            style="max-height: 50px"
                            alt="nutime"
                        />
                    </div>
                    <h3 class="feature-box-title">NuTime</h3>
                    <p class="feature-box-desc">
                        <strong
                            ><a href="http://www.nutime.de/">NuTime</a></strong
                        >
                        was Linux Mint's first partner. They allowed our project
                        to grow in its early days. Nowadays, their sister
                        company, Spotchat is hosting our IRC channels.
                    </p>
                    <p>
                        <img
                            src="./img/flags/de.png"
                            style="width: 16px"
                            title="Germany"
                        />
                        <small>Linux Mint Partner since 2006.</small>
                    </p>
                </div>
            </div>

            <!--  Feature --->

            <div class="col-md-4">
                <div class="feature-box f-style-1 h-100 text-center icon-grad">
                    <div class="feature-box-icon">
                        <img
                            src="./img/sponsors/upstream/yahoo.png"
                            style="max-height: 50px"
                            alt="yahoo"
                        />
                    </div>
                    <h3 class="feature-box-title">Yahoo</h3>
                    <p class="feature-box-desc">
                        <strong><a href="http://yahoo.com/">Yahoo</a></strong>
                        is the default search engine in Linux Mint. The revenue
                        generated by Linux Mint users when searching and
                        clicking on sponsored links is shared between Yahoo and
                        Linux Mint.
                    </p>
                    <p>
                        <img
                            src="./img/flags/us.png"
                            style="width: 16px"
                            title="USA"
                        />
                        <small>Linux Mint Partner since 2012.</small>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <!--  Feature --->

            <div class="col-md-4">
                <div class="feature-box f-style-1 h-100 text-center icon-grad">
                    <div class="feature-box-icon">
                        <img
                            src="./img/sponsors/upstream/ddg.png"
                            style="max-height: 50px"
                            alt="ddg"
                        />
                    </div>
                    <h3 class="feature-box-title">DuckDuckGo</h3>
                    <p class="feature-box-desc">
                        <strong
                            ><a href="http://duckduckgo.com/?t=lm"
                                >DuckDuckGo</a
                            ></strong
                        >
                        is included by default in Linux Mint. The revenue
                        generated by Linux Mint users when searching and
                        clicking on sponsored links is shared between DuckDuckGo
                        and Linux Mint.
                    </p>
                    <p>
                        <img
                            src="./img/flags/us.png"
                            style="width: 16px"
                            title="USA"
                        />
                        <small>Linux Mint Partner since 2011.</small>
                    </p>
                </div>
            </div>

            <!--  Feature --->

            <div class="col-md-4">
                <div class="feature-box f-style-1 h-100 text-center icon-grad">
                    <div class="feature-box-icon">
                        <img
                            src="./img/sponsors/upstream/hellotux.gif"
                            style="max-height: 50px"
                            alt="hellotux"
                        />
                    </div>
                    <h3 class="feature-box-title">HELLOTUX</h3>
                    <p class="feature-box-desc">
                        <strong
                            ><a href="https://www.hellotux.com/linux_mint"
                                >HELLOTUX</a
                            ></strong
                        >
                        produce the official Linux Mint T-Shirt and Polo Shirt
                        and ship them Worldwide. For each shirt sold, $5 is
                        donated to Linux Mint.
                    </p>
                    <p>
                        <img
                            src="./img/flags/hu.png"
                            style="width: 16px"
                            title="Hungry"
                        />
                        <small>Linux Mint Partner since 2011.</small>
                    </p>
                </div>
            </div>

            <!--  Feature --->

            <div class="col-md-4">
                <div class="feature-box f-style-1 h-100 text-center icon-grad">
                    <div class="feature-box-icon">
                        <img
                            src="./img/sponsors/upstream/compulab.png"
                            style="max-height: 50px"
                            alt="compulab"
                        />
                    </div>
                    <h3 class="feature-box-title">CompuLab</h3>
                    <p class="feature-box-desc">
                        <strong
                            ><a
                                href="http://www.fit-pc.com/web/purchase/order-direct-mintbox/"
                                >CompuLab</a
                            ></strong
                        >
                        produce the mintBox, the official Linux Mint
                        mini-computer! For each mintBox sold, %10 of the sale is
                        donated to Linux Mint.
                    </p>
                    <p>
                        <img
                            src="./img/flags/il.png"
                            style="width: 16px"
                            title="Israel"
                        />
                        <small>Linux Mint Partner since 2012.</small>
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <!--  Feature --->

            <div class="col-md-4">
                <div class="feature-box f-style-1 h-100 text-center icon-grad">
                    <div class="feature-box-icon">
                        <img
                            src="./img/sponsors/upstream/thinkpenguin.png"
                            style="max-height: 50px"
                            alt="thinkpenguin"
                        />
                    </div>
                    <h3 class="feature-box-title">ThinkPenguin</h3>
                    <p class="feature-box-desc">
                        <strong
                            ><a href="http://linuxmint.thinkpenguin.com"
                                >ThinkPenguin</a
                            ></strong
                        >
                        sell Linux computers, netbooks and related products. For
                        each item sold, 10% of the sale is donated to Linux
                        Mint.
                    </p>
                    <p>
                        <img
                            src="./img/flags/us.png"
                            style="width: 16px"
                            title="USA"
                        />
                        <small>Linux Mint Partner since 2012.</small>
                    </p>
                </div>
            </div>

            <!--  Feature --->

            <div class="col-md-4">
                <div class="feature-box f-style-1 h-100 text-center icon-grad">
                    <div class="feature-box-icon">
                        <img
                            src="./img/sponsors/upstream/runesec.png"
                            style="max-height: 50px"
                            alt="runesec"
                        />
                    </div>
                    <h3 class="feature-box-title">RUNESEC</h3>
                    <p class="feature-box-desc">
                        <strong
                            ><a href="https://www.runesec.com"
                                >RUNESEC</a
                            ></strong
                        >
                        is a Cypriot company which offers Offensive Information
                        Security Assessment Services. They believe in giving
                        back knowledge and code to the infosec community through
                        their own independent research and development efforts.
                    </p>
                    <p>
                        <img
                            src="./img/flags/cy.png"
                            style="width: 16px"
                            title="Cyprus"
                        />
                        <small>Linux Mint Partner since 2017.</small>
                    </p>
                </div>
            </div>

            <!--  Feature --->

            <div class="col-md-4">
                <div class="feature-box f-style-1 h-100 text-center icon-grad">
                    <div class="feature-box-icon">
                        <img
                            src="./img/sponsors/upstream/shells.png"
                            style="max-height: 50px"
                            alt="shells"
                        />
                    </div>
                    <h3 class="feature-box-title">Shells</h3>
                    <p class="feature-box-desc">
                        <strong
                            ><a
                                href="https://www.shells.com/pricing?special=linux_mint"
                                >Shells</a
                            ></strong
                        >
                        hosts your Linux Mint environment in the cloud and lets
                        you access it from anywhere and on any device (Android,
                        iOS, Windows, Mac, Linux or any Web browser).
                    </p>
                    <p>
                        <img
                            src="./img/flags/us.png"
                            style="width: 16px"
                            title="USA"
                        />
                        <small>Linux Mint Partner since 2021.</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<include src="mint-section-footer.html" />
