<include src="mint-section-header.html"/>
<include src="mint-section-title.html" title="Frequently Asked Questions"/>

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-5">

                <h2 class="mb-4 text-primary">General</h2>

                <div class="accordion mb-0 accordion-grad" id="accordion1">

                    <div class="accordion-item">
                        <div class="accordion-title">
                            <a class="h6 mb-0" data-toggle="collapse" href="#collapse-100">What is Linux Mint?</a>
                        </div>
                        <div class="collapse show" id="collapse-100" data-parent="#accordion1">
                            <div class="accordion-content">
                                <p>Linux Mint is a free Linux-based operating system designed for use on desktop and laptop computers.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <div class="accordion-title">
                            <a class="h6 mb-0 collapsed" data-toggle="collapse" href="#collapse-101">Is Linux Mint suitable for individuals?</a>
                        </div>
                        <div class="collapse" id="collapse-101" data-parent="#accordion1">
                            <div class="accordion-content">
                                <p>Yes, definitely. Linux Mint is designed to be comfortable and easy to use but also powerful and configurable. Everything is done to make the user experience better.</p>
                                <p>Linux Mint is one of the most popular desktop Linux distributions and used by millions of people.</p>
                                <p>User feedback is very important to us and used to consistently improve the quality of Linux Mint.</p>
                            </div>
                        </div>
                    </div>


                    <div class="accordion-item">
                        <div class="accordion-title">
                            <a class="h6 mb-0 collapsed" data-toggle="collapse" href="#collapse-102">Is Linux Mint suitable for companies?</a>
                        </div>
                        <div class="collapse" id="collapse-102" data-parent="#accordion1">
                            <div class="accordion-content">
                                <p>Yes. Linux Mint provides Long-Term Support (LTS) releases which are supported for a duration of 5 years.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <div class="accordion-title">
                            <a class="h6 mb-0 collapsed" data-toggle="collapse" href="#collapse-103">What are the system requirements to run Linux Mint?</a>
                        </div>
                        <div class="collapse" id="collapse-103" data-parent="#accordion1">
                            <div class="accordion-content">
                                <p><ul>
                                    <li>2GB RAM (4GB recommended for a comfortable usage).</li>
                                    <li>20GB of disk space (100GB recommended).</li>
                                    <li>1024×768 resolution (on lower resolutions, press ALT to drag windows with the mouse if they don’t fit in the screen).
                                    </li>
                                </ul></p>
                            </div>
                        </div>
                    </div>

                </div>

                <h2 class="mb-4 text-primary">Licensing</h2>

                <div class="accordion mb-0 accordion-grad" id="accordion2">

                    <div class="accordion-item">
                        <div class="accordion-title">
                            <a class="h6 mb-0 collapsed" data-toggle="collapse" href="#collapse-6">Can I use Linux Mint for commercial purpose?</a>
                        </div>
                        <div class="collapse" id="collapse-6" data-parent="#accordion2">
                            <div class="accordion-content">
                                <p>Yes.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <div class="accordion-title">
                            <a class="h6 mb-0 collapsed" data-toggle="collapse" href="#collapse-7">Can I sell Linux Mint?</a>
                        </div>
                        <div class="collapse" id="collapse-7" data-parent="#accordion2">
                            <div class="accordion-content">
                                <p>Yes, you can sell Linux Mint without permission. What you cannot do is pretend to be Linux Mint or to let people believe you are affiliated with Linux Mint.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <div class="accordion-title">
                            <a class="h6 mb-0 collapsed" data-toggle="collapse" href="#collapse-8">Can I install Linux Mint on computers I sell to my customers?</a>
                        </div>
                        <div class="collapse" id="collapse-8" data-parent="#accordion2">
                            <div class="accordion-content">
                                <p>Yes. Make sure you pre-install Linux Mint in OEM mode to ensure your customers get the opportunity to choose their username and password after they boot their computer for the first time. Check the <a href="https://linuxmint-installation-guide.readthedocs.io/en/latest/oem.html">OEM section</a> of the installation guide.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <div class="accordion-title">
                            <a class="h6 mb-0 collapsed" data-toggle="collapse" href="#collapse-9">Can I use the Linux Mint logo and/or screenshots?</a>
                        </div>
                        <div class="collapse" id="collapse-9" data-parent="#accordion2">
                            <div class="accordion-content">
                                <p>Yes. You can use, promote and show Linux Mint, screenshots of Linux Mint and the Linux Mint logo in articles, magazines, websites, books, designs, movies, or any document as long as you don't pretend to be Linux Mint and that you don't let people believe you are affiliated with Linux Mint.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <div class="accordion-title">
                            <a class="h6 mb-0 collapsed" data-toggle="collapse" href="#collapse-4">Does Linux Mint include proprietary drivers?</a>
                        </div>
                        <div class="collapse" id="collapse-4" data-parent="#accordion2">
                            <div class="accordion-content">
                                <p>No. Proprietary drivers such as the ATI or Nvidia drivers are easy to install but not installed by default.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <div class="accordion-title">
                            <a class="h6 mb-0 collapsed" data-toggle="collapse" href="#collapse-5">What about proprietary software?</a>
                        </div>
                        <div class="collapse" id="collapse-5" data-parent="#accordion2">
                            <div class="accordion-content">
                                <p>Linux Mint does not support any political or ideological stance against any software programs or editors no matter what license they use. With that said, most if not all (depending on the edition) software used in Linux Mint is Free and Open Source. We believe in Open Source as a choice, not as a constraint. We think it makes sense to share code, to credit the technology we use, to let people help us, to allow others to build upon what we are making and to enable progress in general. We also enjoy sharing with the community, so we license our software under the GPL and the vast majority of components we use are Free and Open Source.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

<include src="mint-section-sponsors.html"/>
<include src="mint-section-footer.html"/>