<include src="mint-section-header.html"/>
<include src="mint-section-title.html" title="Contact Us"/>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-4">
                <div class="content">
                    <h2 class="heading subheading mb-3">Support</h2>
                    <p>
                        To seek help, support and assistance with using or
                        installing Linux Mint, please use the forums or the chat
                        room.
                    </p>

                    <p>
                        The forums are located at
                        <a href="https://forums.linuxmint.com"
                            >https://forums.linuxmint.com</a
                        >.
                    </p>

                    <p>
                        You can access the chatroom from within Linux Mint, by
                        launching "Menu -&gt; Internet -&gt; Hexchat".
                    </p>

                    <p>
                        Please be patient when waiting for an answer and don't
                        hesitate to have a look at
                        <a href="https://linuxmint.com/documentation.php"
                            >the user guide</a
                        >, while you are waiting.
                    </p>

                    <p>
                        If you are new to IRC (the technology used by the
                        chatroom), please read
                        <a
                            href="https://community.linuxmint.com/tutorial/view/12"
                            >this tutorial</a
                        >.
                    </p>

                    <h2 class="heading subheading mb-3">Administration</h2>

                    <p>
                        For queries related to passwords, accounts, registration
                        and moderation, please contact the administration team
                        at
                        <b>admin@linuxmint.com.</b>
                    </p>

                    <p>
                        Please do not address support queries to this address.
                    </p>

                    <h2 class="heading subheading mb-3">Other queries</h2>

                    <p>
                        For other queries, please send an email to
                        <b>root@linuxmint.com</b>.
                    </p>

                    <p>
                        Please do not address support or administration queries
                        to this address.
                    </p>
                </div>
            </div>
        </div>
        <!-- row end -->
    </div>
</section>

<include src="mint-section-sponsors.html"/>
<include src="mint-section-footer.html"/>
