@media (max-width: 1440px) {
  .nav-item:nth-last-of-type(1) {
    position: unset;
  }

  .navbar-nav {
    position: relative;
  }

  .nav-item:nth-last-of-type(-n + 2) > .dropdown-menu {
    right: 0px;
    left: unset;
  }
}
